/* Color
--------------------------------*/
$borderColor: #d8d8d8;
$white: #ffffff;
$oil: #999; 

/* Spacing
--------------------------------*/
$spacing: 20px;
$spacingDouble: 40px;
$searchButtonTop: 17px;
$halfSpacing: 12px;