body {
    background: #F1F1F1;
    font-family: 'Ubuntu', sans-serif;
}

.header-home.chile {
    background: #fff;
    background-size: cover;
}


/*#cta {
    background: #29abe5;
    min-height: 100px;
    color: #fff;
    max-height: 380px;
}*/

#cta {
    background: #29abe5;
    min-height: 100px;
    color: #fff;
    max-height: 380px;
}

#laptop {
    position: absolute;
    top: -100px;
}

#cta .container-text {
    padding: 80px 20px
}

#cta .container-text h3 {
    font-size: 28px;
    text-align: right;
    margin-bottom: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
}

#cta .container-text h2 {
    font-size: 44px;
    text-align: right;
    font-weight: bolder;
    margin-top: 5px;
    line-height: 110px;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
}

.iphone_holder {
    width: 300px;
    height: 526px;
    overflow: hidden;
    position: relative;
    background-image: url('https://s3.eu-central-1.amazonaws.com/vheurope/iphone-holder.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center top;
    margin-top: -50px !important;
}

.iphone_holder .iphone_inner {
    position: absolute;
    width: 203px;
    height: 355px;
    left: 45px;
    top: 59px;
    background-color: #fff;
    padding: 0px;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}


/*#cta .container-text h3.mobile {
    font-size: 120px;
    text-align: right;
    font-weight: bolder;
    margin-top: 5px;
    line-height: 110px;
    font-family: 'Ubuntu', sans-serif;
}*/

.toast {
    opacity: 1 !important
}

#popular-trips {
    padding: 20px;
    margin-bottom: 80px;
}

#popular-trips h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    display: block;
    color: #666;
    text-align: left;
}

.popular-trip {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

.popular-trip figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 100%;
    max-width: 100%;
    max-height: 180px;
    min-height: 180px;
    cursor: pointer;
}

.popular-trip figure img {
    position: relative;
    display: block;
    max-height: 120px;
    min-height: 120px;
    width: 100%;
    opacity: 1;
}

.popular-trip figure img {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 300px);
    transform: translate3d(0, 0, 300px);
}

.popular-trip figure {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.popular-trip figure:hover img {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.popular-trip figure figcaption {
    padding: 10px 10px;
    color: #999;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #fff !important;
}

.popular-trip figure figcaption::before,
.popular-trip figure figcaption::after {
    pointer-events: none
}

.popular-trip figure figcaption,
.popular-trip figure figcaption> a {
    position: absolute;
    top: 120px;
    left: 0;
    width: 101%;
    height: 60px;
}


/* ===[ Anchor will cover the whole item by default ]=== */


/* ===[ For some effects it will show as a button ]=== */

.popular-trip figure figcaption> a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.quickDate+ .pikaday__display {
    position: absolute;
    z-index: 2;
    top: 0%;
    left: 0;
    width: 100%;
    height: 96%;
    opacity: 0;
    cursor: pointer;
}

.popular-trip figure h3 {
    font-family: "Ubuntu", sans-serif;
    word-spacing: -0.15em;
    font-weight: 300 !important;
    font-size: .9em !important;
    width: 100%;
    margin-top: 3px !important;
    text-align: center;
    margin-bottom: 6px !important;
    color: #666;
}

.popular-trip figure h2 i {
    margin-right: 5px;
    margin-left: 5px;
}

.popular-trip span {
    font-family: "Ubuntu", sans-serif;
    color: #29abe5;
    font-weight: bolder;
    text-align: center;
    display: block;
}

.popular-trip span small {
    font-weight: lighter
}

.popular-trip figure h2,
.popular-trip figure p {
    margin: 0
}

.img-logo {
    max-width: 100px;
    text-align: center;
}

ul.social-links {
    margin-left: 2em;
}

ul.social-links li {
    font-size: 20px;
    margin: 40px 0 20px 0;
    padding: 0 !important;
}

ul.social-links li a {
    font-family: "Ubuntu", sans-serif;
    color: #333;
}

ul.social-links i.fa-circle {
    color: #CFCFCF;
}

ul.social-links i.fa-inverse {
    color: #393939;
}

ul.social-links li a:hover {
    color: #666;
    text-decoration: none;
}

ul.footer-links li {
    text-align: center;
    margin-right: 10px;
    padding-right: 20px;
}

ul.footer-links li a,
ul.footer-links li span {
    font-family: "Ubuntu", sans-serif !important;
    color: #CFCFCF !important;
}

ul.footer-links li a:hover {
    color: #333;
    text-decoration: none;
}

ul.footer-links li:last-child {
    border-right: none
}

ul.pasajes li a {
    font-family: "Ubuntu", sans-serif;
    color: #666;
}

.div-pasajes {
    display: flex;
    justify-content: center;
}

.bus h3 {
    font-family: "Ubuntu", sans-serif;
    color: #29abe5;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2em;
}

*:focus {
    outline: 0
}

.header.header-home {
    height: 100vh !important
}

.home-mask-white {
    height: 100%
}

.type-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 0 10px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    a {
        text-decoration: none
    }
}

.header {
    position: relative;
    width: 100%;
    min-height: 600px;
    max-height: 900px !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.logo-container {
    max-width: 100%;
    min-height: 75px;
    background: #fff;
    text-align: center !important;
    vertical-align: middle;
}

@media (min-width: 769px) {
    .bus h2 {
        font-size: 35px !important
    }
}

@media (max-width: 768px) {
    .bus h2 {
        font-size: 30px !important
    }
}

@media (max-width: 450px) {
    .bus h2 {
        font-size: 24px !important
    }
    .home-mask-white {
        height: 100%;
        background: none;
    }
}

@media (max-width: 320px) {
    .bus h2 {
        font-size: 22px !important
    }
    .home-mask-white {
        height: 100%;
        background: none;
    }
}

@media only screen and (max-width: 40em) {
    .vh-calendar {
        right: 20px !important;
    }
    .selectize-control.single .selectize-input {
        border: 1px solid #d0d0d0 !important;
        margin-bottom: 5px;
    }
    .destination-search {
        background: transparent !important;
        border: 0 !important;
    }
}

@media only screen and (max-width: 768px) {
    .selectize-control.single .selectize-input {
        border: 1px solid #d0d0d0 !important;
        margin-bottom: 5px;
    }
    .destination-search {
        background: transparent !important;
        border: 0 !important;
    }
}


/* ===[ Medium devices (desktops, 992px and up) ]=== */

@media (min-width: 992px) {
    .chile,
    .colombia,
    .peru {
        height: 800px
    }
}

.loading-page {
    color: #29abe5;
    font-size: 40px;
    padding: 20px 10px;
}

.fade-in-out {
    transition: 1s linear all;
    opacity: 1;
}

.fade-in-out.ng-hide {
    opacity: 0;
}