.hero {
    //display: none;
    position: relative;
    height: 220px;
    .hero-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/hero-result.jpg');
        background-position: center top;
        background-size: cover;
    }
    .hero-content {
        display: table;
        width: 100%;
        height: 100%;
        .hero-content-center {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }
    
}

#search-page.hero  .hero-img  {
    padding-top: 15px !important; 
    //background-image: url('../images/voyhoy_city.jpg');
    background: #29aae3;
}



.filter-container {
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    width: 80%;
    height: 100%;
    padding-top: 20px;
    color: #fff;
    background: #666;
}

.filter {
    margin: 0 0 20px;
    border: none;
    color: #666;
    background: #fff;
    //border-left: 1px solid $base;
    h3, label {
        color: #666;
    }

    .filter-module {
        padding: 10px 10px;
        /*border-top: solid 1px $lightOil;
        border-top: solid 1px $borderColor;*/
        &:first-child {
            border-top: none;
        }
    }

    button {
        margin: 0;
    }
}

body { 
    font-family: 'Montserrat', sans-serif;
    background: #f1f1f1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
} 


.capitalize {
    text-transform: capitalize !important;
}

.smallest-font {
    font-family: 'Ubuntu', sans-serif;
    font-size: .8555em;
    line-height: 1.6em;
    color: #222;
}

h2.text-fucsia {
        font-size: 1.2em;
    }

.nowrap {
    white-space: nowrap;
}

select {
  height: 48px !important;
  min-height: 48px !important;
  background-color: transparent; 
  width: 99% !important;
  border: none;
  -webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;


}

.selectize-control.single .selectize-input:after { right: 20px !important; }


.selectize-input input { margin-top: -5px !important; margin-left: 16px !important; }
.selectize-input.items { 
}

.selectize-input .item { 
    margin-top: 12px !important;
    margin-left: 16px !important;
}


.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
    min-height: 48px !important;
    min-width: 100px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.filter {
    font-family: 'Montserrat', sans-serif !important;
}

.logo-iv {
    max-width: 28px !important;
    max-height: 28px !important;
}



/* NAVBAR */
.center-mar {
    padding: 1.5em 2em 1em !important; 
    width: 120px !important; 
}

*:focus {
    outline: 0;
}


.filter {
    margin-bottom: 20px;
}

.filter-module {
}

.contrast-title {
    border-top: 1px solid #7c7d7b;
    color: #444444;
    height: 40px;
    border-radius: 0;
    margin: 0 5px;
}

.contrast-title h3 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: .95em;
    padding: 0 4px;
    font-weight: normal;
    text-align: left;
}

.filter-module ul li label{
    color: #666;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
}

select {
    background: #fff !important;
}



button.theme-fucsia,
.btn.theme-fucsia {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; 
    background: #1AC634;
    border: 0;
    color: #fff;
    transition: background-color 300ms ease-out;
    text-transform: uppercase;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    margin-bottom: 12px;
}

button.theme-fucsia-iv,
.btn.theme-fucsia-iv {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; 
    background: #1AC634;
    border: 0;
    color: #fff;
    transition: background-color 300ms ease-out;
    text-transform: uppercase;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-bottom: 12px;
    margin-top: 12px;
}

button.theme-fucsia:hover,
.btn.theme-fucsia:hover,
.btn.theme-fucsia-iv:hover {
    background: #00A837 !important;
    
}

.text-fucsia {
    color: #29aae3 !important;

}

.c-departure {
    padding-top: 14px;
    padding-left: 20px;
}

.c-arrival, .c-seat-type {
    padding-top: 14px;
    min-height: 70px;
}

.c-company, .c-approximate-time {
    padding-left: 20px;
    padding-top: 20px;

}

.c-approximate-time {
    padding-top: 20px;

}

#search-page.hero {
    margin-bottom: 20px !important;
    height: 125px;
}

#search-page.hero .hero-img {
    padding-top: 25px !important;
    background: transparent;
    border-bottom: 1px solid #7c7d7b;
}

.np {
    padding: 0 !important;
}

.nbr {
    border-right: 0 !important;
}


input[type="text"] {
    border-radius: 0px !important;
    min-height: 48px !important;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    box-shadow: none;
}                                    
   
input[type="checkbox"] + label,
input[type="radio"] + label 
{ 
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
}

input[type="checkbox"],
input[type="radio"] { margin-bottom: 10px !important }                                 



.checkbox-container { margin-top: -5px }
.checkbox-container input[type="checkbox"] { margin-bottom: 0px }

.hidden,
.hidden-seat,
.hidden-company,
.hidden-price,
.hidden-time { display: none !important }
.filter-title {
    font-family: 'Montserrat', sans-serif !important;
    with: 100%;
    background: #ededed;
    margin: -43px 0px 10px 0px;
    padding: 10px 10px;
    font-size: .95em;
}
.results-title {
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif !important;
}
.filter-btn-content {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px 5px;
}
.filter-btn-content span.duration {
    font-size: .9em;
    font-weight: bold;
}
.filter-header {
    display: block;
    min-height: 30px;
    width: 100%;
    padding: 8px;
}
.filter-header h3 {
    font-family: 'Montserrat', sans-serif !important;
    margin-bottom: 0px;
    margin-top: 2px;
    font-size: .95em;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
}
.filter-header span { 
    margin-top: -2px;
    color: #999;
    font-weight: bold;
}

#map_canvas {
    width: 100%;
    height: 240px;
    min-height: 240px;
    display: block;
    margin-bottom: 0px;
    margin-top: -20px;
}
.trip-info {
    background-color: #fff;
    padding: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.trip-info span.title {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
    color: #333333;
    font-size: .95em;
}
.trip-info span {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: .9em;
}
.trip-info span.content {
    float: right;
    text-transform: none;
    color: #000;
    font-size: .9em;
}



/* NEW RESULTS  */
.new-results { }
.header-results {
    padding: 0 0 10px 0;
    color: #333;
    font-size: 0.95em;
    text-align: left !important;
    cursor: pointer;
}

.header-results .bt, .header-results .br, .header-results .bb, .header-results .bl {
    background: #fff;
    color: #29abe5;
    font-weight: bold;
    padding-top: 6px;
    text-align: center;
}

.header-results .sort:hover {
    background: #fff;
}

.header-results .sort.active {
    background: #29abe5;
    color: #fff
}

.header-results .bt {
    border-top: 1px solid #29abe5;

}
.header-results .br{
    border-right: 1px solid #29abe5;
}
.header-results .bb {
    border-bottom: 1px solid #29abe5;
}
.header-results .bl {
    border-left: 1px solid #29abe5;
}
.new-results .results { padding: 0px 10px 0px 10px }
.new-results .results .result , .new-results-selected .results .result {
    min-height: 70px !important;
    background: #fff;
    margin-bottom: 10px;
    padding: 15px 0 5px 0;

}

.new-results .results .result:hover {
    -webkit-box-shadow: 2px 6px 12px 0px rgba(135,133,135,.5);
    -moz-box-shadow: 2px 6px 12px 0px rgba(135,133,135,.5);
    box-shadow: 2px 6px 12px 0px rgba(135,133,135,.5);
}

.new-results .results .result.seat:hover {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

.new-results-selected .results .result {
    border: 1px solid #29abe5;
    margin-bottom: 20px;

}

.new-results .results .result.result-iv {
    padding: 0 !important;

}
.new-results .results .result .button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.85rem;
}

.new-results-selected .results .result .button {
    display: none;
}
.new-results .results .result  img , .new-results-selected .results .result  img{
    max-width: 32px;
    max-height: 32px;
    display: inline;
    margin-left: 0px;
    margin-right: 10px;
}
.new-results .results .result .seat,
.new-results .results .result .horary {
    margin-top: 10px;
    font-size: .9rem;
}
.new-results .results .result .c-price { margin-top: 18px }
.new-results .results .result .seat { margin-top: 10px }
.new-results .results .result .company,
.new-results-selected .results .result .company {
    font-family: 'Montserrat', sans-serif;
    font-size: .85em !important;
    text-transform: capitalize;
    margin-top: 15px;
    font-weight: 400;
    line-height: 1em;
    color: #999;
}
.new-results .results .result.similar { background-color: #F0F0F0 !important }

.sort,
.sort-horary {
    font-family: 'Open Sans', sans-serif;
    border: none;
    display: inline-block;
    text-decoration: none;
    height: 30px;
}
.sort:hover,
.sort-horary:hover {
    text-decoration: none;
    background-color: transparent;
}
.sort:focus,
.sort-horary:focus { outline: none }
.sort:after,
.sort-horary:after {
    color: #fff;
    font-size: .8555332rem;
}
.sort.asc,
.sort.desc,
.sort-horary.asc
.sort-horary.desc {
    font-weight: 600;
    color: #333;
}
.sort.asc:after,
.sort-horary.asc:after {
    font-family: 'FontAwesome';
    content: "\f0de";
    position: relative;
    top: 0px;
    right: -6px;
}
.sort.desc:after,
.sort-horary.desc:after {
    font-family: 'FontAwesome';
    content: "\f0dd";
    position: relative;
    top: 0px;
    right: -6px;
}
button.theme-green,
.button.theme-green {
    background: #00A837;
    border: 0;
    color: #fff;
    transition: background-color 300ms ease-out;
    text-transform: uppercase;
    padding: 2px auto !important;
    margin-bottom: 0;
    font-family: 'Montserrat',sans-serif;
}
button.theme-green:hover,
.button.theme-green:hover {
    background: #1AC634;
    color: #fff;
}
button.theme-green.outline,
.button.theme-green.outline {
    background: #fff;
    border: 2px solid #1ac634;
    color: #1ac634;
    transition: background-color 300ms ease-out;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    margin-bottom: 0;
}
button.theme-green.outline:hover,
.button.theme-green.outline:hover {
    background: #1AC634;
    border: 2px solid #1ac634;
    color: #fff;
}
button.theme-blue-2,
.btn.theme-blue-2 {
    background: #29aae3;
    border: 0;
    color: #fff;
    transition: background-color 300ms ease-out;
    text-transform: uppercase;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    margin-bottom: 0;
}
button.theme-blue-2:hover,
.btn.theme-blue-2:hover {
    background: #58bef2;
    border: 0;
    color: #fff;
    transition: background-color 300ms ease-out;
   
}
button.secondary,
.button.secondary {
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px auto;
    margin-bottom: 0;
    font-weight: 600;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
button.secondary.outline,
.button.secondary.outline {
    background: #fff;
    border: 2px solid #b9b9b9;
    color: #666;
    transition: background-color 300ms ease-out;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    margin-bottom: 0;
    font-size: .85em !important;
}
button.secondary.outline:hover,
.button.secondary.outline:hover {
    background: #b9b9b9;
    border: 1px solid #b9b9b9;
    color: #fff;
}
button.theme-gray,
.btn.theme-gray {
    text-transform: uppercase;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 3px;
    margin-bottom: 0;
    font-weight: 600;
    border: 1px solid #999 !important;

}

button.theme-gray:hover,
.btn.theme-gray:hover {
    background-color: #666;
    color: #fff;

}

button.theme-search,
.button.theme-search {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 600;
    font-size: .9em;
    transition: background-color 300ms ease-out;
    border-radius: 3px;
    margin-top: 20px;
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}

@media only screen and (max-width: 40em) { 
    .vh-calendar {
        right: 20px !important;
    }
    .new-results .header-results{
        margin-top: -34px;
        font-size: .855332rem;
        text-align: center !important;
    }
    .new-results .results .result  img { display: none !important; }
    .conttainer-results { padding: 0 !important }
    .container-collapse .header-collapse {
        text-align: left;
        margin-left: 15px;
    }
    .new-results .results .result { min-height: 70px !important }
    .new-results .results .result .company  {
        font-size: .75em !important;
        width: 94%;
        float: left !important;
        text-align: left;
        margin-bottom: 0px;
        margin-top: 0 !important;
    }
    .new-results .results .result .company p {
        text-align: left;
        margin-bottom: 0;
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        width: 98%;
    }

    

    .new-results .results .result .horary .divider-time,
    .new-results .results .result .horary .approximate-time { display: none }
    .new-results .results .result .horary .arrival-time { display: block }
    .new-results .results .result .company { margin-top: 0px !important }
    .new-results .results .result .horary {
        font-size: .7rem;
        margin-top: 15px !important;
    }
    .new-results .results .result .price { margin-top: 12px }
    .new-results .results .result .button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: .89rem;
        padding: 15px 5px;
        margin-top: 0;
    }

    button.theme-fucsia-iv, .button.theme-fucsia-iv {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        margin-top: 20px !important;
    }
    .results-title  small {
        display: block;
        margin-top: 8px;
    }
    #origin.CL,
    #destination.CL,
    #origin.CO,
    #destination.CO,
    #origin.PE,
    #destination.PE {
        background-position: 6px 6px;
        padding-left: 36px;
    }
    .filter-module { padding: 10px 30px !important }
    .mtm { margin-top: 10px }
    .no-route-results .results  .result { margin-left: 0 !important }

    .dbm {
        display: block !important;
    }

    .nbt {
      border-top: 0 !important;
      border-bottom: 0 !important;
    }

    .np {
        padding: 10px 10px !important;
    }

    .selectize-control.single .selectize-input {
        border: 1px solid  #d0d0d0 !important;
        margin-bottom: 5px;
    }
    .destination-search {
        background: transparent !important;
        border: 0 !important;
    }

    button.theme-fucsia, 
    .btn.theme-fucsia, 
    button.theme-fucsia-iv, 
    .btn.theme-fucsia-iv {
        font-size: .65em;
        padding: 1em;

    }
    h2.text-fucsia {
        font-size: 1.2em;
    }
}
@media only screen and (min-width: 800px) and (max-width: 800px) { 
    .new-results .results .result .button {
        font-weight: 600;
        font-size: .7rem;
    }
}
@media only screen and (max-width: 768px) { 
    .container-responsive {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
    }
    .conttainer-results { padding: 0 !important }
    .new-results .header-results {
        margin-top: -34px;
        font-size: .855332rem;
        text-align: center !important;
    }
    input[type="text"] { font-size: .8em }
    .new-results .results .result .button {
        font-weight: 600;
        font-size: .75rem;
    }
    .new-results .results .result .company  { font-size: .75em !important }
    .new-results .results .result .horary,
    .new-results .results .result .seat { font-size: .8rem }

    .dbm {
        display: block !important;
    }

    .nbt {
        border-top: 0 !important;
        border-bottom: 0 !important;

    }

    .np {
        /*padding: 0px 10px !important;*/
    }

    .selectize-control.single .selectize-input {
        border: 1px solid  #d0d0d0 !important;
        margin-bottom: 5px;

    }
    .destination-search {
        background: transparent !important;
        border: 0 !important;

    }


}
@media only screen and (min-width: 320px) and (max-width: 320px) { 
    .departure-time,
    .arrival-time { font-size: .95em }
    .dbm {
        display: block !important;
    }

    .nbt {
      border-top: 0 !important;
      border-bottom: 0 !important;

    }

    .np {
        padding: 10px 10px !important;
    }

    .selectize-control.single .selectize-input {
        border: 1px solid  #d0d0d0 !important;
        margin-bottom: 5px;

    }

    .destination-search {
        background: transparent !important;
        border: 0 !important;

    }
}

.selected-trip {
    border: solid 1px #29AAE3 !important;
    margin-bottom: 20px !important;
    border-radius: 6px;
}
.no-route-results { }
.no-route-results .results { }
.no-route-results .results  .result {
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-left: 4px;
}
.no-route-results .results  .result .company {
    border-bottom: 1px solid #c0c0c0;
    margin-left: 0;
    margin-right: 0;
    padding: 8px 0;
}
.no-route-results .results  .result .company h4 { margin-top: 15px !important }
.no-route-results .results  .result .headers {
    border-bottom: 1px solid #c0c0c0;
    margin-left: 0;
    margin-right: 0;
    padding: 8px 0;
    font-size: .8em;
}
.no-route-results .results  .result .content {
    margin-left: 0;
    margin-right: 0;
    padding: 10px 0;
}
.no-route-results .results  .result .content a.terminal {
    font-weight: bold;
    color: #29aae3;
    font-size: .85em;
}
.no-route-results .results  .result .content a:hover.terminal {
    font-weight: bold;
    color: #2392c3;
}
.no-route-results .results  .result .content span.phone {
    font-weight: bold;
    color: #999;
    font-size: .75em;
}
.no-route-results .results  .result .content p {
    margin-bottom: 2px;
    font-size: .8em;
    font-weight: bold;
    text-decoration: underline;
}
.no-route-results .results  .result .company-logo { max-height: 60px }


.forward-ida {
    float: right;
}

.destination-search {
    background: #fff;
    border: none;
    min-height: 50px;
    max-height: 45px;
    border: 1px solid #c1c1c1;
}


.destination-search  .switcheroo {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 48%;
    right: 74.58%;
    margin-top: -12.5px;
    margin-right: -12.5px;
    cursor: pointer;
    background-image: url(https://53cd8d70252dd54517d6-c706c137decf6f248ae663ae4fcfd4d4.ssl.cf1.rackcdn.com/img/switcheroo.png);
    z-index: 10;
}


@media only screen and (max-width: 40.063em) {
    .hero {
    height: 320px !important;

    }

    #search-page.hero .hero-img {
        border-bottom: 0;
    }

    .nbrr {
        border-right: 0 !important;
    }

}


.row .row {
    margin-left: -0.7375rem;
    margin-right: -0.7375rem;
}

@media only screen and (max-width: 1024px) {
  .new-results .results .result .button {
    font-size: 0.65rem;
}

}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.loading span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.loading span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.loading span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}

.vh-calendar {
    position: absolute;
    top: 40%;
    right: 10px;
    color: #999;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    z-index: 10;
}

.clear-calendar {
    opacity: 0;
    color: #ff2929;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
.clear-field {
    color: #ff2929;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    cursor: pointer;
    right: 15px;
}

.alternativeBox{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
}

.disable-box{
    opacity: .5;
}

.disable-box a{
    pointer-events: none;
    cursor: default;
}

.disable-box div{
    pointer-events: none;
    cursor: default;
}

.disable-box button{
    pointer-events: none;
    cursor: not-allowed;
}

.change-departure{
    display: flex;
    justify-content: flex-end;
}


@media only screen and (max-width: 40em) {
    .vh-calendar {
        right: 20px !important;
    }
}


@media only screen and (max-width: 992px) {
   .nbt {
      border-top: 0 !important;
      border-bottom: 0 !important;

    }
    .conttainer-results { margin-top: 30px !important }
}

#gmaps {
    width: 100%;
    height: 240px;
    min-height: 240px;
    display: block;
    margin-bottom: 0px;
    margin-top: -20px;
}

.selectize-control.single .selectize-input:after {
    border-style: none !important;
    border-width: none !important;
    border-color: transparent transparent transparent !important;
}

.terminals {
        overflow: hidden !important;
        white-space: nowrap !important;
        -ms-text-overflow: ellipsis !important;
        text-overflow: ellipsis !important;
        width: 98% !important;
    }

#passages_link {
    display: none;
}
.btn.outline {
    background-color: #f1f1f1;
    border-radius: 0;
}
#ngProgress-container {
    background: #a9e1f9;
    border-radius: 5px;
}