$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path:   "../bower_components/font-awesome/fonts" !default;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower


@import "views/variables.scss";
@import "views/mixins.scss";
@import "views/pikaday.scss";

@import "views/homepage.scss";
@import "views/search.scss";
@import "views/seat.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.navbar-default {
    margin-bottom: 0;
}

.text-muted {
	color: #999 !important;
}

.text-muted-dark {
	color: #333 !important;
	font-weight: bold;
}

.modal-content {
    border-radius: 0;
    padding: 15px 20px;
}

.modal-header {
    border-bottom: 0;
}

rzslider .rz-pointer {
    background-color: #666;
}
rzslider .rz-bar.rz-selection {
    background: #666;
}
rzslider .rz-pointer.rz-active:after{
    background-color: #d0d0d0;
}

