$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path:   "../bower_components/font-awesome/fonts" !default;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
@import "weather-icons/sass/weather-icons.scss";
// endbower


@import "utils/variables.scss";
@import "utils/mixins.scss";

@import "assets/pikaday.scss";
@import "assets/weather.scss";

@import "modules/searchEngine.scss";

@import "views/homepage.scss";
@import "views/search.scss";
@import "views/seat.scss";
@import "views/login.scss";
@import "views/profile.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}
a {
   outline: 0 !important;
}

select {
  height: 48px !important;
  min-height: 48px !important;
  background-color: transparent;
  width: 99% !important;
  border: none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

input[type="text"] {
  border-radius: 0px !important;
  min-height: 48px !important;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  // border-right: 1px solid #dedede;
  box-shadow: none;
  padding-left: 10px;
  width: 99%;
}                             
   
input[type="checkbox"] + label,
input[type="radio"] + label 
{ 
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
}

input[type="checkbox"],
input[type="radio"] { margin-bottom: 10px !important }    

.italic {
   font-style: italic;
}

.label-default {
  background-color: #949599;
  font-family: "Ubuntu", sans-serif;
  padding: 4px 6px;
}
.navbar-default {
    margin-bottom: 0;
}

.text-muted {
	color: #999 !important;
}

.text-muted-dark {
	color: #333 !important;
	font-weight: bold;
}

.modal-content {
    border-radius: 0;
    padding: 15px 20px;
}

.modal-header {
    border-bottom: 0;
}

rzslider .rz-pointer {
  top: -4px;
  z-index: 3;
  width: 10px;
  height: 10px;
  background-color: #666;
}
rzslider .rz-bar.rz-selection {
    background: #25A8E0;
}
rzslider .rz-pointer.rz-active:after{
    background-color: transparent;
}

.text-justify {
  text-align: justify !important;
}

.counter{
    border: solid 1px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    color: #00ACEC;
    font-size: 1.5em;
    top: .5em;
    left: 50%;
    max-height: 30px;
    float: left;
    position: absolute;
}

.cth { 
  cursor: pointer !important;
}

.pikaday__display.pikaday__display--pikaday {
  cursor: pointer !important;
}

.cookie-message {
  min-height: 40px;
  position:fixed;
  top:0;left:0;right:0;
  padding:10px 85px 0 20px;
  background:#fff;
  border-bottom:1px solid #ccc;
  box-shadow:0px 0px 3px #ccc;
  z-index: 99;
}
.cookie-message a {
  position:absolute;
  top:0; *top:-2px; right:20px;
  cursor:pointer;
}
.cookie-message p, .cookie-message a {
  color:#333;
  font:bold 11px/18px Arial;
  margin:0.6em 0;
}
.cookie-message a {
  margin-top: 10px;
}
.blue {
  border-bottom:1px solid #666;
  background-color:#888;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666), color-stop(50%, #888), color-stop(100%, #0e9dd2));
  background: -webkit-linear-gradient(#666, #888, #999);
  background: -moz-linear-gradient(#666, #888, #999);
  background: -o-linear-gradient(#666, #888, #999);
  background: -ms-linear-gradient(#666, #888, #999);
  background: linear-gradient(#666, #888, #999);
}
.blue p, .blue a { color:#fff; }

.initial{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350%;
    background: #DADADA;
    z-index: 20;
}

.welcome{
    width: 500px;
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -125px;
    text-align: center;
}

.select-passengers {
    border: 1px solid #c1c1c1;
    max-height: 40px;
}

   .popover-select-passengers {
        position: absolute;
        min-width: 160px;
        max-width: 160px;
        min-height: 130px;
        z-index: 1000;
        background: #fff;
        display: none;
        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 16px 2px rgba(156,144,156,1);
        -moz-box-shadow: 0px 0px 16px 2px rgba(156,144,156,1);
        box-shadow: 0px 0px 16px 2px rgba(156,144,156,1);
    }
    .popover-select-passengers-wrapper {
       padding: 5px; 
    }
    .popover-select-passengers-wrapper h5 {
        font-size: .9em;
        margin-top: 2px;
        margin-bottom: 2px;
        line-height: 20px;
       border-bottom: 1px solid #d1d1d1;

    }
    .popover-select-passengers-wrapper .input-group {
       
       border-bottom: 1px solid #d1d1d1;

    }
     .popover-select-passengers-wrapper .input-group:last-child {
       
       border-bottom: none;

    }
    .popover-select-passengers-wrapper input {
        max-height: 32px !important;
        min-height: 32px !important;
        height: 32px !important;
        padding: 1px !important;

    }
     .popover-select-passengers-wrapper label {
       min-width: 60px;
       font-weight: normal;
       font-size: .9em;
    }

    .popover-select-passengers-wrapper button {
       border-radius: 80px !important;
    }

    .popover-select-passengers-wrapper button:focus {outline:0;}
    
    #popover-bg {
      background: 0;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 999;
      display: none;
      top: 0;
      left: 0;
  }
