<style>
	.box {
    border-color: #f1f1f1;
    min-height: 20px;
    position: relative;
    min-height: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.box .box-header {
    color: #333 !important;
    line-height: 35px;
    font-size: 12px;
    background: #f1f1f1;
    height: 35px;
    padding: 0 0 0 10px;
    margin: 0;
}

.box .box-header.open i.show-down:before {
    font-family: 'FontAwesome';
    content: "\f077";
}

.box .box-footer {
    font-family: 'Ubuntu', sans-serif;
    color: #333333 !important;
    line-height: 35px;
    font-size: 12px;
    background: #fff;
    height: 35px;
    padding: 0 0 0 10px;
    margin: 0;
}

.box .box-header .title {
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    float: left;
    max-height: 35px;
    color: #333 !important;
}

.box .box-header h3 {
    line-height: 35px;
    font-family: 'Ubuntu', sans-serif;
}

.box .box-header .title i {
    background: #29aae3;
    color: #fff;
    padding: 10px 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0px 0px -20px -10px;
    font-size: 14px;
}

.box .box-content {
    font-family: 'Ubuntu', sans-serif;
    padding: 20px 20px 20px 20px;
    overflow: hidden;
    background: #fff;
}

.box .box-content p { margin-bottom: 5px }

.box .box-content.inversed {
    background: #29aae3;
    color: #fff;
}

.profile img {
	min-width: 160px;
	max-width: 160px;
}

.profile p{
	font-weight: bolder;
	color: #000;
	font-size: 1.2em;
	margin-top: 10px;
}
</style>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<span translate>FOOTER.ABOUTUS</span>
		</div>
	</div>
</div>

<div class="container hidden">
	<div class="row">
  <div class="col-md-6">
     <div class='box'>
                    <div class='box-header'>
                        <h3 class='title'>Nosotros</h3>
                    </div>
                    <div class='box-content'>
                    </div>
      </div>
    
  </div>
  <div class="col-md-6"></div>
		<div class="col-md-12">
			<br>
			 <div class='box'>
                    <div class='box-header'>
                        <h3 class='title'>Nosotros</h3>
                    </div>

                    <div class='box-content'>
                         <div class='row'>
                              <div class='col-md-6'>
                                   <h5><strong>Nuestra Misión</strong></h5>
                                   <p>Dicho de la forma más sencilla, queremos ayudarte a viajar de A a B.</p>
                                        <p>Nuestro objetivo es proporcionar a nuestros clientes con:</p>
                                        <ul>
                                             <li>Información actualizada sobre como viajar de A a B.</li>
                                             <li>Proporcionar todas las posibilidades de viaje y conexión entre dos puntos.</li>
                                             <li>Una comparación rápida y fácil entre un mismo y distintos medios de transporte.</li>
                                             <li>Compra de billetes de forma fiable y ágil.</li>
                                        </ul>
                                        <p>Todo esto en un sólo sitio web en un par de clicks: <a href='http://www.resertrip.com'>www.resertrip.com</a></p>
                                        <p>La movilidad se ha convertido en una característica clave de nues- tra sociedad global. Frente a una oferta cada vez mayor entre dis- tintos medios de transporte, la complejidad de encontrar la opor- tunidad que mejor se adapta a las necesidades del cliente y el mo- mento puede ser desalentadora.</p>
                                        <p>
                                             Desde aerolíneas de bajo coste a líneas de autobús. <br>
                                             Desde el tren de alta velocidad al ferry. <br>
                                             Desde el transporte público al transporte privados (coche compar- tido, Uber, etc....) <br>
                                             Las opciones se incrementan cada día y también la complejidad.
                                        </p>
                                        <p>Cómo puedo viajar fácilmente entre A y B? www.resertrip.com es la respuesta a esta pregunta, reservando tu viaje en un sitio web con sólo un par de clicks.</p>

                              </div>
                              <div class='col-md-6'>
                                   <h5><strong>Nuestro Proyecto</strong></h5>
                                   <p>Queremos crear no sólo una plataforma digital donde los clientes pueden comparar y comprar billetes, sino que también queremos proveer de información para facilitar el viaje. Información sobre las compañías de transporte, las terminales y estaciones (bus, tren, aeropuerto), qué actividades se pueden hacer en el punto de desti- no, etc....</p>
                                   <p>Además, queremos facilitar toda clase de servicios alrededor del viaje tales como el alquiler de un coche, la reserva de un hotel, reserva de una atracción turística, etc. ... En definitiva, todo lo que necesitas en tu viaje directamente en un portal y en sólo unos clicks, y en tantos países como sea posible.</p>
                                   <p>Estamos desarrollando nuestra presencia en Europa y en Sudaméri- ca en un primer momento, y tenemos planes para expandir a otros países en un futuro próximo. Tanto si estas viajando en tu propio país, como si lo haces a otro país por trabajo o por vacaciones, nos proponemos ayudarte a que tu viaje sea lo más fácil posible. Reser- va tu próximo viaje en <a href='http://www.resertrip.com.'>www.resertrip.com.</a></p>
                                   
                              </div>
                         </div>
                         <div class='row'>
                              <div class='col-md-12'>
                                   <h5><strong>Nuestro Equipo</strong></h5>
                                   <p>Somos un equipo internacional, diverso y con mucha experiencia tanto en el mundo del transporte como en marketing digital. Estamos basados en Madrid y somos la primera plataforma de viaje multimodal en internet con base en España.</p>
                              </div>
                         </div>
                         <br><br>
                         <div class='row'>

                              <div class='col-md-4'>
                                   <div class='profile text-center'>
                                        <img src='https://s3.eu-central-1.amazonaws.com/vheurope/team/roderick.jpg' alt='' class='img-circle'>
                                        <p>Roderick</p>
                                        <span>CEO & Fundador</span>
                                   </div>
                              </div>
                              <div class='col-md-4'>
                                   <div class='profile text-center'>
                                        <img src='https://s3.eu-central-1.amazonaws.com/vheurope/team/pablo.jpg' alt='' class='img-circle'>
                                        <p>Pablo</p>
                                        <span>Co - Fundador, Ventas & Mercadeo</span>
                                   </div>
                              </div>
                              <div class='col-md-4'>
                                   <div class='profile text-center'>
                                        <img src='https://s3.eu-central-1.amazonaws.com/vheurope/team/celine.jpg' alt='' class='img-circle'>
                                        <p>Celine</p>
                                        <span>Redes Sociales</span>
                                   </div>
                              </div>

                         </div>
                         <br><br><br>
                         <div class='row'>

                              <div class='col-md-4'>
                                   <div class='profile text-center'>
                                        <img src='https://s3.eu-central-1.amazonaws.com/vheurope/team/jake.jpg' alt='' class='img-circle'>
                                        <p>Jake</p>
                                        <span>Co-Fundador & CTO</span>
                                   </div>
                              </div>
                              <div class='col-md-4'>
                                   <div class='profile text-center'>
                                        <img src='https://s3.eu-central-1.amazonaws.com/vheurope/team/abel.jpg' alt='' class='img-circle'>
                                        <p>Abel Rangel</p>
                                        <span>Programación  & Desarrollo</span>
                                   </div>
                              </div>
                              <div class='col-md-4'>
                                   <div class='profile text-center'>
                                        <img src='https://s3.eu-central-1.amazonaws.com/vheurope/team/jhesus-colmenares.jpg' alt='' class='img-circle'>
                                        <p>Jesús Colmenares</p>
                                        <span>Programación & Desarrollo</span>
                                   </div>
                              </div>

                         </div>

                    </div>
                   </div>
		</div>
	</div>
</div>
<br><br><br>
<div class="container hidden">
	<div class="row">
		<div class="col-md-12">
			<br>
			 <div class='box'>
                    <div class='box-header'>
                        <h3 class='title'>About Us</h3>
                    </div>

                    <div class='box-content'>
                    	<div class='row'>
                    		<div class='col-md-6'>
                    			<h5><strong>Our Mission</strong></h5>
                    			<p>Simply put we help you to travel from A to B.</p>
								<p>Our aim is to provide our customers with:</p>
								<ul>
									<li>Up to date information on how to travel from A to B</li>
									<li>Providing all the traveling possibilities between these two points 3) a fast and easy comparison within and between different modes of transportation.</li>
									<li>Purchasing a ticket in a reliable and quick way..</li>
								</ul>
								<p>All this in a single website with just a few clicks: <a href='http://www.resertrip.com'>www.resertrip.com</a></p>
								<p>Mobility has become a key feature in our global society. Faced with an ever increasing offer between different modes of transporta- tion, the complexity of finding the best suitable traveling opportu- nity has become daunting.</p>
								<p>
									From low cost airlines to low cost bus lines. <br>
									From high speed train to ferry boat. <br>
									From public transport to private transport (car sharing, Uber, etc...). <br>
									The options are growing by the day and so is the complexity.
								</p>
								<p>How can I travel easily from A to B? www.resertrip.com is the answer to your problem by reserving your trip on a single website with just a few clicks.</p>

                    		</div>

                    		<div class='col-md-6'>
                    			<h5><strong>Our Project</strong></h5>
                    			<p>Our aim is to create not only a digital platform where customers can compare and buy tickets, but also to provide information and facilitate your trip. Information on transportation companies, ter- minals (bus, train, airport), what activities to do at your destination point, etc...</p>
                    			<p>We also aim to provide all type of services around your trip such as car hire, hotel reservation, reserving your tourist attraction, etc... All in all, everything you need for your trip in one portal with just a few clicks, in as many countries in the world as possible.</p>
                    			<p>We are developing our presence in Europe and South America first and will expand to other continents in the near future. Whether you are traveling in your home country or traveling abroad on busi- ness or for holidays we aim to make your travel as easy as possible. Reserve your next trip on <a href='http://www.resertrip.com.'>www.resertrip.com.</a></p>
                    			
                    		</div>
                    	</div>
                    	<div class='row'>
                    		<div class='col-md-12'>
                    			<h5><strong>Our Team</strong></h5>
                    			<p>We are an international diverse team with a long experience in both transportation and digital marketing. We are based in Madrid and are the first Spanish based multi modal internet platform.</p>
                    		</div>
                    	</div>
                    	<br><br>
                    	<div class='row'>

                    		<div class='col-md-4'>
                    			<div class='profile text-center'>
                    				<img src='https://s3.eu-central-1.amazonaws.com/vheurope/team/roderick.jpg' alt='' class='img-circle'>
                    				<p>Roderick</p>
                    				<span>CEO & Fundador</span>
                    			</div>
                    		</div>
                    		<div class='col-md-4'>
                    			<div class='profile text-center'>
                    				<img src='https://s3.eu-central-1.amazonaws.com/vheurope/team/pablo.jpg' alt='' class='img-circle'>
                    				<p>Pablo</p>
                    				<span>Co-Founder, Sales & Marketing</span>
                    			</div>
                    		</div>
                    		<div class='col-md-4'>
                    			<div class='profile text-center'>
                    				<img src='https://s3.eu-central-1.amazonaws.com/vheurope/team/celine.jpg' alt='' class='img-circle'>
                    				<p>Celine</p>
                    				<span>Social Media</span>
                    			</div>
                    		</div>

                    	</div>
                    	<br><br><br>
                    	<div class='row'>

                    		<div class='col-md-4'>
                    			<div class='profile text-center'>
                    				<img src='https://s3.eu-central-1.amazonaws.com/vheurope/team/jake.jpg' alt='' class='img-circle'>
                    				<p>Jake</p>
                    				<span>Co-Founder & CTO</span>
                    			</div>
                    		</div>
                    		<div class='col-md-4'>
                    			<div class='profile text-center'>
                    				<img src='https://s3.eu-central-1.amazonaws.com/vheurope/team/abel.jpg' alt='' class='img-circle'>
                    				<p>Abel Rangel</p>
                    				<span>Programming & Development</span>
                    			</div>
                    		</div>
                    		<div class='col-md-4'>
                    			<div class='profile text-center'>
                    				<img src='https://s3.eu-central-1.amazonaws.com/vheurope/team/jhesus-colmenares.jpg' alt='' class='img-circle'>
                    				<p>Jesús Colmenares</p>
                    				<span>Programming & Development</span>
                    			</div>
                    		</div>

                    	</div>

                    </div>
                </div>
		</div>
	</div>
</div>