<style type="text/css">
    .hidden {
        display: none;
    }

    .vh-blue {
        color: #29aae3 !important;
    }

    .ttu {
        text-decoration: underline;
    }

    .facebook {
        color: #3b5998;
    }

    .twitter {
        color: #55acee;
    }

    .facebook:hover, .twitter:hover {
        color: #dedede;
    }

    .tickets {
        border: none;
    }

    .tickets .header-tickets {
        color: #666;
        border-bottom: 1px solid #cecece;
        margin-bottom: 10px;
        padding-bottom: 4px;
    }

    .tickets .ticket.list  {
        max-height: 50px;

    }

    .tickets .ticket.list p  {
        font-size: .85em;

    }

     .tickets .header.list-tickets  {
        background: #fdfdfd;
    }

    .tickets .header.list-tickets p {
        font-size: .85em !important;
    }
    .tickets .header .company,
    .tickets .header .name,
    .tickets .header .dni,
    .tickets .header .seat {
        margin-left: 10px;
    }

    .tickets .header .dni,
    .tickets .header .seat{
        margin-left: 5px;
    }

    .tickets .header .trip {
        margin-left: -5px;
    }

    .tickets .sub-header {
        background: #cecece;
        color:  #666;
        padding: 4px 0 4px 12px;
        margin-bottom: 8px;
    }

    .tickets .ticket {
        border-bottom: 1px solid  #cecece;
        padding-bottom: 8px;
        margin: 0 0 10px 0;
    }

     .tickets .ticket.last {
        border-bottom: none;
    }
    .nbb {
        border-bottom: none !important;
        margin-bottom: 0 !important;

    }

    .tickets .ticket.list-tickets p {
        font-size: .85em !important;
    }


    .tickets .ticket  img {
        max-width: 30px;
        max-height: 30px;
        margin-top: 10px;
    }

    .tickets .ticket .company h4 {
        font-family: 'Open Sans', sans-serif;
        font-size: .95rem !important;
        text-transform: capitalize;
        margin-top: 15px;
        font-weight: 600;
        line-height: 1em;
    }



    button.theme-red,
    .btn.theme-red{
        background: #e35029;
        border: 0;
        color: #fff;
        transition: background-color 300ms ease-out;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 10px !important;
        border-radius: 0;
    }

    button.theme-red:hover,
    .btn.theme-red:hover {
        background: #f52828;
        color: #fff;
    }

    @media only screen and (max-width: 40em) {
        button.theme-blue,
        .btn.theme-blue {
            margin-top: 10px !important;
        }
    }

    @media (max-width: 400px){
        .company{
            max-width: 80px !important;
            overflow: scroll !important;
        }
    }

    .text-container {
        padding: 20px 30px;
    }
    .ticket-smallest-font {
        font-size: 0.6555em !important;
    }

    #passages_link {
display: none;
}
</style>

<div class="container">
<div class="row">
<br>
<br>
<div class="col-xs-12 col-md-12">
    <div class="box">
        <div class="box-content np">
            <div class="text-container">
                <p class="vh-blue"><b translate>SUCCESS.SUBTITLE</b> {{cancel.cancelData.customer}},</p>
                <p><b><span translate>CANCEL.TITLE</span> <span class="vh-blue" translate>SUCCESS.TEXT_2</span></b></p>
            </div>
            <br>
            <div class="tickets">
                <div class="sub-header" style="background: #2BB3F0;color:#fff;">
                        <p><strong translate>SUCCESS.ROUND.TITLE</strong></p>
                    </div>
                    <div class="departure" ng-repeat="departure in cancel.cancelData.departureData">
                        <div class="sub-header" style="background: #FFF;color:#666; border-bottom: 1px solid #DDD;" ng-show="cancel.cancelData.departureData.length > 1">
                            <p><strong>Tramo {{$index + 1}}</strong></p>
                        </div>
                        <div class="row ticket " style="border-bottom: 1px solid #bbb;">
                            <div class="col-xs-4 col-md-2 col-md-offset-1">
                                <p>
                                    <strong>{{departure.departureDate}} {{departure.departureTime}}</strong>
                                    <small class="smallest-font vh-blue">{{departure.origin}}</small>
                                    <br>
                                    <small class="smallest-font text-muted">{{departure.terminalOrigin}}</small>

                                </p>
                            </div>
                            <div class="col-xs-4 col-md-2 col-md-offset-1">
                                <p>
                                    <strong>{{departure.arrivalDate}} {{departure.arrivalTime}}</strong>
                                    <small class="smallest-font vh-blue">{{departure.destination}}</small>
                                    <br>
                                    <small class="smallest-font text-muted">{{departure.terminalDestination}}</small>

                                </p>
                            </div>
                            <div class="col-xs-4 col-md-2 col-md-offset-1">
                                <p>
                                    <br>
                                    <small class="smallest-font text-muted">{{departure.typeService}}</small>
                                </p>
                            </div>
                            <div class="col-xs-4 col-md-2 col-md-offset-1">
                                <p>
                                    <br>
                                    <small class="smallest-font vh-blue"><span translate>SUCCESS.ROUND.NO_TRIPS</span> {{departure.numTrip}}</small>
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                             <!-- PARTE INFERIOR -->
                            <div class="col-xs-4 col-md-2 col-md-offset-1" >
                                <small class="smallest-font vh-blue">{{departure.companyName}}</small>
                                <img ng-src="{{departure.companyLogo}}" title="{{departure.companyLogo}}" class="logo_small hidden-xs pull-right">
                            </div>
                            <div class="col-xs-4 col-md-2 col-md-offset-1" >
                                <small class="smallest-font text-muted">{{departure.duration}}</small>
                            </div>
                            <br><br>
                        </div>
                        <div class="sub-header">
                            <p translate>SUCCESS.ROUND.TICKETS.TITLE</p>
                        </div>
                        <div class="row ticket list last" ng-repeat="seat in departure.seats">
                            <div class="col-md-2 hidden-xs">
                                <span class="smallest-font"><span translate>SUCCESS.ROUND.TICKETS.DNI</span> <span class="vh-blue">{{seat.dni}}</span></span>
                            </div>
                            <div class="col-md-3 col-xs-8">
                                <span class="smallest-font"><span translate>SUCCESS.ROUND.TICKETS.NAME</span> <span class="vh-blue">{{seat.name}}</span></span>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <span class="smallest-font"><span translate>SUCCESS.ROUND.TICKETS.SEAT</span> <span class="vh-blue">{{seat.seatNumber}}</span></span>
                            </div>
                            <div class="col-md-3 hidden-xs">
                                <span class="smallest-font"><span translate>SUCCESS.ROUND.TICKETS.CODE</span> <span class="vh-blue">{{seat.code}}</span></span>
                            </div>
                            <div class="col-md-2 hidden-xs">
                                <span class="smallest-font"><span translate>SUCCESS.ROUND.TICKETS.PRICE</span> <span class="vh-blue">{{seat.price  | currency : '' }} &euro;</span></span>
                            </div>
                        </div>
                    </div>


                    <div class="sub-header" style="background: #2BB3F0;color:#fff;" ng-show="cancel.cancelData.returnData != ''">
                        <p><strong translate>SUCCESS.RETURN.TITLE</strong></p>
                    </div>
                    <div class="return" ng-repeat="return in cancel.cancelData.returnData">
                        <div class="sub-header" style="background: #FFF;color:#666;border-bottom: 1px solid #DDD;" ng-show="cancel.cancelData.returnData.length > 1">
                            <p><strong>Tramo {{$index + 1}}</strong></p>
                        </div>
                        <div class="row ticket " style="border-bottom: 1px solid #bbb;" ng-show="return.returnData != ''">
                            <div class="col-xs-4 col-md-2 col-md-offset-1">
                                <p>
                                    <strong>{{return.departureDate}} {{return.departureTime}}</strong>
                                    <small class="smallest-font vh-blue">{{return.origin}}</small>
                                    <br>
                                    <small class="smallest-font text-muted">{{return.terminalOrigin}}</small>

                                </p>
                            </div>
                            <div class="col-xs-4 col-md-2 col-md-offset-1">
                                <p>
                                    <strong>{{return.arrivalDate}} {{return.arrivalTime}}</strong>
                                    <small class="smallest-font vh-blue">{{return.destination}}</small>
                                    <br>
                                    <small class="smallest-font text-muted">{{return.terminalDestination}}</small>

                                </p>
                            </div>
                            <div class="col-xs-4 col-md-2 col-md-offset-1">
                                <p>
                                    <br>
                                    <small class="smallest-font text-muted">{{return.typeService}}</small>
                                </p>
                            </div>
                            <div class="col-xs-4 col-md-2 col-md-offset-1">
                                <p>
                                    <br>
                                    <small class="smallest-font vh-blue"><span translate>SUCCESS.RETURN.NO_TRIPS</span> {{return.numTrip}}</small>
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div class="row" ng-show="return != ''">
                             <!-- PARTE INFERIOR -->
                             <div class="col-xs-4 col-md-2 col-md-offset-1" >
                                 <small class="smallest-font vh-blue">{{return.companyName}}</small>
                                 <img ng-src="{{return.companyLogo}}" title="{{return.companyLogo}}" class="logo_small hidden-xs pull-right">
                             </div>
                             <div class="col-xs-4 col-md-2 col-md-offset-1" >
                                 <small class="smallest-font text-muted">{{return.duration}}</small>
                             </div>
                            <br><br>
                        </div>
                        <div class="sub-header" ng-show="return != ''">
                           <p translate>SUCCESS.RETURN.TICKETS.TITLE</p>
                       </div>
                       <div class="row ticket list" ng-show="return != ''" ng-repeat="seat in return.seats">
                           <div class="col-md-2 hidden-xs">
                               <span class="smallest-font"><span translate>SUCCESS.RETURN.TICKETS.DNI</span> <span class="vh-blue">{{seat.dni}}</span></span>
                           </div>
                           <div class="col-md-3 col-xs-8">
                               <span class="smallest-font"><span translate>SUCCESS.RETURN.TICKETS.NAME</span> <span class="vh-blue">{{seat.name}}</span></span>
                           </div>
                           <div class="col-md-2 col-xs-4">
                               <span class="smallest-font"><span translate>SUCCESS.RETURN.TICKETS.SEAT</span> <span class="vh-blue">{{seat.seatNumber}}</span></span>
                           </div>
                           <div class="col-md-3 hidden-xs">
                               <span class="smallest-font"><span translate>SUCCESS.RETURN.TICKETS.CODE</span> <span class="vh-blue">{{seat.code}}</span></span>
                           </div>
                           <div class="col-md-2 hidden-xs">
                               <span class="smallest-font"><span translate>SUCCESS.RETURN.TICKETS.PRICE</span> <span class="vh-blue">{{seat.price | currency : '' }} &euro;</span></span>
                           </div>
                       </div>
                    </div>

                    <div class="row  text-center">
                        <div class="col-xs-12 col-md-12" ng-class="{'disable-box':cancel.unableCancel}">
                            <br>
                            <a ng-show="cancel.cancelData.paymentOrderStatus != 'CANCELED' && cancel.cancelOk != 'OK'" ng-click="cancel.cancelTrip(cancel.cancelData.paymentOrderUuid)" target="_blank" class="btn  theme-red btn-lg" data-tooltip aria-haspopup="true"  title="Cancelar Pasaje">
                                <span translate>CANCEL.BUTTON</span> <i class="fa fa-ban"></i>
                            </a>
                            <p>
                                <small ng-show="cancel.unableCancel" translate>CANCEL.EXPIRED</small>
                            </p>
                            <p ng-show="cancel.cancelData.paymentOrderStatus == 'CANCELED' || cancel.cancelOk == 'OK'" translate>
                                CANCEL.CANCELMSG
                            </p>
                            <br><br><br>
                        </div>
                    </div>
                </div> <!-- end tickets -->
            </div> <!-- end box -->
        </div>
    </div> <!-- end .col-md-12 -->
</div> <!-- end .row -->
</div> <!-- end .container -->
