<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4" style="background: #FFF; margin-top:10px;padding:1em;">
            <div class="text-center" style="margin-top: 15px;">
                <h4 translate>SESSION.LOGIN</h4>
            </div>
            <br>
            <div class="col-md-12 inputs">
                <div class="alert alert-warning alert-dismissible" role="alert" ng-show="login.error">
                    <button type="button" class="close" aria-label="Close" ng-click="login.reset()"><span aria-hidden="true">&times;</span></button>
                    <strong>¡Ups!</strong> {{ 'SESSION.ERROR_LOGIN' | translate }}
                </div>
                <div class="alert alert-success alert-dismissible" role="alert" ng-show="login.passChanged">
                    <button type="button" class="close" aria-label="Close" ng-click="login.reset()"><span aria-hidden="true">&times;</span></button>
                    <strong translate>SESSION.GOOD</strong> {{ 'SESSION.INF_RECOVER' | translate }}
                </div>
                <form class="" ng-submit="login.login()" method="post">
                    <div class="form-group">
                        <input ng-model="login.email" type="email" name="email" value="" placeholder="{{ 'SESSION.EMAIL' | translate }}" class="form-control form-inputs" required>
                        <br>
                        <input ng-model="login.password" type="password" name="password" value="" placeholder="{{ 'SESSION.PASSWORD' | translate }}" class="form-control form-inputs" required>
                    </div>

                    <div class="form-group">
                        <p style="color : #666674;" translate>
                            SESSION.REMEMBER
                        </p>
                        <div class="switch">
                            <input id="combine-trips" class="chk-toggle chk-toggle-round" type="checkbox">
                            <label for="combine-trips"></label>
                        </div>
                    </div>
                    <input type="submit" name="send" translate translate-attr-value="SESSION.LOGIN_BUTTON" class="form-control button-send form-inputs">
                </form>
            </div>
            <div class="col-md-12 links">
                <div class="text-center">
                    <a href="#/signup" translate>SESSION.REGISTER</a>
                </div>
                <br>
                <div class="text-center">
                    <a data-toggle="modal" data-target="#myModal" translate>SESSION.FORGOT</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" translate>SESSION.RECOVER</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <input ng-model="login.email" type="email" name="email" value="" placeholder="{{ 'SESSION.EMAIL' | translate }}" class="form-control form-inputs" required>
        </div>
        <p style="text-align: center;font-size: 12px;font-style: italic;color: #969696;" translate>SESSION.RECOVER_TEXT</p>
      </div>
      <div class="modal-footer">
        <button ng-click="login.resetPassword()" type="button" class="pull-right form-control button-send form-inputs" style="width: 190px !important;" translate>SESSION.RECOVER_BUTTON</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div><!-- /.modal -->
