<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4" style="background: #FFF; margin-top:10px;padding:1em;">
            <div class="text-center" style="margin-top: 15px;">
                <h4>Iniciar sesión</h4>
            </div>
            <br>
            <!-- <div class="social col-md-12">
                <div class="facebook text-center">
                    <a href="#" class="col-md-12 col-xs-12">Inicie con
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="google text-center">
                    <a href="#" class="col-md-12 col-xs-12">Inicie con
                        <i class="fa fa-google" aria-hidden="true"></i>
                    </a>
                </div>
            </div> 
            <div class="col-md-12 col-xs-12 text-center or">
                <div class="mask">

                </div>
                <span>
                    O
                </span>
            </div> -->
            <div class="col-md-12 inputs">
                <div class="alert alert-warning alert-dismissible" role="alert" ng-show="login.error">
                    <button type="button" class="close" aria-label="Close" ng-click="login.reset()"><span aria-hidden="true">&times;</span></button>
                    <strong>Ups!</strong> Revisa el email y/o contraseña.
                </div>
                <form class="" ng-submit="login.login()" method="post">
                    <div class="form-group">
                        <input ng-model="login.email" type="email" name="email" value="" placeholder="Email" class="form-control form-inputs" required>
                        <br>
                        <input ng-model="login.password" type="password" name="password" value="" placeholder="Password" class="form-control form-inputs" required>
                    </div>

                    <div class="form-group">
                        <p style="color : #666674;">
                            Recordarme
                        </p>
                        <div class="switch">
                            <input id="combine-trips" class="chk-toggle chk-toggle-round" type="checkbox">
                            <label for="combine-trips"></label>
                        </div>
                    </div>
                    <input type="submit" name="send" value="Inicar" class="form-control button-send form-inputs">
                </form>
            </div>
            <div class="col-md-12 links">
                <div class="text-center">
                    <a href="#/signup">Registrarse</a>
                </div>
                <br>
                <div class="text-center">
                    <a href="#">¿Olvido su contraseña?</a>
                </div>
            </div>
        </div>
    </div>
</div>
