<style>
    .bw {
        position: relative;
        display: block;
    }
</style>
<div id="popover-bg"></div>
<div class="popover-select-passengers">
    <div class="popover-select-passengers-wrapper">
        <h5 translate>PASSENGERS.TITLE</h5>
        <div class="input-group number-spinner pull-right">
            <label for="" translate>PASSENGERS.ADULTS</label>
            <span class="input-group-btn">
                <button class="btn btn-default btn-xs" data-dir="dwn" ng-click="main.updatePassengers('adult', 'dwn')">
                    <i class="fa fa-minus"></i>
                </button>
            </span>
            <input type="text" class="text-center" size="2" ng-model="main.passengersAdult">
            <span class="input-group-btn">
                <button class="btn btn-default btn-xs" data-dir="up" ng-click="main.updatePassengers('adult', 'up')">
                    <i class="fa fa-plus"></i>
                </button>
            </span>
        </div>
        <div class="input-group number-spinner pull-right">
            <label for="" translate>PASSENGERS.CHILDREN</label>
            <span class="input-group-btn">
                <button class="btn btn-default btn-xs" data-dir="dwn" ng-click="main.updatePassengers('child', 'dwn')">
                    <i class="fa fa-minus"></i>
                </button>
            </span>
            <input type="text" class="text-center" size="2" ng-model="main.passengersChild">
            <span class="input-group-btn">
                <button class="btn btn-default btn-xs" data-dir="up" ng-click="main.updatePassengers('child', 'up')">
                    <i class="fa fa-plus"></i>
                </button>
            </span>
        </div>
        <div class="input-group number-spinner pull-right">
            <label for="" translate>PASSENGERS.BABIES</label>
            <span class="input-group-btn">
                <button class="btn btn-default btn-xs" data-dir="dwn" ng-click="main.updatePassengers('baby', 'dwn')">
                    <i class="fa fa-minus"></i>
                </button>
            </span>
            <input type="text" class="text-center" size="2" ng-model="main.passengersBaby">
            <span class="input-group-btn">
                <button class="btn btn-default btn-xs" data-dir="up" ng-click="main.updatePassengers('baby', 'up')">
                    <i class="fa fa-plus"></i>
                </button>
            </span>
        </div>
    </div>
</div>


<div class="cookie-message ui-widget-header blue">
    <span style="color: #fff; font-size: 12px;" translate>MAIN.COOKIES_MESSAGE</span>
</div>
<div class="header header-home row-fluid chile spain">
    <div class="home-mask-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12"></div>
                <div id="search-form-wrapper">
                    <h1 translate>MAIN.TITLE</h1>
                    <div class="row hidden-xs text-center">
                        <div class="col-md-4 col-md-offset-1">
                            <h2 class="hidden-xs" translate>MAIN.SUBTITLE</h2></div>
                        <div class="col-md-6">
                            <ul class="list-inline list-unstyled" style="margin-top: 14px;color: #fff;">
                                <li>
                                    <i class="fa icon-bus fa-2x"></i><br><small translate>MAIN.BUS</small>
                                </li>
                                <li>
                                    <i class="fa fa-plus"></i><br><small>&nbsp;</small>
                                </li>
                                <li><i class="fa icon-avion fa-2x"></i><br><small translate>MAIN.PLANE</small></li>
                                <li><i class="fa fa-plus"></i><br><small>&nbsp;</small></li>
                                <li><i class="fa icon-tren fa-2x"></i><br><small translate>MAIN.TRAIN</small></li>
                                <li><i class="fa fa-plus"></i><br><small>&nbsp;</small></li>
                                <li><i class="fa fa-ship fa-2x"></i><br><small translate>MAIN.FERRY</small></li>
                                <li><i class="fa fa-plus"></i><br><small>&nbsp;</small></li>
                                <li><i class="fa fa-car fa-2x"></i><br><small translate>MAIN.CAR</small></li>
                            </ul>
                        </div>

                    </div>
                    <form role="form" class="mt24">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 ">
                                <div class="row destination-search">
                                    <div class="col-md-3 col-xs-12 np">
                                        <place-picker config='main.configOrigin' options='main.myOptionsOrigin' ng-model="main.origin"></place-picker>
                                        <!-- <selectize config='main.configOrigin' options='main.myOptionsOrigin' ng-model="main.origin"></selectize> -->
                                    </div>
                                    <!--<div class="switcheroo hidden-xs" ng-click="main.switcher()"></div>-->
                                    <div class="col-md-3 col-xs-12  np">
                                        <place-picker config='main.configDestination' options='main.myOptionsDestination' ng-model="main.destination"></place-picker>
                                        <!-- <selectize config='main.configDestination' options='main.myOptionsDestination' ng-model="main.destination"></selectize> -->
                                    </div>
                                    <div class="col-md-2 col-xs-6  np nbrr" style="border-right: 1px solid #c1c1c1;">
                                        <vhdatepicker class="form-departure" id="departureDate" ng-model="main.dates.departureDate" data-set-date="true" data-min-date="{{ main.dates.minDate }}" data-max-date="{{ main.dates.maxDate }}" data-placeholder="Ida" data-date-format="DD/MM/YYYY"></vhdatepicker>
                                        <span ng-click="main.openDepartureCalendar()" class="fa fa-calendar-check-o departure-calendar vh-calendar" style="cursor:pointer;"></span>
                                    </div>
                                    <div class="col-md-2 col-xs-6 np nbrr" style="border-right: 1px solid #c1c1c1;">
                                        <vhdatepicker class="form-return" id="returnDate" ng-model="main.dates.returnDate" data-min-date="{{ main.dates.minDate }}" data-max-date="{{ main.dates.maxDate }}" data-placeholder="{{main.retorno}}" data-date-format="DD/MM/YYYY"></vhdatepicker>
                                        <span ng-click="main.openReturnCalendar()" class="fa fa-calendar-check-o return-calendar vh-calendar" style="cursor:pointer;"></span>
                                    </div>
                                    <div class="col-md-1 col-xs-12 np">
                                        <input type="text" id="select_passengers" ng-model="main.passengers">
                                        <span class="fa fa-users vh-calendar" style="margin-right: 15px;cursor:pointer;"></span>
                                    </div>
                                    <div class="col-md-1 col-xs-12 np">
                                        <a class="btn btn-block btn-search hidden-xs" ng-click="main.searchTrips()" ng-mousedown="main.changeDate()" translate>MAIN.SEARCH</a>
                                        <a class="btn btn-block btn-search visible-xs" ng-click="main.searchTrips()" ng-mousedown="main.changeDate()" translate>MAIN.SEARCH</a>
                                    </div>
                                </div>
                                <!-- end .row -->
                            </div>
                            <!-- End Destination Search -->
                        </div>
                    </form>

                    <div class="modal fade" id="error-cities" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content" style="background-color: #F2DEDD !important;">
                                <div class="modal-header">
                                    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                    <h2>Error</h2>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Revise su seleccion de ciudades
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="error-date" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content" style="background-color: #F2DEDD !important;">
                                <div class="modal-header">
                                    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                    <h2>Error</h2>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Revise su seleccion de fechas
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container hidden-xs" id="popular-trips">
    <h2 translate>MAIN.FIND_PASSAGES</h2>
    <div class="row-fluid ">
        <div ng-repeat="ps in main.popular_searches" class="col-md-3 col-sm-6 col-xs-12">
            <a ng-click="main.quickSearch(ps.origin, ps.destination, ps.id, ps.country)">
                <div class="popular-trip">
                    <figure>
                        <vhdatepicker id="departureDate-quick-{{ps.id}}" class="quickDate" ng-model="main.dates.departureDate" data-set-date="true" data-min-date="{{ main.dates.minDate }}" data-max-date="{{ main.dates.maxDate }}" data-placeholder="Ida" data-date-format="DD/MM/YYYY"></vhdatepicker>
                        <img class="img-destinny" ng-src="{{ ps.image }}" alt="" title="" />
                        <figcaption>
                            <h3>{{ ps.origin }}&nbsp; <i class="fa fa-chevron-circle-right"></i> &nbsp; {{ ps.destination }}</h3>
                            <span><small translate>POPULAR_TRIPS.FROM</small> {{ ps.price | currency:"&euro;"}}</span>
                        </figcaption>
                    </figure>
                </div>
            </a>
        </div>
    </div>
</div>

<div id="cta" class="hidden-xs hidden-sm">
    <div class="container-full">
        <div class="row">
            <div class="col-md-5">
                <div class="container-text">
                    <h3 translate>MAIN.CTA_POSSIBILITY</h3>
                    <h2 translate>MAIN.CTA_PLACE</h2>
                </div>
            </div>
            <div class="col-md-7">
                <div id="laptop">
                    <img class="img-responsive" src="https://s3-sa-east-1.amazonaws.com/voyhoy-content/laptop.png" alt="">
                </div>

            </div>
        </div>
    </div>
</div>

<div class="bus row-fluid hidden-xs" style="background: #fff;">
    <div class="container" style="padding-bottom: 2em; padding-top:4em; border-bottom: 1px solid #ddd;">
        <h3 translate>MAIN.BUS_COMPANIES</h3>
        <div class=" row wow fadeInDown ">
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Airberlin.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>

            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Aireuropa.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Airfrance.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Ave.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Bahn.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Balearia.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
        </div>
        <br>
        <div class="row wow fadeInDown ">
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Baltour.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Berlinbus.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Blablacar.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Britishair.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Comes.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Trenitalia.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
        </div>
        <br>

        <div class="row wow fadeInDown ">
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Dainco.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Deinbus.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Easyjet.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Euroline.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Eurostar.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Flixbus.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
        </div>
        <br>

        <div class="row wow fadeInDown ">
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Iberia.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Italo.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Lasepulvedana.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Lufhansa.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Ouibus.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Postbus.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
        </div>
        <br>

        <div class="row wow fadeInDown ">
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Ryanair.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/SNCF.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Socibus.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Socitransa.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Thalys.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Touring.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
        </div>
        <br>

        <div class="row wow fadeInDown ">
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Vueling.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/renfe.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center ">
                <div class="logo-container ">
                    <a href="# " target="_blank " class="bw ">
                        <img src="https://s3.eu-central-1.amazonaws.com/vheurope/home/europe_logos/Conda.png" alt=" " title=" " class="img-logo ">
                    </a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row ">
            <div class="col-md-12 ">
                <p><small class="pull-right " translate>MAIN.MUCH_MORE</small></p>
            </div>
        </div>
    </div>
    <!-- end france companies -->

</div>
<script type="application/ld+json ">
    {
        "@context ": "http://schema.org ",
        "@type ": "Organization ",
        "name ": "Resertrip ",
        "url ": "http://www.resertrip.com ",
        "logo ": "http://busbud-pubweb-assets.global.ssl.fastly.net/images/2784feb.largeicon.png ",
        "sameAs ": [
            "https://www.facebook.com/resertrip ",
            "https://twitter.com/resertrip ",
            "https://plus.google.com/u/2/106846995516516157967/ ",
            "https://instagram.com/resertrip/ ",
        ]
    }
</script>
<script>
    $('.bw').BlackAndWhite({
        hoverEffect: true,
        webworkerPath: false,
        invertHoverEffect: false,
        intensity: 1,
        speed: {
            fadeIn: 200,
            fadeOut: 800
        },
    });
</script>