<div class="header header-home row-fluid chile spain">
    <div class="home-mask-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12"></div>
                    <div id="search-form-wrapper">
                        <h1 translate>MAIN.TITLE</h1>
                        <h3 class="hidden-xs" translate>MAIN.SUBTITLE</h3>
                        <form-directive></form-directive>
                    </div>
                </div>

        </div>
    </div>
</div>


<div class="container hidden-xs" id="popular-trips">
    <h2 translate>MAIN.FIND_PASSAGES</h2>
    <div class="row-fluid ">
        <div ng-repeat="ps in main.popular_searches" class="col-md-3 col-sm-6 col-xs-12">
            <a href="{{ ps.href }}">
            <div class="popular-trip">
                <figure>
                    <img ng-src="{{ ps.image }}" alt="Pasajes de bus a Santiago" title="Comprar pasajes de bus a Santiago, Chile" />
                    <figcaption>
                        <h2>{{ ps.origin }}&nbsp; a &nbsp; {{ ps.destination }}</h2>
                        <span><small translate>POPULAR_TRIPS.FROM</small> {{ ps.price | currency:"&euro;"}}</span>
                        
                    </figcaption>
                </figure>
            </div>
            </a>
        </div>
    </div>
</div>

<div id="cta" class="hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="container-text">
                    <h3 translate>MAIN.CTA_BUY</h3>
                    <h1 translate>MAIN.CTA_PHONE</h1>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iphone_holder">
                    <div class="iphone_inner ">
                        <img src="https://dl.dropboxusercontent.com/u/993466/voyhoy/mobile-home.jpg" alt="" style="width:100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <div class="bus row-fluid hidden-xs">
            <div class="container">
                <h3 translate>MAIN.BUS_COMPANIES</h3>
                <div class="row wow fadeInDown">
                    <div class="col-md-2 text-center">
                        <div class="logo-container">
                            <a href="http://www.voyhoy.com/buses/empresas/buses-atacama-vip/" target="_blank" class="bw">
                                <img src="https://dl.dropboxusercontent.com/u/993466/voyhoy/new-home/movelia_logos/AGREDA.png" alt="Atacama Vip Empresa de Buses Chile" title="Atacama Vip Empresa de Buses Chile | Pasajes de Buses" class="img-logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="logo-container">
                        <a href="http://www.voyhoy.com/buses/empresas/buses-bio-bio-jota-ewert/" target="_blank" class="bw">
                            <img src="https://dl.dropboxusercontent.com/u/993466/voyhoy/new-home/movelia_logos/ALSA.png" alt="Bio Bio Empresa de Buses Chile" title="Bio Bio Empresa de Buses Chile | Pasajes de Buses" class="img-logo">
                        </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="logo-container">
                        <a href="http://www.voyhoy.com/buses/empresas/buses-cidher/" target="_blank" class="bw">
                            <img src="https://dl.dropboxusercontent.com/u/993466/voyhoy/new-home/movelia_logos/DAIBUS.png" alt="Cidher   Empresa de Buses Chile" title="Cidher Empresa de Buses Chile | Pasajes de Buses" class="img-logo">
                        </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="logo-container">
                        <a href="http://www.voyhoy.com/buses/empresas/buses-ciktur/" target="_blank" class="bw">
                            <img src="https://dl.dropboxusercontent.com/u/993466/voyhoy/new-home/movelia_logos/DAICO.png" alt="Ciktur Empresa de Buses Chile" title="Ciktur Empresa de Buses Chile | Pasajes de Buses" class="img-logo">
                        </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="logo-container">
                        <a href="http://www.voyhoy.com/buses/empresas/buses-etm/" target="_blank" class="bw">
                            <img src="https://dl.dropboxusercontent.com/u/993466/voyhoy/new-home/movelia_logos/DAMAS.png" alt="ETM Empresa de Buses Chile" title="ETM Empresa de Buses Chile | Pasajes de Buses" class="img-logo">
                        </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="logo-container">
                        <a href="http://www.voyhoy.com/buses/empresas/buses-jac/" target="_blank" class="bw">
                            <img src="https://dl.dropboxusercontent.com/u/993466/voyhoy/new-home/movelia_logos/HIFE.png" alt="Jac Empresa de Buses Chile" title="Jac Empresa de Buses Chile | Pasajes de Buses" class="img-logo">
                        </a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row wow fadeInDown">
                    <div class="col-md-2 text-center">
                        <div class="logo-container">
                        <a href="http://www.voyhoy.com/buses/empresas/buses-jm/" target="_blank" class="bw">
                            <img src="https://dl.dropboxusercontent.com/u/993466/voyhoy/new-home/movelia_logos/Linebus.png" alt="JM Empresa de Buses Chile" title="JM Empresa de Buses Chile | Pasajes de Buses" class="img-logo">
                        </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="logo-container">
                        <a href="http://www.voyhoy.com/buses/empresas/buses-libac/" target="_blank" class="bw">
                            <img src="https://dl.dropboxusercontent.com/u/993466/voyhoy/new-home/movelia_logos/LYCAR.png" alt="Libac Empresa de Buses Chile" title="Libac Empresa de Buses Chile | Pasajes de Buses" class="img-logo">
                        </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="logo-container">
                        <a href="http://www.voyhoy.com/buses/empresas/buses-los-conquistadores/" target="_blank" class="bw">
                            <img src="https://dl.dropboxusercontent.com/u/993466/voyhoy/new-home/movelia_logos/subus.png" alt="Los Conquistadores Empresa de Buses Chile" title="Los Conquistadores Empresa de Buses Chile | Pasajes de Buses" class="img-logo">
                        </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="logo-container">
                        <a href="http://www.voyhoy.com/buses/empresas/buses-los-corsarios/" target="_blank" class="bw">
                            <img src="https://dl.dropboxusercontent.com/u/993466/voyhoy/new-home/movelia_logos/TGCOMES.png" alt="Los Corsarios Empresa de Buses Chile" title="Los Corsarios Empresa de Buses Chile | Pasajes de Buses" class="img-logo">
                        </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="logo-container">
                        <a href="http://www.voyhoy.com/buses/empresas/buses-los-libertadores/" target="_blank" class="bw">
                            <img src="https://dl.dropboxusercontent.com/u/993466/voyhoy/new-home/movelia_logos/THERPASA.png" alt="Los Libertadores Empresa de Buses Chile" title="Los Libertadores Empresa de Buses Chile | Pasajes de Buses" class="img-logo">
                        </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="logo-container">
                        <a href="http://www.voyhoy.com/buses/empresas/buses-romani/" target="_blank" class="bw">
                            <img src="https://dl.dropboxusercontent.com/u/993466/voyhoy/new-home/movelia_logos/AU.png" alt="Romani Empresa de Buses Chile" title="Romani Empresa de Buses Chile | Pasajes de Buses" class="img-logo">
                        </a>
                        </div>
                    </div>
                </div>
                <br>

                <br>
                <div class="row">
                    <div class="col-md-12">
                        <p><small class="pull-right" translate>MAIN.MUCH_MORE</small></p>
                    </div>
                </div>
            </div>
        </div>

