<div class="row  container-responsive" id="scraper-results" ng-show="search.trips.mixedTrips.length > 0">
    <div class="col-xs-12 col-md-12 " >
        <h5 class="hidden-xs hidden-sm" >
            <span translate>Vaijes</span> <small><span translate>Compuestos</span></small> {{search.trips.mixedTrips.length}} <span translate>SEARCH.TRIPS.RESULTS</span>
        </h5>
        <div class="new-results" ng-repeat="trip in search.trips.mixedTrips | orderBy:search.typeDeparture:search.reverseDeparture">
            <div class="results list" id="trips_mixed" >
                <div class="row result mobile-mixed" style="display: flex; align-items: center;">
                    <div class="col-md-8 col-xs-12 col-sm-12">
                        <div class="col-md-4 col-xs-4 col-sm-4 c-departure">
                            <small class="text-muted-dark smallest-font capitalize terminals company">{{trip.originT1 }}</small>
                        </div>

                        <div class="col-md-4 col-xs-4 col-sm-4 c-departure text-center">
                            <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                        </div>

                        <div class="col-md-4 col-xs-4 col-sm-4 c-arrival">
                            <small class="text-muted-dark smallest-font capitalize terminals company">{{ trip.destinationT1 }}</small>
                        </div>

                        <div class="col-md-4 col-xs-4 col-sm-4 c-departure" style="border-top: 1px solid #bbb;">
                            <small class="text-muted-dark smallest-font capitalize terminals company">{{trip.originT2 }}</small>
                        </div>

                        <div class="col-md-4 col-xs-4 col-sm-4 c-departure text-center" style="border-top: 1px solid #bbb;">
                            <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                        </div>

                        <div class="col-md-4 col-xs-4 col-sm-4 c-arrival" style="border-top: 1px solid #bbb;">
                            <small class="text-muted-dark smallest-font capitalize terminals company">{{ trip.destinationT2 }}</small>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 col-sm-12">
                        <a href="{{trip.data.redirect}}" target="_blank" class="btn btn-block theme-blue-2">ELEGIR <i class="fa fa-share-square-o"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
