<style type="text/css">
    .vh-blue {
        color: #29aae3 !important;
    }
    .info {
        font-style: italic;
        color: #808183;
        margin-top: 1em;
    }
    .info-img {
        width: 13em;
    }
</style>

<div class="container">
    <div class="row">
    	<br> <br>
        <div class="col-xs-12 col-md-12">
            <div class="box">
                <div class="box-content">
                    <br>
                    <div class="text-center">
                        <img class="info-img" src="https://cdn.api-rt.resertrip.com/error-pdf.png" alt="">
                    </div>
                    <br>
                    <h2 class="text-center vh-blue" translate>PDF.TITLE </h2>
                    <br>
                    <h4 class="text-center" translate>PDF.SUB-TITLE</h4>
                    <div class="text-center info" translate>PDF.DESCRIPTION</div>
                </div> <!-- end .box-content -->
            </div><!-- end .box -->
        </div><!-- end .col-md-12 -->
    </div><!-- end .row -->
</div> <!-- end .container -->