<div class="container">
    <vh-profile-menu-directive></vh-profile-menu-directive>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9 col-xs-12 profile-box profile-box-height profile-box-background-blue">
                <div class="col-md-12 text-center">
                    <h3 class="white">{{ 'SESSION.HELLO' | translate }},
                        {{cprofile.customerData.fullName}}</h3>
                </div>
                <div class="col-md-12 text-center white">
                    <p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        {{cprofile.customerData.address}}
                    </p>
                </div>
                <div class="col-md-12 text-center white">
                    <i class="fa fa-at" aria-hidden="true"></i>
                    <span>
                        {{cprofile.customerData.email}}
                    </span>
                </div>
                <div class="col-md-12 text-center">
                    <a href="#/customer-settings" class="btn blue-btn white" translate>SESSION.UPDATE_BUTTON</a>
                </div>
            </div>
            <div ng-show="cprofile.avatarFlag" ng-style="{'background-image': 'url(' + cprofile.customerData.avatar + ')'}" class="col-md-3 col-xs-12 profile-box-height profile-box-background-white relative avatar avatar-img">
                <div class="absolute add">
                    <a data-toggle="modal" data-target="#crop-img" style="cursor:pointer;">
                        <i class="fa fa-pencil white absolute" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div ng-show="!cprofile.avatarFlag" class="col-md-3 col-xs-12 profile-box-height profile-box-background-white relative avatar">
                <div class="absolute add">
                    <a data-toggle="modal" data-target="#crop-img" style="cursor:pointer;">
                        <i class="fa fa-plus white absolute" aria-hidden="true"></i>
                    </a>
                </div>
                <i class="fa fa-user icon" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="col-md-4 col-xs-12 profile-box profile-box-height profile-box-background-gray overview">
                <i class="fa fa-bus" aria-hidden="true"></i>
                <span>{{cprofile.customerData.numberTrips}}</span>
                <h4 translate>SESSION.SMS_TRIPS</h4>
            </div>
            <div class="col-md-4 col-xs-12 profile-box profile-box-height profile-box-background-gray overview">
                <i class="fa fa-male" aria-hidden="true"></i>
                <span>
                    <i class="fa fa-suitcase" aria-hidden="true"></i>
                </span>
                <h4>{{cprofile.customerData.travelerType | uppercase}}</h4>
            </div>
            <div class="col-md-4 col-xs-12 profile-box profile-box-height profile-box-background-gray overview">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>{{cprofile.customerData.totalKilometers | currency : ''}}</span>
                <h4 translate>SESSION.SMS_KILOMETERS</h4>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="crop-img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" translate>SESSION.TITTLE_UPLOAD_IMAGE</h4>
            </div>
            <div class="modal-body row">
                <div class="alert alert-warning alert-dismissible" role="alert" ng-show="cprofile.error">
                    <button type="button" class="close" aria-label="Close" ng-click="cprofile.error = false"><span aria-hidden="true">&times;</span></button>
                    <strong>Ups!</strong> {{ 'SESSION.ERROR_UPLOAD_IMAGE' | translate}}
                </div>
                <div class="text-center" ng-show="cprofile.uploading" style="margin-bottom:20px;">
                    <span translate>SESSION.UPLOADING_IMAGE</span>
                    <img src="https://s3.eu-central-1.amazonaws.com/vheurope/loader.gif" style="width:50px;"  class="" alt="cargando imagen ..." />
                </div>
                <div class="cropArea col-md-8 col-xs-12" ng-show="cprofile.loadImage">
                    <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                </div>
                <div class="col-md-4 col-xs-12 preview" ng-show="cprofile.loadImage">
                    <div>
                        <h4 translate>SESSION.IMAGE_PREVIEW</h4>
                    </div>
                    <div class="relative">
                        <img ng-src="{{myCroppedImage}}"/>
                        <div class="ok" ng-show="cprofile.loadImage" ng-click="cprofile.updateAvatar()">
                            <i class="fa fa-check fa-lg" style="margin: 0.68em; position:absolute;"></i>
                            <input type="submit" name="submit" value="upload">
                        </div>
                    </div>
                </div>
                <div class="box-file col-md-12">
                    <p translate>SESSION.TEXT_UPLOAD_IMAGE</p>
                    <input id="fileInput" class="file" type="file" name="picture" value="">

                </div>
            </div>
        </div>
    </div>
</div>
