<div class="container">
    <vh-profile-menu-directive></vh-profile-menu-directive>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9 col-xs-12 profile-box profile-box-height profile-box-background-blue">
                <div class="col-md-12 text-center">
                    <h3>Hola, {{cprofile.customerData.fullName}}</h3>
                </div>
                <div class="col-md-12 text-center white">
                    <p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        {{cprofile.customerData.address}}
                    </p>
                </div>
                <div class="col-md-12 text-center white">
                    <i class="fa fa-at" aria-hidden="true"></i>
                    <span>
                        {{cprofile.customerData.email}}
                    </span>
                </div>
                <div class="col-md-12 text-center">
                    <a href="#/customer-settings" class="btn blue-btn white">Actualizar</a>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 profile-box-height profile-box-background-white relative avatar">
                <div class="absolute add">
                    <a href="#">
                        <i class="fa fa-plus white absolute" aria-hidden="true"></i>
                    </a>
                </div>
                <i class="fa fa-user icon" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="col-md-4 col-xs-12 profile-box profile-box-height profile-box-background-gray overview">
                <i class="fa fa-bus" aria-hidden="true"></i>
                <span>{{cprofile.customerData.numberTrips}}</span>
                <h4>VIAJES HECHOS</h4>
            </div>
            <div class="col-md-4 col-xs-12 profile-box profile-box-height profile-box-background-gray overview">
                <i class="fa fa-male" aria-hidden="true"></i>
                <span>
                    <i class="fa fa-suitcase" aria-hidden="true"></i>
                </span>
                <h4>{{cprofile.customerData.travelerType}}</h4>
            </div>
            <div class="col-md-4 col-xs-12 profile-box profile-box-height profile-box-background-gray overview">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>{{cprofile.customerData.totalKilometers | currency : ''}}</span>
                <h4>kMS RECORRIDOS</h4>
            </div>
        </div>
    </div>
</div>
