<ul class="row hidden-xs hidden-sm" style="margin-top:20px; padding: 0;">
    <li class="col-md-4 text-center option-menu">
        <a href="#/customer-profile">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span>Control</span>
        </a>
    </li>
    <li class="col-md-4 text-center option-menu">
        <a href="#/customer-purchases">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span>Compras</span>
        </a>
    </li>
    <li class="col-md-4 text-center option-menu">
        <a href="#/customer-settings">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <span>Ajustes</span>
        </a>
    </li>
</ul>

<div class="hidden-md hidden-lg mobile-menu">
    <button data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false" aria-controls="menu-collapse">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <span class="pull-right">MENÚ</span>
</div>

<div class="collapse hidden-md hidden-lg" id="menu-collapse">
    <ul class="row option-mobile-menu" style="padding: 0;">
        <li class="col-xs-12">
            <a href="#/customer-profile">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <span>Control</span>
            </a>
        </li>
        <li class="col-xs-12" style="border-top: 1px solid #F1F1F1;border-bottom: 1px solid #F1F1F1;">
            <a href="#/customer-purchases">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>Compras</span>
            </a>
        </li>
        <li class="col-xs-12">
            <a href="#/customer-settings">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <span>Ajustes</span>
            </a>
        </li>
    </ul>
</div>
