<ul class="row">
    <li class="col-md-4 text-center">
        <a href="#">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span>Control</span>
        </a>
    </li>
    <li class="col-md-4 text-center">
        <a href="#">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span>Compras</span>
        </a>
    </li>
    <li class="col-md-4 text-center">
        <a href="#">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <span>Ajustes</span>
        </a>
    </li>
</ul>
