<!-- NUEVO DISEÑO -->
                    <div class="new-results" id="new-results-tickeables">
                        <div class="results list" id="trips_tickeables" >
                            <div class="row result nu" data-type="bus">
                                <div class="row">
                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <img ng-src="https://www.movelia.es/Recursos/img/g_alsa.gif" title="NEX CONTINENTAL HOLDINGS S L U" class="logo_small hidden-xs hidden-sm" src="https://www.movelia.es/Recursos/img/g_alsa.gif"><br>
                                        <p class="truncate"><small class="text-muted smallest-font">NEX CONTINENTAL HOLDINGS S L U</small></p>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4 tacm">
                                      <p class="pull-right">
                                        <strong>07:00</strong>
                                        <small class="smallest-font text-theme-blue hidden-xs hidden-sm">Sevilla</small>
                                        <br>
                                        <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals">Sevilla (Plaza De Armas)</small>
                                      </p>
                                    </div>

                                    <div class="col-xs-4 col-sm-4  visible-xs visible-sm  text-center">
                                        <p class="approximate-time text-muted smallest-font">4hrs 15min.</p>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4 tacm">
                                      <p class="pull-right">
                                        <strong>11:15</strong>
                                        <small class="smallest-font text-theme-blue hidden-xs hidden-sm">Malaga</small>
                                        <br>
                                        <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals">Malaga</small>
                                      </p>
                                    </div>

                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <p class="pull-right">
                                          <strong class="price-full">18.57 €</strong>
                                          <span class="pull-right">
                                            <small class="text-muted smallest-font" style="margin-top: -10px;">Semi-Cama</small>
                                          </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 hidden-md hidden-lg">
                                        <img ng-src="https://www.movelia.es/Recursos/img/g_alsa.gif" title="NEX CONTINENTAL HOLDINGS S L U" class="logo_small" src="https://www.movelia.es/Recursos/img/g_alsa.gif">
                                        <br>
                                        <small class="text-muted" style="margin-left: 25px;">Directo</small>
                                    </div>
                                       
                                    <div class="col-md-6 col-xs-4 col-sm-4 tacm">
                                        <div class="arrow-box hidden-xs hidden-sm">
                                            <span class=" hidden-xs hidden-sm"> 4hrs 15min</span> 
                                        </div>
                                           
                                        <ul class="timeline hidden-xs hidden-sm">
                                            <li class="li complete">
                                                <div class="timestamp"></div>
                                                <div class="status no-scale"></div>
                                            </li>
                                            <li class="li complete">
                                                <div class="timestamp"></div>
                                                <div class="status no-scale"></div>
                                            </li>
                                        </ul> 
                                        <i class="fa fa-chevron-right hidden-xs hidden-sm"></i>   
                                        <small class="hidden-xs hidden-sm">Directo</small>
                                        <i class="fa fa-chevron-circle-down fa-2x text-theme-green hidden-md hidden-lg"></i>
                                    </div>

                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <i class="fa fa-bus fa-2x pull-right text-theme-blue fa-trip-type" style="margin-left: 20px;margin-top: 10px;"></i>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4">
                                        <a href="#/seat/{{trip.id}}/-1" class="btn theme-blue-2 hidden-xs hidden-sm pull-right"  translate>ELEGIR</a>
                                        <strong class="price hidden-md hidden-lg">18.57 €</strong>

                                    </div>
                                </div>
                            </div>

                            <div class="row result nu" data-type="bus">
                                <div class="row">
                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <img ng-src="https://www.movelia.es/Recursos/img/g_alsa.gif" title="NEX CONTINENTAL HOLDINGS S L U" class="logo_small hidden-xs hidden-sm" src="https://www.movelia.es/Recursos/img/g_alsa.gif"><br>
                                        <p class="truncate"><small class="text-muted smallest-font">NEX CONTINENTAL HOLDINGS S L U</small></p>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4 tacm">
                                      <p class="pull-right">
                                        <strong>07:00</strong>
                                        <small class="smallest-font text-theme-blue hidden-xs hidden-sm">Sevilla</small>
                                        <br>
                                        <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals">Sevilla (Plaza De Armas)</small>
                                      </p>
                                    </div>

                                    <div class="col-xs-4 col-sm-4  visible-xs visible-sm  text-center">
                                        <p class="approximate-time text-muted smallest-font">4hrs 15min.</p>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4 tacm">
                                      <p class="pull-right">
                                        <strong>11:15</strong>
                                        <small class="smallest-font text-theme-blue hidden-xs hidden-sm">Malaga</small>
                                        <br>
                                        <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals">Malaga</small>
                                      </p>
                                    </div>

                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <p class="pull-right">
                                          <strong class="price-full">18.57 €</strong>
                                          <span class="pull-right">
                                            <small class="text-muted smallest-font" style="margin-top: -10px;">Semi-Cama</small>
                                          </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 hidden-md hidden-lg">
                                        <img ng-src="https://www.movelia.es/Recursos/img/g_alsa.gif" title="NEX CONTINENTAL HOLDINGS S L U" class="logo_small" src="https://www.movelia.es/Recursos/img/g_alsa.gif">
                                        <br>
                                        <small class="text-muted" style="margin-left: 25px;">Directo</small>
                                    </div>
                                       
                                    <div class="col-md-6 col-xs-4 col-sm-4 tacm">
                                        <div class="arrow-box hidden-xs hidden-sm">
                                            <span class=" hidden-xs hidden-sm"> 4hrs 15min</span> 
                                        </div>
                                           
                                        <ul class="timeline hidden-xs hidden-sm">
                                            <li class="li complete">
                                                <div class="timestamp"></div>
                                                <div class="status no-scale"></div>
                                            </li>
                                            <li class="li complete">
                                                <div class="timestamp"></div>
                                                <div class="status no-scale"></div>
                                            </li>
                                        </ul> 
                                        <i class="fa fa-chevron-right hidden-xs hidden-sm"></i>   
                                        <small class="hidden-xs hidden-sm">Directo</small>
                                        <i class="fa fa-chevron-circle-down fa-2x text-theme-green hidden-md hidden-lg"></i>
                                    </div>

                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <i class="fa fa-bus fa-2x pull-right text-theme-blue fa-trip-type" style="margin-left: 20px;margin-top: 10px;"></i>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4">
                                        <a href="#/seat/{{trip.id}}/-1" class="btn theme-blue-2 hidden-xs hidden-sm pull-right"  translate>ELEGIR</a>
                                        <strong class="price hidden-md hidden-lg">18.57 €</strong>

                                    </div>
                                </div>
                            </div>

                            <div class="row result nu" data-type="bus">
                                <div class="row">
                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <img ng-src="https://www.movelia.es/Recursos/img/g_alsa.gif" title="NEX CONTINENTAL HOLDINGS S L U" class="logo_small hidden-xs hidden-sm" src="https://www.movelia.es/Recursos/img/g_alsa.gif"><br>
                                        <p class="truncate"><small class="text-muted smallest-font">NEX CONTINENTAL HOLDINGS S L U</small></p>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4 tacm">
                                      <p class="pull-right">
                                        <strong>07:00</strong>
                                        <small class="smallest-font text-theme-blue hidden-xs hidden-sm">Sevilla</small>
                                        <br>
                                        <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals">Sevilla (Plaza De Armas)</small>
                                      </p>
                                    </div>

                                    <div class="col-xs-4 col-sm-4  visible-xs visible-sm  text-center">
                                        <p class="approximate-time text-muted smallest-font">4hrs 15min.</p>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4 tacm">
                                      <p class="pull-right">
                                        <strong>11:15</strong>
                                        <small class="smallest-font text-theme-blue hidden-xs hidden-sm">Malaga</small>
                                        <br>
                                        <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals">Malaga</small>
                                      </p>
                                    </div>

                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <p class="pull-right">
                                          <strong class="price-full">18.57 €</strong>
                                          <span class="pull-right">
                                            <small class="text-muted smallest-font" style="margin-top: -10px;">Semi-Cama</small>
                                          </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 hidden-md hidden-lg">
                                        <img ng-src="https://www.movelia.es/Recursos/img/g_alsa.gif" title="NEX CONTINENTAL HOLDINGS S L U" class="logo_small" src="https://www.movelia.es/Recursos/img/g_alsa.gif">
                                        <br>
                                        <small class="text-muted" style="margin-left: 25px;">Directo</small>
                                    </div>
                                       
                                    <div class="col-md-6 col-xs-4 col-sm-4 tacm">
                                        <div class="arrow-box hidden-xs hidden-sm">
                                            <span class=" hidden-xs hidden-sm"> 4hrs 15min</span> 
                                        </div>
                                           
                                        <ul class="timeline hidden-xs hidden-sm">
                                            <li class="li complete">
                                                <div class="timestamp"></div>
                                                <div class="status no-scale"></div>
                                            </li>
                                            <li class="li complete">
                                                <div class="timestamp"></div>
                                                <div class="status no-scale"></div>
                                            </li>
                                        </ul> 
                                        <i class="fa fa-chevron-right hidden-xs hidden-sm"></i>   
                                        <small class="hidden-xs hidden-sm">Directo</small>
                                        <i class="fa fa-chevron-circle-down fa-2x text-theme-green hidden-md hidden-lg"></i>
                                    </div>

                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <i class="fa fa-bus fa-2x pull-right text-theme-blue fa-trip-type" style="margin-left: 20px;margin-top: 10px;"></i>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4">
                                        <a href="#/seat/{{trip.id}}/-1" class="btn theme-blue-2 hidden-xs hidden-sm pull-right"  translate>ELEGIR</a>
                                        <strong class="price hidden-md hidden-lg">18.57 €</strong>

                                    </div>
                                </div>
                            </div>


                            <div class="row result nu" data-type="plane">
                                <div class="row">
                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <img ng-src="https://www.movelia.es/Recursos/img/g_alsa.gif" title="NEX CONTINENTAL HOLDINGS S L U" class="logo_small hidden-xs hidden-sm" src="https://www.movelia.es/Recursos/img/g_alsa.gif"><br>
                                        <small class="text-muted smallest-font truncate">NEX CONTINENTAL HOLDINGS S L U</small>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4 tacm">
                                       <p class="pull-right">
                                        <strong>07:00</strong>
                                        <small class="smallest-font text-theme-blue hidden-xs hidden-sm">Sevilla</small>
                                        <br>
                                        <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals">Sevilla (Plaza De Armas)</small>
                                      </p>
                                    </div>

                                    <div class="col-xs-4 col-sm-4  visible-xs visible-sm  text-center">
                                        <p class="approximate-time text-muted smallest-font">4hrs 15min.</p>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4 tacm">
                                       <p class="pull-right">
                                        <strong>11:15</strong>
                                        <small class="smallest-font text-theme-blue hidden-xs hidden-sm">Malaga</small>
                                        <br>
                                        <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals">Malaga</small>
                                      </p>
                                    </div>

                                    <div class="col-md-3 text-center hidden-xs hidden-sm">
                                      <p class="pull-right">
                                          <strong class="price-full">18.57 €</strong>
                                          <span class="pull-right">
                                            <small class="text-muted smallest-font" style="margin-top: -10px;">Primera Clase</small>
                                          </span>
                                        </p>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 hidden-md hidden-lg">
                                        <img ng-src="https://www.movelia.es/Recursos/img/g_alsa.gif" title="NEX CONTINENTAL HOLDINGS S L U" class="logo_small" src="https://www.movelia.es/Recursos/img/g_alsa.gif">
                                        <br>
                                        <small class="text-muted" style="margin-left: 25px;">3 Escalas</small>
                                    </div>
                                       
                                    <div class="col-md-6 col-xs-4 col-sm-4 tacm">
                                        <div class="arrow-box hidden-xs hidden-sm">
                                            <span class=" hidden-xs hidden-sm"> 4hrs 15min</span> 
                                        </div>
                                           
                                        <ul class="timeline hidden-xs hidden-sm">
                                            <li class="li complete">
                                                <div class="timestamp"></div>
                                                <div class="status"></div>
                                            </li>
                                            <li class="li complete">
                                                <div class="timestamp"></div>
                                                <div class="status"></div>
                                            </li>
                                            <li class="li complete">
                                                <div class="timestamp"></div>
                                                <div class="status"></div>
                                            </li>
                                        </ul> 
                                        <i class="fa fa-chevron-right hidden-xs hidden-sm"></i>   
                                        <small class="hidden-xs hidden-sm">3 Escalas</small>
                                        <i class="fa fa-chevron-circle-down fa-2x text-theme-green hidden-md hidden-lg " data-trip-id="001" ng-click="search.tripDetails($event)"></i>
                                    </div>

                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <i class="fa fa-plane fa-2x pull-right text-theme-blue fa-trip-type" style="margin-left: 20px;margin-top: 10px;"></i>
                                        <small class="text-muted smallest-font pull-right" style="margin-top: 20px;">Primera Clase</small>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4">
                                        <button data-trip-id="001" ng-click="search.tripDetails($event)" class="btn theme-blue-2 hidden-xs hidden-sm pull-right" translate>Elegir</button>
                                        <strong class="price hidden-md hidden-lg">18.57 €</strong>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 30px; display: none;" id="trip_details_001">
                                    <div class="timeline-centered">
                                        <article class="timeline-entry right-aligned">
                                            <div class="timeline-entry-inner">
                                                <time class="timeline-time" datetime="2014-01-10T03:45">
                                                    <span>09:32 PM</span>
                                                    <span>Jue, Abril 22</span>
                                                </time>
                                                <div class="timeline-icon bg-theme-blue">
                                                    <i class="fa fa-plane"></i>
                                                </div>
                                                <div class="timeline-label">
                                                    <h2>Santiago</h2>
                                                    <p>
                                                        <b>Sky Airline</b> | Vuelo No: <b>28</b>
                                                        <span class="label label-default pull-right"><b>1h 13min</b></span>
                                                        <br>
                                                        <b>09:32pm</b> <i class="fa fa-angle-right"></i> <b>10:45pm</b>
                                                    </p>
                                                </div>
                                                <div class="timeline-sublabel">
                                                    <p class="text-muted smallest-font">
                                                      <i class="fa fa-clock-o"></i> Layover in Concepcion for 1h 26min <br>
                                                      <i class="fa fa-suitcase"></i> Recheck of checked luggage needed
                                                    </p>
                                                </div>
                                               
                                            </div>
                                        </article>

                                        <article class="timeline-entry right-aligned">
                                            <div class="timeline-entry-inner">
                                                <time class="timeline-time" datetime="2014-01-10T03:45">
                                                    <span>10:45 PM</span>
                                                    <span>Jue, Abril 22</span>
                                                </time>
                                                <div class="timeline-icon">
                                                    <i class="fa fa-plane"></i>
                                                </div>
                                                <div class="timeline-label">
                                                    <h2>Concepcion (Aeropuerto)</h2>
                                                    <p>
                                                        <b>Sky Airline</b> | Vuelo No: <b>31</b>
                                                        <span class="label label-default pull-right"><b>1h 45min</b></span>
                                                        <br>
                                                        <b>10:45pm</b> <i class="fa fa-angle-right"></i> <b>12:25am</b>
                                                    </p>
                                                </div>
                                                <div class="timeline-sublabel">
                                                    <p class="text-muted smallest-font">
                                                      <i class="fa fa-clock-o"></i> Layover in Concepcion for 1h 26min <br>
                                                    </p>
                                                </div>
                                            </div>
                                        </article>

                                         <article class="timeline-entry right-aligned">
                                            <div class="timeline-entry-inner">
                                                <time class="timeline-time" datetime="2014-01-10T03:45">
                                                    <span>12:25 AM</span>
                                                    <span>Jue, Abril 23</span>
                                                </time>
                                                <div class="timeline-icon">
                                                    <i class="fa fa-plane"></i>
                                                </div>
                                                <div class="timeline-label">
                                                    <h2>Puerto Montt (Aeropuerto)</h2>
                                                    <p>
                                                        <b>Sky Airline</b> | Vuelo No: <b>07</b>
                                                        <span class="label label-default pull-right"><b>2h 10min</b></span>
                                                        <br>
                                                        <b>12:25am</b> <i class="fa fa-angle-right"></i> <b>02:35am</b>
                                                    </p>
                                                </div>
                                            </div>
                                        </article>
                                        
                                        <article class="timeline-entry begin">
                                            <div class="timeline-entry-inner">
                                                <time class="timeline-time" datetime="2014-01-10T03:45">
                                                    <span>02:35 AM</span>
                                                    <span>Jue, Abril 23</span>
                                                </time>
                                                <div class="timeline-icon">
                                                    
                                                </div>
                                                <div class="timeline-label">
                                                    <h2>Puerto Arena </h2>
                                                </div>

                                            </div>
                                        </article>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                             <a href="#/seat/{{trip.id}}/-1" class="btn theme-fucsia pull-right" style="margin-right: 20px;" translate>SEARCH.TRIPS.BUTTON</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <div class="row result nu" data-type="plane">
                                <div class="row">
                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <img ng-src="https://www.movelia.es/Recursos/img/g_alsa.gif" title="NEX CONTINENTAL HOLDINGS S L U" class="logo_small hidden-xs hidden-sm" src="https://www.movelia.es/Recursos/img/g_alsa.gif"><br>
                                        <small class="text-muted smallest-font truncate">NEX CONTINENTAL HOLDINGS S L U</small>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4 tacm">
                                      <p class="pull-right">
                                        <strong>07:00</strong>
                                        <small class="smallest-font text-theme-blue hidden-xs hidden-sm">Sevilla</small>
                                        <br>
                                        <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals">Sevilla (Plaza De Armas)</small>
                                      </p>
                                    </div>

                                    <div class="col-xs-4 col-sm-4  visible-xs visible-sm  text-center">
                                        <p class="approximate-time text-muted smallest-font">4hrs 15min.</p>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4 tacm">
                                      <p class="pull-right">
                                        <strong>11:15</strong>
                                        <small class="smallest-font text-theme-blue hidden-xs hidden-sm">Malaga</small>
                                        <br>
                                        <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals">Malaga</small>
                                      </p>
                                    </div>

                                    <div class="col-md-3 text-center hidden-xs hidden-sm">
                                      <p class="pull-right">
                                          <strong class="price-full">18.57 €</strong>
                                          <span class="pull-right">
                                            <small class="text-muted smallest-font" style="margin-top: -10px;">Primera Clase</small>
                                          </span>
                                        </p>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 hidden-md hidden-lg">
                                        <img ng-src="https://www.movelia.es/Recursos/img/g_alsa.gif" title="NEX CONTINENTAL HOLDINGS S L U" class="logo_small" src="https://www.movelia.es/Recursos/img/g_alsa.gif">
                                        <br>
                                        <small class="text-muted" style="margin-left: 25px;">3 Escalas</small>
                                    </div>
                                       
                                    <div class="col-md-6 col-xs-4 col-sm-4 tacm">
                                        <div class="arrow-box hidden-xs hidden-sm">
                                            <span class=" hidden-xs hidden-sm"> 4hrs 15min</span> 
                                        </div>
                                           
                                        <ul class="timeline hidden-xs hidden-sm">
                                            <li class="li complete">
                                                <div class="timestamp"></div>
                                                <div class="status"></div>
                                            </li>
                                            <li class="li complete">
                                                <div class="timestamp"></div>
                                                <div class="status"></div>
                                            </li>
                                            <li class="li complete">
                                                <div class="timestamp"></div>
                                                <div class="status"></div>
                                            </li>
                                        </ul> 
                                        <i class="fa fa-chevron-right hidden-xs hidden-sm"></i>   
                                        <small class="hidden-xs hidden-sm">3 Escalas</small>
                                        <i class="fa fa-chevron-circle-down fa-2x text-theme-green hidden-md hidden-lg " data-trip-id="001" ng-click="search.tripDetails($event)"></i>
                                    </div>

                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <i class="fa fa-plane fa-2x pull-right text-theme-blue fa-trip-type" style="margin-left: 20px;margin-top: 10px;"></i>
                                        <small class="text-muted smallest-font pull-right" style="margin-top: 20px;">Primera Clase</small>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4">
                                        <button data-trip-id="001" ng-click="search.tripDetails($event)" class="btn theme-blue-2 hidden-xs hidden-sm pull-right" translate>Elegir</button>
                                        <strong class="price hidden-md hidden-lg">18.57 €</strong>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 30px; display: none;" id="trip_details_001">
                                    <div class="timeline-centered">
                                        <article class="timeline-entry right-aligned">
                                            <div class="timeline-entry-inner">
                                                <time class="timeline-time" datetime="2014-01-10T03:45">
                                                    <span>09:32 PM</span>
                                                    <span>Jue, Abril 22</span>
                                                </time>
                                                <div class="timeline-icon bg-theme-blue">
                                                    <i class="fa fa-plane"></i>
                                                </div>
                                                <div class="timeline-label">
                                                    <h2>Santiago</h2>
                                                    <p>
                                                        <b>Sky Airline</b> | Vuelo No: <b>28</b>
                                                        <span class="label label-default pull-right"><b>1h 13min</b></span>
                                                        <br>
                                                        <b>09:32pm</b> <i class="fa fa-angle-right"></i> <b>10:45pm</b>
                                                    </p>
                                                </div>
                                                <div class="timeline-sublabel">
                                                    <p class="text-muted smallest-font">
                                                      <i class="fa fa-clock-o"></i> Layover in Concepcion for 1h 26min <br>
                                                      <i class="fa fa-suitcase"></i> Recheck of checked luggage needed
                                                    </p>
                                                </div>
                                               
                                            </div>
                                        </article>

                                        <article class="timeline-entry right-aligned">
                                            <div class="timeline-entry-inner">
                                                <time class="timeline-time" datetime="2014-01-10T03:45">
                                                    <span>10:45 PM</span>
                                                    <span>Jue, Abril 22</span>
                                                </time>
                                                <div class="timeline-icon">
                                                    <i class="fa fa-plane"></i>
                                                </div>
                                                <div class="timeline-label">
                                                    <h2>Concepcion (Aeropuerto)</h2>
                                                    <p>
                                                        <b>Sky Airline</b> | Vuelo No: <b>31</b>
                                                        <span class="label label-default pull-right"><b>1h 45min</b></span>
                                                        <br>
                                                        <b>10:45pm</b> <i class="fa fa-angle-right"></i> <b>12:25am</b>
                                                    </p>
                                                </div>
                                                <div class="timeline-sublabel">
                                                    <p class="text-muted smallest-font">
                                                      <i class="fa fa-clock-o"></i> Layover in Concepcion for 1h 26min <br>
                                                    </p>
                                                </div>
                                            </div>
                                        </article>

                                         <article class="timeline-entry right-aligned">
                                            <div class="timeline-entry-inner">
                                                <time class="timeline-time" datetime="2014-01-10T03:45">
                                                    <span>12:25 AM</span>
                                                    <span>Jue, Abril 23</span>
                                                </time>
                                                <div class="timeline-icon">
                                                    <i class="fa fa-plane"></i>
                                                </div>
                                                <div class="timeline-label">
                                                    <h2>Puerto Montt (Aeropuerto)</h2>
                                                    <p>
                                                        <b>Sky Airline</b> | Vuelo No: <b>07</b>
                                                        <span class="label label-default pull-right"><b>2h 10min</b></span>
                                                        <br>
                                                        <b>12:25am</b> <i class="fa fa-angle-right"></i> <b>02:35am</b>
                                                    </p>
                                                </div>
                                            </div>
                                        </article>
                                        
                                        <article class="timeline-entry begin">
                                            <div class="timeline-entry-inner">
                                                <time class="timeline-time" datetime="2014-01-10T03:45">
                                                    <span>02:35 AM</span>
                                                    <span>Jue, Abril 23</span>
                                                </time>
                                                <div class="timeline-icon">
                                                    
                                                </div>
                                                <div class="timeline-label">
                                                    <h2>Puerto Arena </h2>
                                                </div>

                                            </div>
                                        </article>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                             <a href="#/seat/{{trip.id}}/-1" class="btn theme-fucsia pull-right" style="margin-right: 20px;" translate>SEARCH.TRIPS.BUTTON</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row result nu" data-type="train">
                                <div class="row">
                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <img ng-src="https://www.movelia.es/Recursos/img/g_alsa.gif" title="NEX CONTINENTAL HOLDINGS S L U" class="logo_small hidden-xs hidden-sm" src="https://www.movelia.es/Recursos/img/g_alsa.gif"><br>
                                        <p class="truncate"><small class="text-muted smallest-font">NEX CONTINENTAL HOLDINGS S L U</small></p>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4 tacm">
                                      <p class="pull-right">
                                        <strong>07:00</strong>
                                        <small class="smallest-font text-theme-blue hidden-xs hidden-sm">Sevilla</small>
                                        <br>
                                        <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals">Sevilla (Plaza De Armas)</small>
                                      </p>
                                    </div>

                                    <div class="col-xs-4 col-sm-4  visible-xs visible-sm  text-center">
                                        <p class="approximate-time text-muted smallest-font">4hrs 15min.</p>
                                    </div>


                                    <div class="col-md-3 col-xs-4 col-sm-4 tacm">
                                      <p class="pull-right">
                                        <strong>11:15</strong>
                                        <small class="smallest-font text-theme-blue hidden-xs hidden-sm">Malaga</small>
                                        <br>
                                        <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals">Malaga</small>
                                      </p>
                                    </div>

                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <p class="pull-right">
                                          <strong class="price-full">18.57 €</strong>
                                          <span class="pull-right">
                                            <small class="text-muted smallest-font" style="margin-top: -10px;">Semi-Cama</small>
                                          </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 hidden-md hidden-lg">
                                        <img ng-src="https://www.movelia.es/Recursos/img/g_alsa.gif" title="NEX CONTINENTAL HOLDINGS S L U" class="logo_small" src="https://www.movelia.es/Recursos/img/g_alsa.gif">
                                        <br>
                                        <small class="text-muted" style="margin-left: 25px;">Directo</small>
                                    </div>
                                       
                                    <div class="col-md-6 col-xs-4 col-sm-4 tacm">
                                        <div class="arrow-box hidden-xs hidden-sm">
                                            <span class=" hidden-xs hidden-sm"> 4hrs 15min</span> 
                                        </div>
                                           
                                        <ul class="timeline hidden-xs hidden-sm">
                                            <li class="li complete">
                                                <div class="timestamp"></div>
                                                <div class="status no-scale"></div>
                                            </li>
                                            <li class="li complete">
                                                <div class="timestamp"></div>
                                                <div class="status no-scale"></div>
                                            </li>
                                        </ul> 
                                        <i class="fa fa-chevron-right hidden-xs hidden-sm"></i>   
                                        <small class="hidden-xs hidden-sm">Directo</small>
                                        <i class="fa fa-chevron-circle-down fa-2x text-theme-green hidden-md hidden-lg"></i>
                                    </div>

                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <i class="fa fa-bus fa-2x pull-right text-theme-blue fa-trip-type" style="margin-left: 20px;margin-top: 10px;"></i>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4">
                                        <a href="#/seat/{{trip.id}}/-1" class="btn theme-blue-2 hidden-xs hidden-sm pull-right"  translate>ELEGIR</a>
                                        <strong class="price hidden-md hidden-lg">18.57 €</strong>

                                    </div>
                                </div>
                            </div>

                            <div class="row result nu" data-type="train">
                                <div class="row">
                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <img ng-src="https://www.movelia.es/Recursos/img/g_alsa.gif" title="NEX CONTINENTAL HOLDINGS S L U" class="logo_small hidden-xs hidden-sm" src="https://www.movelia.es/Recursos/img/g_alsa.gif"><br>
                                        <p class="truncate"><small class="text-muted smallest-font">NEX CONTINENTAL HOLDINGS S L U</small></p>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4 tacm">
                                      <p class="pull-right">
                                        <strong>07:00</strong>
                                        <small class="smallest-font text-theme-blue hidden-xs hidden-sm">Sevilla</small>
                                        <br>
                                        <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals">Sevilla (Plaza De Armas)</small>
                                      </p>
                                    </div>

                                    <div class="col-xs-4 col-sm-4  visible-xs visible-sm  text-center">
                                        <p class="approximate-time text-muted smallest-font">4hrs 15min.</p>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4 tacm">
                                      <p class="pull-right">
                                        <strong>11:15</strong>
                                        <small class="smallest-font text-theme-blue hidden-xs hidden-sm">Malaga</small>
                                        <br>
                                        <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals">Malaga</small>
                                      </p>
                                    </div>

                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <p class="pull-right">
                                          <strong class="price-full">18.57 €</strong>
                                          <span class="pull-right">
                                            <small class="text-muted smallest-font" style="margin-top: -10px;">Semi-Cama</small>
                                          </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 hidden-md hidden-lg">
                                        <img ng-src="https://www.movelia.es/Recursos/img/g_alsa.gif" title="NEX CONTINENTAL HOLDINGS S L U" class="logo_small" src="https://www.movelia.es/Recursos/img/g_alsa.gif">
                                        <br>
                                        <small class="text-muted" style="margin-left: 25px;">Directo</small>
                                    </div>
                                       
                                    <div class="col-md-6 col-xs-4 col-sm-4 tacm">
                                        <div class="arrow-box hidden-xs hidden-sm">
                                            <span class=" hidden-xs hidden-sm"> 4hrs 15min</span> 
                                        </div>
                                           
                                        <ul class="timeline hidden-xs hidden-sm">
                                            <li class="li complete">
                                                <div class="timestamp"></div>
                                                <div class="status no-scale"></div>
                                            </li>
                                            <li class="li complete">
                                                <div class="timestamp"></div>
                                                <div class="status no-scale"></div>
                                            </li>
                                        </ul> 
                                        <i class="fa fa-chevron-right hidden-xs hidden-sm"></i>   
                                        <small class="hidden-xs hidden-sm">Directo</small>
                                        <i class="fa fa-chevron-circle-down fa-2x text-theme-green hidden-md hidden-lg"></i>
                                    </div>

                                    <div class="col-md-3 hidden-xs hidden-sm">
                                        <i class="fa fa-bus fa-2x pull-right text-theme-blue fa-trip-type" style="margin-left: 20px;margin-top: 10px;"></i>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4">
                                        <a href="#/seat/{{trip.id}}/-1" class="btn theme-blue-2 hidden-xs hidden-sm pull-right"  translate>ELEGIR</a>
                                        <strong class="price hidden-md hidden-lg">18.57 €</strong>

                                    </div>
                                </div>
                            </div>




                 


                        </div>
                    </div>



                             <!-- FIN NUEVO DISEÑO -->
