<div id="popover-bg"></div>
<div class="popover-select-passengers">
    <div class="popover-select-passengers-wrapper">
        <h5>Pasajeros</h5>
        <div class="input-group number-spinner pull-right">
            <label for="">Adultos</label>
            <span class="input-group-btn">
                <button class="btn btn-default btn-xs" data-dir="dwn" ng-click="search.updatePassengers('adult', 'dwn')">
                    <i class="fa fa-minus"></i>
                </button>
            </span>
            <input type="text" class="text-center" size="2" ng-model="search.passengersAdult">
            <span class="input-group-btn">
                <button class="btn btn-default btn-xs" data-dir="up" ng-click="search.updatePassengers('adult', 'up')">
                    <i class="fa fa-plus"></i>
                </button>
            </span>
        </div>
        <div class="input-group number-spinner pull-right">
            <label for="">Niños</label>
            <span class="input-group-btn">
                <button class="btn btn-default btn-xs" data-dir="dwn" ng-click="search.updatePassengers('child', 'dwn')">
                    <i class="fa fa-minus"></i>
                </button>
            </span>
            <input type="text" class="text-center"  size="2" ng-model="search.passengersChild">
            <span class="input-group-btn">
                <button class="btn btn-default btn-xs" data-dir="up" ng-click="search.updatePassengers('child', 'up')">
                    <i class="fa fa-plus"></i>
                </button>
            </span>
        </div>
        <div class="input-group number-spinner pull-right">
            <label for="">Bebes</label>
            <span class="input-group-btn">
                <button class="btn btn-default btn-xs" data-dir="dwn" ng-click="search.updatePassengers('baby', 'dwn')">
                    <i class="fa fa-minus"></i>
                </button>
            </span>
            <input type="text" class="text-center" size="2" ng-model="search.passengersBaby">
            <span class="input-group-btn">
                <button class="btn btn-default btn-xs" data-dir="up" ng-click="search.updatePassengers('baby', 'up')">
                    <i class="fa fa-plus"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div id="results-container">
    <!-- Start Hero -->
    <div class="hero" id="search-page">
        <div class="hero-img">
            <div class="hero-content">
                <!-- Start Destination Search -->
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="row destination-search">
                                <form role="form" >
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 ">
                                            <div class="row destination-search">
                                                <div class="col-md-3 col-xs-12 np">
                                                    <selectize config='search.myConfig' options='search.myOptions' ng-model="search.origin" ng-disabled="search.disabled"></selectize>
                                                    <!-- <span class="fa fa-times clear-field vh-calendar" ng-show="search.destination"></span> -->
                                                </div>
                                                <div class="switcheroo hidden-xs hidden-sm"></div>
                                                <div class="col-md-3 col-xs-12  np">
                                                    <selectize config='search.myConfig' options='search.myOptions' ng-model="search.destination" ng-disabled="search.disabled"></selectize>
                                                    <!-- <span class="fa fa-times clear-field vh-calendar" ng-show="search.destination"></span> -->

                                                </div>
                                                <div class="col-md-2 col-xs-6  np nbrr" style="border-right: 1px solid #c1c1c1;">
                                                   <vhdatepicker id="departureDate" class="form-departure" ng-model="search.dates.departureDate" data-set-date="false" data-min-date="{{ search.dates.minDate }}"  data-placeholder="Ida" data-date-format="DD/MM/YYYY" data-departure-date="{{search.dates.departureDate}}" ng-disabled="search.disabled"></vhdatepicker>
                                                    <span class="fa fa-calendar departure-calendar vh-calendar"></span>
                                                    <span class="fa fa-times clear-calendar vh-calendar"></span>
                                                </div>
                                                <div class="col-md-2 col-xs-6 np nbrr" style="border-right: 1px solid #c1c1c1;">
                                                    <vhdatepicker id="returnDate" class="form-return" ng-model="search.dates.returnDate" data-min-date="{{ search.dates.minDate }}"  data-placeholder="Vuelta" data-date-format="DD/MM/YYYY" data-return-date="{{search.dates.returnDate}}" ng-disabled="search.disabled"></vhdatepicker>
                                                    <span class="fa fa-calendar return-calendar vh-calendar"></span>
                                                    <span class="fa fa-times clear-calendar vh-calendar"></span>
                                                </div>
                                                <div class="col-md-2 col-xs-12 np">
                                                    <input type="text" id="select_passengers" ng-model="search.passengers">
                                                    <span class="fa fa-users  vh-calendar" style="margin-right: 15px;"></span>
                                                </div>

                                            </div> <!-- end .row -->
                                        </div> <!-- End Destination Search -->
                                    </div>
                                 </form>
                            </div>
                        </div>
                        <!-- <div class="bg-info col-xs-12 col-md-12" ng-if="search.searching"><span>Buscando.....</span></div> -->
                        <!-- <div class="bg-danger col-xs-12 col-md-12" ng-if="search.error"><span>{{search.msgError}}</span></div> -->
                    </div> <!-- end .row-->


                </div> <!-- end container-->
            </div> <!-- end .hero-content-->
        </div> <!-- end .hero-img-->
    </div> <!-- end .hero -->

    <!-- Start Main content -->
    <div class="container" ng-show="!search.results"  style="margin-top: 80px; margin-bottom: 80px;">
            <div class="modal-backdrop" style="background: rgba(0,0,0,0.5); padding-top: 50%; ">
                <div class="modal show" id="weather-widget" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static"
               data-keyboard="false" style="padding-top: 10%; ">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="background-color: #fff !important;">
                            <div class="modal-body">
                                <p class="text-center" translate>SEARCH.WEATHER.TITLE_1</p><br>
                                <div class="flatWeatherPlugin today" style="background: #fff; padding: 10px;">
                                    <h2>{{ search.destination }}</h2>
                                    <div class="wiToday">
                                        <div class="wiIconGroup">
                                            <div class="{{ search.weather.icon }}"></div>
                                            <p class="wiText" style="text-transform: capitalize;">{{ search.weather.description }}</p>
                                        </div>
                                        <p class="wiTemperature">{{ search.weather.temp.current  }}</p>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <div id="weather_progress" style="padding: 10px 20px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="container" ng-show="search.results">
        <div class="row container-responsive" id="ida-results">
            <!-- Start Filter -->
            <div class="col-xs-12 col-md-3 no-margin no-padding" ng-hide="search.trips.directReturnTrips.length > 0">
                <div class="filter-btn-content visible-xs">
                    <div class="row">
                        <div class="col-xs-7">
                            <span class="text-muted smallest-font">{{search.trips.directDepartureTrips.length}} <span translate>SEARCH.FILTERS.RESULTS</span></span>
                        </div>
                        <div class="col-xs-5">
                            <button class="btn btn-block btn-xs theme-gray outline btn-filters"  translate> SEARCH.FILTERS.TITLE</button>
                        </div>
                    </div>
                </div> <!-- end .filter-btn-content -->
                <br>
                <div class="filter hidden-xs hidden-sm">
                    <div class="filter-title visible-xs">
                        <i class="fa fa-filter"></i> <span translate>SEARCH.FILTERS.TITLE</span>
                        <i class="fa fa-times right hide-filters" style="font-weigth: 300; margin-top: 4px;"></i>
                    </div>

                    <div id="map_canvas" class="hidden-xs">
                         <div gmap data-origin="{{ search.origin }}" data-destination="{{ search.destination }}"></div>
                    </div>
                    <div class="trip-info hidde-xs hidden-sm">
                        <span class="title"><i class="fa fa-info-circle"></i> <span translate>SEARCH.FILTERS.MAP_TITLE</span></span><br>
                        <span translate>SEARCH.FILTERS.MAP_DISTANCE</span> <span class="content" id="distance_gm"></span><br>
                        <span translate>SEARCH.FILTERS.MAP_DURATION</span> <span class="content">{{ search.minDuration }}</span>
                    </div>
                </div>

                <div class="filter hidden-xs hidden-sm" id="filters-container">
                    <div class="filter-header">
                        <h3 class="pull-left" translate>SEARCH.FILTERS.TITLE</h3>
                        <span class="smallest-font text-muted pull-right">{{search.trips.directDepartureTrips.length}} <span translate>SEARCH.FILTERS.RESULTS</span></span>
                    </div>

                    <!-- Start Filter Time -->
                    <div class="contrast-title">
                        <h3 translate>
                           SEARCH.FILTERS.DEPARTURE_HOUR
                        </h3>
                    </div>

                    <div class="filter-module">
                         <input type="hidden" id="amount" readonly>
                        <div style="">
                            <rzslider
                                rz-slider-model="search.hourSlider.minValue"
                                rz-slider-high="search.hourSlider.maxValue"
                                rz-slider-options="search.hourSlider.options">
                            </rzslider>
                        </div>
                    </div>
                    <!-- End Filter Time -->

                    <!-- Start Filter Price -->
                    <div class="contrast-title">
                        <h3 translate>
                            SEARCH.FILTERS.PRICE
                        </h3>
                    </div>

                    <div class="filter-module">
                        <input type="hidden" id="mount" readonly>
                        <div>
                            <rzslider
                                rz-slider-model="search.priceSlider.price"
                                rz-slider-options="search.priceSlider.options">
                            </rzslider>
                        </div>

                    </div>
                    <!-- End Filter Price -->

                    <!-- Start Filter Seats -->
                    <div class="contrast-title">
                        <h3 translate>
                            SEARCH.FILTERS.SEAT_TYPE
                        </h3>
                    </div>

                    <div class="filter-module">
                        <ul class="list-unstyled">
                            <li ng-repeat="typeSeat in search.trips.typeServices">
                                <input class="seatType" id="{{typeSeat.id}}" data="{{typeSeat.name}}" type="checkbox" ${checked} name="semi-cama" data-value="{{typeSeat.name}}" ng-click="search.seatFilter(typeSeat,search.trips.typeServices.length)" ng-model="typeSeat.checked">
                                <label for="{{typeSeat.id}}" class="capitalize" >{{typeSeat.name}}</label>
                            </li>
                            <li ng-repeat="typeSeat in search.scraperSeats">
                                <input class="seatType" id="{{typeSeat.id}}" data="{{typeSeat.name}}" type="checkbox" ${checked} name="semi-cama" data-value="{{typeSeat.name}}" ng-click="search.seatFilter(typeSeat,search.trips.typeServices.length)" ng-model="typeSeat.checked">
                                <label for="{{typeSeat.id}}" class="capitalize" >{{typeSeat.name}}</label>
                            </li>
                        </ul>
                    </div>
                    <!-- End Filter Seats -->

                    <!-- Start Filter Companies -->
                    <div class="contrast-title">
                        <h3 translate>
                            SEARCH.FILTERS.COMPANIES
                        </h3>
                    </div>

                    <div class="filter-module">
                        <ul class="list-unstyled">
                            <li ng-repeat="company in search.trips.companies">
                                <input id="{{company.id}}" type="checkbox"  name="{{company.id}}" data="{{company.name}}" class="company" ng-click="search.companyFilter(company,search.trips.companies.length)" ng-model="company.checked">
                                <label for="{{company.id}}" class="capitalize" >{{company.name}}</label>
                            </li>
                            <li ng-repeat="company in search.scraperCompanies">
                                <input id="{{company.id}}" type="checkbox"  name="{{company.id}}" data="{{company.name}}" class="company" ng-click="search.companyFilter(company,search.trips.companies.length)" ng-model="company.checked">
                                <label for="{{company.id}}" class="capitalize" >{{company.nickName}}</label>
                            </li>
                        </ul>
                    </div>
                    <!-- End Filter Companies -->
                    <!-- Btn Close Filters -->
                    <button class="btn btn-block theme-green visible-xs btn-filters"></i> <span translate>SEARCH.FILTERS.TITLE</span></button>
                </div>
                <!-- End Filter -->
            </div>
            <!-- End colums -->


            <!-- Start Results -->
            <div class="col-xs-12 col-md-9 conttainer-results" style="margin-top:10px" ng-class="{'col-md-12' : search.trips.directReturnTrips.length > 0 || search.trips.alternativeTrips.length > 0}">
                <div class="row header-results hidden-xs hidden-sm" ng-show="search.results && search.trips.alternativeTrips.length == 0 || search.results">
                    <div class="col-md-3 sort sort-trips bl bt bb" ng-class="{active:search.type === 'salida'}" data-sort="departure" ng-click="search.order('salida')">
                        <span translate>SEARCH.SORT.HORARY</span>
                        <span class="sort" ng-class="{desc:search.reverse,asc:!search.reverse}" ng-show="search.type === 'salida'"></span>
                    </div>
                    <div class="col-md-3  sort sort-trips bl bt bb" ng-class="{active:search.type === 'price'}" data-sort="price" ng-click="search.order('price')">
                        <span translate>SEARCH.SORT.PRICE</span>
                        <span class="sort" ng-class="{desc:search.reverse,asc:!search.reverse}" ng-show="search.type === 'price'"></span>
                    </div>
                    <div class="col-md-3  sort sort-trips bl bt bb" ng-class="{active:search.type === 'durationMinutes'}" data-sort="company" ng-click="search.order('durationMinutes')">
                        <span style="margin-left:6px;" translate>SEARCH.SORT.DURATION</span>
                        <span class="sort" ng-class="{desc:search.reverse,asc:!search.reverse}" ng-show="search.type === 'durationMinutes'"></span>
                    </div>

                    <div class="col-md-3  sort sort-trips bl bt bb br" ng-class="{active:search.type === 'companyName'}" data-sort="company" ng-click="search.order('companyName')">
                        <span style="margin-left:6px;" translate>SEARCH.SORT.COMPANY</span>
                        <span class="sort" ng-class="{desc:search.reverse,asc:!search.reverse}" ng-show="search.type === 'companyName'"></span>
                    </div>
                </div> <!-- end .row -->
                <div class="row" ng-show="search.trips.directDepartureTrips.length == 0 && search.scraperTrips.tickets.length == 0 && search.trips.alternativeTrips.length == 0 && !search.isMixedTrips" >
                    <div class="col-md-12">
                        <h4 translate>SEARCH.NO_RESULTS.TITLE</h4>
                        <p translate>SEARCH.NO_RESULTS.MESSAGE</p>
                        <br>
                         <div class="col-md-6 col-xs-12">
                            <button class="btn btn-block theme-fucsia" ng-click="search.nextDay()" translate>SEARCH.NO_RESULTS.FIND_NEXT_DAY</button>
                        </div>
                    </div>
                </div>
                <div id="single-results" ng-show="search.trips.directReturnTrips.length == 0">
                    <div class="" id="tramo-{{$index}}" ng-repeat="trips in search.trips.directDepartureTrips" ng-init="outindex = $index">
                        <br/ ng-show="$index == 1">
                        <h5 class="hidden-xs" ng-show="search.trips.directDepartureTrips.length > 1">
                            <span translate>CANCEL.SECTION</span>: {{$index + 1}}
                        </h5>
                        <h5 class="hidden-xs" ng-show="search.trips.directDepartureTrips.length > 0">
                            <span translate>SEARCH.TRIPS.ROUND</span>: {{trips.length}} <span translate>SEARCH.TRIPS.RESULTS</span> {{search.trips.departureDate | date: 'EEE, MMM dd' }}
                        </h5>
                        <div class="change-departure" ng-show="search.idIda_1 != 0" style="margin-bottom: .3em;">
                            <a class="text-fucsia" style="cursor:pointer;" ng-click="search.resetFirstSetep(1)"><strong><span translate>Cambia billete del primer tramo</span></strong></a>
                        </div>

                        <div class="new-results" id="new-results-tickeables" ng-repeat="trip in trips | orderBy:search.typeDeparture:search.reverseDeparture | companyFilter:search.companies | seatFilter:search.seats | priceFilter: search.priceSlider.price | hourFilter : search.hourSlider.minValue : search.hourSlider.maxValue">
                            <div class="results list" id="trips_tickeables" >
                                <div class="row result" id={{trip.id}}>
                                    <div class="ribbon-wrapper" ng-show="trip.hasPromotion == true"><div class="ribbon">PROMO</div></div>
                                    <div class="col-md-4 col-xs-4 col-sm-4 c-departure">
                                        <strong>{{ search.millisToUTCDate(trip.departure) | date:'HH:mm'}}</strong>
                                        <small class="smallest-font text-fucsia">{{search.trips.origin}}</small>
                                        <br>
                                        <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals"  style="display:block;">{{trip.origin}}</small>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 c-approximate-time visible-xs visible-sm nbt text-center" style="border-top: 1px solid #bbb;">
                                        <p class="approximate-time text-muted smallest-font">{{trip.duration}}.</p>
                                    </div>

                                    <div class="col-md-4 col-xs-4 col-sm-4 c-arrival">
                                        <strong>{{ search.millisToUTCDate(trip.arrival) | date:'HH:mm'}}</strong>
                                        <small class="smallest-font dbm text-fucsia">{{search.trips.destination}}</small>
                                        <br>
                                        <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals" style="display:block;">{{trip.destination}}</small>
                                    </div>

                                    <div class="col-md-2 col-xs-4 col-sm-4 c-seat-type text-center">
                                        <strong>{{trip.price | currency : '' }} €</strong>
                                        <small class="text-muted smallest-font hidden-xs" style="display:block;">{{trip.typeService}}</small>
                                    </div>

                                    <div class="col-md-2 col-xs-4 col-sm-4 c-price" ng-show="search.trips.directDepartureTrips.length == 1">
                                        <a href="#/seat/{{trip.id}}/-1" class="btn btn-block theme-fucsia addTicket-button" translate>SEARCH.TRIPS.BUTTON</a>
                                    </div>

                                    <div class="col-md-2 col-xs-4 col-sm-4 c-price" ng-show="outindex == 0 && search.trips.directDepartureTrips.length > 1" ng-class="{'disable-box':search.selectMixTrip}">
                                        <a href="" class="btn btn-block theme-fucsia addTicket-button" ng-click="search.firstStep(trip.id,1,trip.origin,trip.destination,trip.departure,trip.duration,trip.arrival)" translate>SEARCH.TRIPS.BUTTON</a>
                                    </div>
                                    <div class="col-md-2 col-xs-4 col-sm-4 c-price" ng-show="outindex == 1 && search.trips.directDepartureTrips.length > 1" ng-class="{'disable-box':!search.selectMixTrip || search.dateIda_1 > trip.departure}">
                                        <a href="#/seat/{{search.idIda_1}}~{{trip.id}}/-1" class="btn btn-block theme-fucsia addTicket-button" translate>SEARCH.TRIPS.BUTTON</a>
                                    </div>

                                    <div class="col-md-4 col-xs-4 col-sm-4 c-company nbt" style="border-top: 1px solid #bbb;">
                                        <small class="text-muted smallest-font company">{{trip.companyName}}</small>
                                    </div>

                                    <div class="col-md-8 col-xs-3 col-sm-3 c-approximate-time hidden-xs hidden-sm nbt" style="border-top: 1px solid #bbb;">
                                        <img ng-src={{trip.logo}} title="{{trip.companyName}}" class="logo_small hidden-xs hidden-sm">
                                        <small class="smallest-font text-muted"><i class="fa fa-clock-o"></i> {{trip.duration}}</small>
                                    </div>
                                </div> <!-- end .row .result-->
                            </div>  <!-- end .results-->
                        </div>   <!-- end .new-results -->
                    </div> <!-- end #single-results -->
                </div>

                <div class="row  container-responsive" id="ida-vuelta-results" ng-show="search.trips.directReturnTrips.length > 0">
                    <h2 class="text-fucsia" ng-show="search.selectDeparture"><span translate>SEARCH.SELECTED_TRIP.TITLE_1</span>  <small class="text-fucsia"><span translate>SEARCH.SELECTED_TRIP.TITLE_2</span></small></h2>
                    <h2 class="text-fucsia" ng-show="!search.selectDeparture"><span translate>SEARCH.SELECTED_TRIP.TITLE_3</span>  <small class="text-fucsia"><span translate>SEARCH.SELECTED_TRIP.TITLE_4</span></small></h2>
                    <div class="col-xs-12 col-md-6 conttainer-results">
                        <h5 class="hidden-xs" ng-show="!search.selectDeparture">
                            <span class="way"><span translate>SEARCH.SELECTED_TRIP.TITLE_5</span></span>
                        </h5>
                        <div class="new-results-selected" style="margin-bottom:2em;" ng-show="!search.selectDeparture && search.trips.directDepartureTrips.length > 1">
                            <div class="results" id="selected-trip-container" >
                                <div class="row result result-iv">
                                    <div class="col-md-5 col-xs-4 col-sm-4 c-departure nbt" style="border-bottom: 1px solid #bbb; height:70px;">
                                        <strong>{{ search.millisToUTCDate(search.departureDeparture_1)| date:'HH:mm'}}</strong>
                                        <span class="smallest-font nowrap text-fucsia">{{search.trips.origin}}</span>
                                        <br>
                                        <small class="text-muted smallest-font hidden-xs hidden-sm  capitalize terminals"  style="display:block;">{{search.departureOrigin}}</small>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 c-approximate-time visible-xs visible-sm nbt text-center">
                                        <p class="approximate-time text-muted smallest-font">{{search.departureDuration_1}}.</p>
                                    </div>

                                    <div class="col-md-4 col-xs-4 col-sm-4 c-arrival nbt" style="border-bottom: 1px solid #bbb;">
                                        <strong>{{ search.millisToUTCDate(search.departureArrival_1) | date:'HH:mm'}}</strong>
                                        <small class="smallest-font dbm text-fucsia">{{search.trips.destination}}</small>
                                        <small class="text-muted smallest-font hidden-xs hidden-sm capitalize terminals"  style="display:block;">{{search.departureDestination_1}}</small>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4 c-seat-type nbt" style="border-bottom: 1px solid #bbb;">
                                        <strong class="text-fucsia">{{search.departurePrice_1 | currency : '' }} €</strong>
                                        <small class="text-muted smallest-font hidden-xs hidden-sm" style="display:block;">{{search.departureTypeService_1}}</small>
                                    </div>

                                    <div class="col-md-5 col-xs-4 col-sm-4 c-company nbt text-center">
                                        <small class="text-muted smallest-font company">{{search.departureCompanyName_1}}</small>
                                    </div>

                                    <div class="col-md-4 col-xs-3 col-sm-4 c-approximate-time hidden-xs hidden-sm nbt">
                                        <img ng-src={{search.departureLogo_1}} title="{{search.departureCompanyName}}" class="logo-iv hidden-xs hidden-sm">
                                        <p class="text-muted smallest-font"><i class="fa fa-clock-o"></i>{{search.departureDuration_1}}.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="new-results-selected" style="margin-bottom:2em;" ng-show="!search.selectDeparture">
                            <div class="results" id="selected-trip-container" >
                                <div class="row result result-iv">
                                    <div class="col-md-5 col-xs-4 col-sm-4 c-departure nbt" style="border-bottom: 1px solid #bbb; height:70px;">
                                        <strong>{{ search.millisToUTCDate(search.departureDeparture)| date:'HH:mm'}}</strong>
                                        <span class="smallest-font nowrap text-fucsia">{{search.trips.origin}}</span>
                                        <br>
                                        <small class="text-muted smallest-font hidden-xs hidden-sm  capitalize terminals"  style="display:block;">{{search.departureOrigin}}</small>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 c-approximate-time visible-xs visible-sm nbt text-center">
                                        <p class="approximate-time text-muted smallest-font">{{search.departureDuration}}.</p>
                                    </div>

                                    <div class="col-md-4 col-xs-4 col-sm-4 c-arrival nbt" style="border-bottom: 1px solid #bbb;">
                                        <strong>{{ search.millisToUTCDate(search.departureArrival) | date:'HH:mm'}}</strong>
                                        <small class="smallest-font dbm text-fucsia">{{search.trips.destination}}</small>
                                        <small class="text-muted smallest-font hidden-xs hidden-sm capitalize terminals"  style="display:block;">{{search.departureDestination}}</small>
                                    </div>

                                    <div class="col-md-3 col-xs-4 col-sm-4 c-seat-type nbt" style="border-bottom: 1px solid #bbb;">
                                        <strong class="text-fucsia">{{search.departurePrice | currency : '' }} €</strong>
                                        <small class="text-muted smallest-font hidden-xs hidden-sm" style="display:block;">{{search.departureTypeService}}</small>
                                    </div>

                                    <div class="col-md-5 col-xs-4 col-sm-4 c-company nbt text-center">
                                        <small class="text-muted smallest-font company">{{search.departureCompanyName}}</small>
                                    </div>

                                    <div class="col-md-4 col-xs-3 col-sm-4 c-approximate-time hidden-xs hidden-sm nbt">
                                        <img ng-src={{search.departureLogo}} title="{{search.departureCompanyName}}" class="logo-iv hidden-xs hidden-sm">
                                        <p class="text-muted smallest-font"><i class="fa fa-clock-o"></i>{{search.departureDuration}}.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="change-departure">
                                <a class="text-fucsia" style="cursor:pointer;" ng-click="search.departureSelect()"><strong><span translate>SEARCH.SELECTED_TRIP.TITLE_6</span></strong></a>
                            </div>
                        </div>
                        <div class="" id="tramo-ida-{{$index}}" ng-repeat="trips in search.trips.directDepartureTrips" ng-init="outindex = $index">
                            <br/ ng-show="$index == 1">
                            <h5 class="hidden-xs" ng-show="search.trips.directDepartureTrips.length > 1">
                                <span translate>CANCEL.SECTION</span>: {{$index + 1}}
                            </h5>
                            <h5 class="hidden-xs hidden-sm" ng-class="{'disable-box':!search.selectDeparture}">
                                <span class="way" translate>SEARCH.TRIPS.ROUND</span>: {{trips.length}}  <span translate>SEARCH.TRIPS.RESULTS</span> {{search.trips.departureDate | date: 'EEE, MMM dd' }}
                            </h5>
                            <div class="change-departure" ng-show="search.idIda_1 != 0 && search.selectDeparture" style="margin-bottom: .3em;">
                                <a class="text-fucsia" style="cursor:pointer;" ng-click="search.resetFirstSetep(2)"><strong><span translate>Cambia billete del primer tramo</span></strong></a>
                            </div>
                            <div class="new-results" ng-repeat="trip in trips| orderBy: search.typeDeparture : search.reverseDeparture" ng-class="{'disable-box':!search.selectDeparture}">
                                <div class="results list" >
                                    <div class="row result result-iv {{trip.id}}" id={{trip.id}}>

                                        <div class="col-md-5 col-xs-4 col-sm-4 c-departure">
                                            <strong>{{ search.millisToUTCDate(trip.departure) | date:'HH:mm'}}</strong>
                                            <span class="smallest-font nowrap text-fucsia">{{search.trips.origin}}</span>
                                            <br>
                                            <small class="text-muted smallest-font hidden-xs hidden-sm capitalize terminals"  style="display:block;">{{trip.origin}}</small>
                                        </div>

                                        <div class="col-xs-4 col-sm-4 c-approximate-time visible-xs visible-sm nbt text-center" style="border-top: 1px solid #bbb;">
                                            <p class="approximate-time text-muted smallest-font">{{trip.duration}}.</p>
                                        </div>

                                        <div class="col-md-4 col-xs-4 col-sm-4 c-arrival">
                                            <strong>{{ search.millisToUTCDate(trip.arrival) | date:'HH:mm'}}</strong>
                                            <small class="smallest-font dbm text-fucsia">{{search.trips.destination}}</small>
                                            <small class="text-muted smallest-font hidden-xs hidden-sm capitalize terminals" style="display:block;">{{trip.destination}}</small>
                                        </div>

                                        <div class="col-md-3 col-xs-4 col-sm-4 c-seat-type">
                                            <strong class="text-fucsia">{{trip.price | currency : '' }} €</strong>
                                            <small class="text-muted smallest-font hidden-xs hidden-sm" style="display:block;">{{trip.typeService}}</small>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 nbt visible-xs visible-sm" style="border-top: 1px solid #bbb;">
                                            <a class="btn btn-block theme-fucsia-iv addTicket-button" ng-click="search.departureSelect(trip.id,trip.origin,trip.destination,trip.departure,trip.duration,trip.arrival,trip.price,trip.typeService,trip.companyName,trip.logo)" translate>SEARCH.TRIPS.BUTTON</a>
                                        </div>

                                        <div class="col-md-5 col-xs-4 col-sm-4 c-company nbt" style="border-top: 1px solid #bbb;">
                                            <small class="text-muted smallest-font company">{{trip.companyName}}</small>
                                        </div>

                                        <div class="col-md-4 col-xs-3 col-sm-3 c-approximate-time hidden-xs hidden-sm nbt" style="border-top: 1px solid #bbb;">
                                            <img ng-src={{trip.logo}} title="{{trip.companyName}}" class="logo-iv hidden-xs hidden-sm">
                                            <small class="text-muted smallest-font"><i class="fa fa-clock-o"></i>{{trip.duration}}.</small>
                                        </div>

                                        <div class="col-md-3 nbt hidden-xs hidden-sm" style="border-top: 1px solid #bbb;" ng-show="search.trips.directDepartureTrips.length == 1">
                                            <a class="btn btn-block theme-fucsia-iv addTicket-button" ng-click="search.departureSelect(1,trip.id,trip.origin,trip.destination,trip.departure,trip.duration,trip.arrival,trip.price,trip.typeService,trip.companyName,trip.logo)" translate>SEARCH.TRIPS.BUTTON</a>
                                        </div>
                                        <div class="col-md-3 nbt hidden-xs hidden-sm" style="border-top: 1px solid #bbb;" ng-show="outindex == 0 && search.trips.directDepartureTrips.length > 1" ng-class="{'disable-box':search.selectMixTrip}">
                                            <a class="btn btn-block theme-fucsia-iv addTicket-button" ng-click="search.firstStep(trip.id,2,trip.origin,trip.destination,trip.departure,trip.duration,trip.arrival,trip.price,trip.typeService,trip.companyName,trip.logo)" translate>SEARCH.TRIPS.BUTTON</a>
                                        </div>
                                        <div class="col-md-3 nbt hidden-xs hidden-sm" style="border-top: 1px solid #bbb;" ng-show="outindex == 1 && search.trips.directDepartureTrips.length > 1" ng-class="{'disable-box':!search.selectMixTrip || search.dateIda_1 > trip.departure}">
                                            <a class="btn btn-block theme-fucsia-iv addTicket-button" ng-click="search.departureSelect(2,trip.id,trip.origin,trip.destination,trip.departure,trip.duration,trip.arrival,trip.price,trip.typeService,trip.companyName,trip.logo)" translate>SEARCH.TRIPS.BUTTON</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                       <div class="col-xs-12 col-md-6 conttainer-results" ng-class="{'disable-box':search.selectDeparture}">
                        <div class="new-results-selected">
                            <div class="results" id="selected-trip-container" >
                            </div>
                        </div>
                        <div class="" id="tramo-vuelta-{{$index}}" ng-repeat="trips in search.trips.directReturnTrips" ng-init="outindex = $index">
                            <br/ ng-show="$index == 1">
                            <h5 class="hidden-xs" ng-show="search.trips.directReturnTrips.length > 1">
                                <span translate>CANCEL.SECTION</span>: {{$index + 1}}
                            </h5>
                            <h5 class="hidden-xs hidden-sm">
                                <span class="way" translate>SEARCH.TRIPS.RETURN</span>: {{trips.length}} <span translate>SEARCH.TRIPS.RESULTS</span> {{search.trips.returnDate | date: 'EEE, MMM dd' }}
                            </h5>
                            <div class="change-departure" ng-show="search.idVuelta_1 != 0" style="margin-bottom: .3em;">
                                <a class="text-fucsia" style="cursor:pointer;" ng-click="search.resetFirstSetep(3)"><strong><span translate>Cambia billete del primer tramo</span></strong></a>
                            </div>
                            <div class="new-results" ng-repeat="trip in trips| orderBy: search.typeReturn : search.reverseReturn">
                                <div class="results list" >
                                    <div class="row result result-iv" id={{trip.id}}>

                                        <div class="col-md-5 col-xs-4 col-sm-4 c-departure">
                                            <strong>{{ search.millisToUTCDate(trip.departure) | date:'HH:mm'}}</strong>
                                            <span class="smallest-font nowrap text-fucsia">{{search.trips.destination}}</span>
                                            <br>
                                            <small class="text-muted smallest-font hidden-xs hidden-sm capitalize terminals"  style="display:block;">{{trip.origin}}</small>
                                        </div>

                                        <div class="col-xs-4 col-sm-4 c-approximate-time visible-xs visible-sm nbt text-center" style="border-top: 1px solid #bbb;">
                                            <p class="approximate-time text-muted smallest-font">{{trip.duration}}.</p>
                                        </div>

                                        <div class="col-md-4 col-xs-4 col-sm-4 c-arrival">
                                            <strong>{{ search.millisToUTCDate(trip.arrival) | date:'HH:mm'}}</strong>
                                            <small class="smallest-font dbm text-fucsia">{{search.trips.origin}}</small>
                                            <small class="text-muted smallest-font hidden-xs hidden-sm capitalize terminals" style="display:block;">{{trip.destination}}</small>
                                        </div>

                                        <div class="col-md-3 col-xs-4 col-sm-4  c-seat-type">
                                            <strong class="text-fucsia">{{trip.price | currency : '' }} €</strong>
                                            <small class="text-muted smallest-font hidden-xs hidden-sm" style="display:block;">{{trip.typeService}}</small>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 nbt visible-xs visible-sm" style="border-top: 1px solid #bbb;">
                                            <a href="#/seat/{{search.departureId}}/{{trip.id}}" class="btn btn-block theme-fucsia-iv addTicket-button">COMPRAR</a>
                                        </div>

                                        <div class="col-md-5 col-xs-4 col-sm-4 c-company nbt" style="border-top: 1px solid #bbb;">
                                            <small class="text-muted smallest-font company">{{trip.companyName}}</small>
                                        </div>

                                        <div class="col-md-4 col-xs-3 col-sm-3 c-approximate-time hidden-xs hidden-sm nbt" style="border-top: 1px solid #bbb;">
                                            <img ng-src={{trip.logo}} title="{{trip.companyName}}" class="logo-iv hidden-xs hidden-sm">
                                            <small class="text-muted smallest-font"><i class="fa fa-clock-o"></i> {{trip.duration}}.</small>
                                        </div>

                                        <div class="col-md-3 nbt hidden-xs hidden-sm" style="border-top: 1px solid #bbb;" ng-show="search.trips.directDepartureTrips.length == 1">
                                            <a href="#/seat/{{search.departureId}}/{{trip.id}}" class="btn btn-block theme-fucsia-iv addTicket-button" translate>SEARCH.TRIPS.BUTTON</a>
                                        </div>
                                        <div class="col-md-3 nbt hidden-xs hidden-sm" style="border-top: 1px solid #bbb;" ng-show="outindex == 0 && search.trips.directDepartureTrips.length > 1" ng-class="{'disable-box':search.selectMixTrip}">
                                            <a class="btn btn-block theme-fucsia-iv addTicket-button" ng-click="search.firstStep(trip.id,3,trip.origin,trip.destination,trip.departure,trip.duration,trip.arrival,trip.price,trip.typeService,trip.companyName,trip.logo)" translate>SEARCH.TRIPS.BUTTON</a>
                                        </div>
                                        <div class="col-md-3 nbt hidden-xs hidden-sm" style="border-top: 1px solid #bbb;" ng-show="outindex == 1 && search.trips.directDepartureTrips.length > 1" ng-class="{'disable-box':!search.selectMixTrip || search.dateVuelta_1 > trip.departure}">
                                            <a href="#/seat/{{search.departureId_1}}~{{search.departureId}}/{{search.returnId}}~{{trip.id}}" class="btn btn-block theme-fucsia-iv addTicket-button"  translate>SEARCH.TRIPS.BUTTON</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="row  container-responsive" id="mixed-results" ng-show="search.trips.mixedTrips.length > 0">
                <div class="col-xs-12 col-md-12 " >
                    <h5 class="hidden-xs hidden-sm" >
                        <span translate>Vaijes</span> <small><span translate>Compuestos</span></small> {{search.trips.mixedTrips.length}} <span translate>SEARCH.TRIPS.RESULTS</span>
                    </h5>
                    <div class="new-results" ng-repeat="trip in search.trips.mixedTrips | orderBy:search.typeDeparture:search.reverseDeparture">
                        <div class="results list" id="trips_mixed" >
                            <div class="row result mobile-mixed" style="display: flex; align-items: center;">
                                <div class="col-md-9 col-xs-12 col-sm-12">
                                    <div class="col-md-4 col-xs-4 col-sm-4 c-departure">
                                        <small class="text-muted-dark smallest-font capitalize terminals company">{{trip.originT1 }}</small>
                                    </div>

                                    <div class="col-md-4 col-xs-4 col-sm-4 c-departure text-center">
                                        <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                                    </div>

                                    <div class="col-md-4 col-xs-4 col-sm-4 c-arrival" style="border-right: 1px solid #bbb;">
                                        <small class="text-muted-dark smallest-font capitalize terminals company">{{ trip.destinationT1 }}</small>
                                    </div>

                                    <div class="col-md-4 col-xs-4 col-sm-4 c-departure" style="border-top: 1px solid #bbb;">
                                        <small class="text-muted-dark smallest-font capitalize terminals company">{{trip.originT2 }}</small>
                                    </div>

                                    <div class="col-md-4 col-xs-4 col-sm-4 c-departure text-center" style="border-top: 1px solid #bbb;">
                                        <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                                    </div>

                                    <div class="col-md-4 col-xs-4 col-sm-4 c-arrival" style="border-top: 1px solid #bbb; border-right: 1px solid #bbb;">
                                        <small class="text-muted-dark smallest-font capitalize terminals company">{{ trip.destinationT2 }}</small>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xs-12 col-sm-12" ng-class="{'disable-box':search.searchingMix}">
                                    <a target="_blank" class="btn btn-block theme-blue-2" ng-click="search.findMixRoutes(trip.id)">ELEGIR <i class="fa fa-share-square-o"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" ng-show="search.scraperFlag" style="margin-top: 80px; margin-bottom: 80px;">
                <div class="row">
                     <div class="modal-backdrop" style="background: rgba(0,0,0,0.5); padding-top: 50%; " ng-show="search.scraperFlag &&  search.trips.directDepartureTrips.length == 0 && !search.isMixedTrips">
                        <div class="modal show" id="weather-widget" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static"
                       data-keyboard="false" style="padding-top: 10%; ">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" style="background-color: #fff !important;">
                                    <div class="modal-body">
                                        <p class="text-center" translate>SEARCH.WEATHER.TITLE_2</p><br>
                                        <div class="flatWeatherPlugin today" style="background: #fff; padding: 10px;">
                                            <h2>{{ search.destination }}</h2>
                                            <div class="wiToday">
                                                <div class="wiIconGroup">
                                                    <div class="{{ search.weather.icon }}"></div>
                                                    <p class="wiText" style="text-transform: capitalize;">{{ search.weather.description }}</p>
                                                </div>
                                                <p class="wiTemperature">{{ search.weather.temp.current  }}</p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <div id="weather_progress_scraper" style="padding: 10px 20px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12 text-center">
                        <p translate>SEARCH.WEATHER.TITLE_2</p><br>
                        <img src="https://cdn.api.voyhoy.com/loader.gif"  class="" alt="Buscando pasajes ..." />
                    </div>
                </div>
            </div>
            <div class="row  container-responsive" id="scraper-results" ng-show="search.scraperTrips.tickets.length > 0">
                <div class="col-xs-12 col-md-12 " >
                    <h5 class="hidden-xs hidden-sm" >
                        <span translate>SEARCH.SCRAPER.TITLE</span> <small><span translate>SEARCH.SCRAPER.MESSAGE</span></small> {{search.scraperTrips.tickets.length}} <span translate>SEARCH.TRIPS.RESULTS</span>
                    </h5>
                    <div class="new-results" ng-repeat="trip in search.scraperTrips.tickets | orderBy:search.typeDeparture:search.reverseDeparture | companyScraperFilter:search.companies | seatScraperFilter:search.seats | priceScraperFilter: search.priceSlider.price">
                        <div class="results list" id="trips_no_tickeables" >
                            <div class="row result">
                                <div class="col-md-4 col-xs-4 col-sm-4 c-departure">
                                    <strong>{{ search.millisToUTCDate(trip.data.start * 1000) | date:'HH:mm'}}</strong>
                                    <small class="smallest-font text-fucsia">{{ search.trips.origin }}</small>
                                    <br>
                                    <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals"  style="display:block;">{{trip.data.origin}}</small>
                                </div>

                                <div class="col-xs-4 col-sm-4 c-approximate-time visible-xs visible-sm nbt text-center" style="border-top: 1px solid #bbb;">
                                    <p class="approximate-time text-muted smallest-font">{{ search.durationFormatted(trip.data.duration) }}</p>
                                </div>

                                <div class="col-md-4 col-xs-4 col-sm-4 c-arrival">
                                    <strong>{{ search.millisToUTCDate(trip.data.end * 1000) | date:'HH:mm'}}</strong>
                                    <small class="smallest-font dbm text-fucsia">{{ search.trips.destination }}</small>
                                    <small class="text-muted-dark smallest-font hidden-xs hidden-sm capitalize terminals" style="display:block;">{{trip.data.destination}}</small>
                                </div>

                                <div class="col-md-2 col-xs-4 col-sm-4 c-seat-type text-center">
                                    <strong>{{trip.data.price | currency : '' }} €</strong>
                                    <small class="text-muted smallest-font hidden-xs" style="display:block;">{{trip.data.type__name}}</small>
                                </div>

                                <div class="col-md-2 col-xs-4 col-sm-4 c-price">
                                    <a href="{{trip.data.redirect}}" target="_blank" class="btn btn-block theme-blue-2">ELEGIR <i class="fa fa-share-square-o"></i></a>

                                </div>

                                <div class="col-md-4 col-xs-4 col-sm-4 c-company nbt" style="border-top: 1px solid #bbb;">
                                    <small class="text-muted smallest-font company" title="{{trip.data.enterprise__name}}">AVANZABUS</small>
                                    <img src="https://s3.eu-central-1.amazonaws.com/vheurope/logo_square_crop_100.png" title="Pullman Bus" class="logo_small hidden-xs hidden-sm float-right">
                                </div>

                                <div class="col-md-8 col-xs-3 col-sm-3 c-approximate-time hidden-xs hidden-sm nbt" style="border-top: 1px solid #bbb;">
                                    <p class="text-muted smallest-font"><i class="fa fa-clock-o"></i> {{ search.durationFormatted(trip.data.duration) }}</p>
                                </div>
                            </div> <!-- end .row .result-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row  container-responsive" id="alternative-results" ng-show="search.trips.alternativeTrips.length > 0">
                <div class="col-xs-12 col-md-12" >
                    <h5 class="hidden-xs hidden-sm" >
                        Viajes Alternativos: {{search.trips.alternativeTrips.length}} resultados <span class="capitalize trip-date"></span>
                    </h5>
                    <div class="new-results" ng-repeat="trip in search.trips.alternativeTrips">
                        <div class="results list" >
                            <div class="row result result-iv" >

                                <div class="col-md-5 col-xs-4 alternativeBox">
                                    <span class="nowrap text-fucsia">{{trip.origin}}</span>
                                </div>

                                <div class="col-md-4 col-xs-4 alternativeBox">
                                    <span class="nowrap text-fucsia">{{trip.destination}}</span>
                                </div>

                                <div class="col-xs-4 nbt visible-xs">
                                    <a class="btn btn-block theme-fucsia-iv addTicket-button" ng-click="search.alternativeSearch(trip.origin,trip.countryOrigin,trip.destination,trip.countryDestination)">SELECCIONAR</a>
                                </div>

                                <div class="col-md-3 nbt hidden-xs alternativeBox">
                                    <a class="btn btn-block theme-fucsia-iv addTicket-button" ng-click="search.alternativeSearch(trip.origin,trip.countryOrigin,trip.destination,trip.countryDestination)">SELECCIONAR</a>
                                    <span class="hidden sort-price">${trip.price | currency : '' }</span>
                                    <span class="hidden sort-departure">${trip.departureTime.getTime()/1000}</span>
                                    <span class="hidden sort-company">${trip.companyRoute.company.name}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div> <!-- end columns results -->

            <!-- Modal -->
            <div class="modal fade" id="error-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static"
               data-keyboard="false">
               <div class="modal-dialog modal-lg" role="document">
                 <div class="modal-content" style="background-color: #F2DEDD !important;">
                   <div class="modal-header">
                       <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                       <h2>Error</h2>
                   </div>
                   <div class="modal-body">
                       <p>
                           {{search.msgError}}
                       </p>
                   </div>
                 </div>
               </div>
            </div>
            <div class="modal fade" id="error-cities" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static"
               data-keyboard="false">
               <div class="modal-dialog modal-lg" role="document">
                 <div class="modal-content" style="background-color: #F2DEDD !important;">
                   <div class="modal-header">
                       <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                       <h2>Error</h2>
                   </div>
                   <div class="modal-body">
                       <p>
                           Revise su seleccion de ciudades
                       </p>
                   </div>
                 </div>
               </div>
            </div>
            <div class="modal fade" id="error-date" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static"
               data-keyboard="false">
               <div class="modal-dialog modal-lg" role="document">
                 <div class="modal-content" style="background-color: #F2DEDD !important;">
                   <div class="modal-header">
                       <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                       <h2>Error</h2>
                   </div>
                   <div class="modal-body">
                       <p>
                           Revise su seleccion de fechas
                       </p>
                   </div>
                 </div>
               </div>
            </div>
        </div>
    </div>
</div>
