<style>
#gmaps {
    width: 100%;
    height: 240px;
    min-height: 240px;
    display: block;
    margin-bottom: 0px;
    margin-top: -20px;
}

.selectize-control.single .selectize-input:after {
    border-style: none !important;
    border-width: none !important;
    border-color: transparent transparent transparent !important;
}
</style>
<div id="results-container">
    <!-- Start Hero -->
    <div class="hero" id="search-page">
        <div class="hero-img">
            <div class="hero-content">
                <!-- Start Destination Search -->
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="row destination-search">
                                <form role="form" >
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 ">
                                            <div class="row destination-search">
                                                <div class="col-md-4 col-xs-12 np">
                                                    <selectize config='search.myConfig' options='search.myOptions' ng-model="search.origin" ng-disabled="search.disabled"></selectize>
                                                </div>
                                                <div class="switcheroo hidden-xs"></div>
                                                <div class="col-md-4 col-xs-12  np">
                                                    <selectize config='search.myConfig' options='search.myOptions' ng-model="search.destination" ng-disabled="search.disabled"></selectize>
                                                </div>
                                                <div class="col-md-2 col-xs-6  np" style="border-right: 1px solid #c1c1c1;">
                                                   <vhdatepicker id="departureDate" ng-model="search.dates.departureDate" data-set-date="false" data-min-date="{{ search.dates.minDate }}"  data-placeholder="Ida" data-date-format="DD/MM/YYYY" data-departure-date="{{search.dates.departureDate}}" ng-disabled="search.disabled"></vhdatepicker>
                                                    <span class="fa fa-calendar departure-calendar vh-calendar"></span>
                                                    <span class="fa fa-times clear-calendar vh-calendar"></span>
                                                </div>
                                                <div class="col-md-2 col-xs-6 np">
                                                    <vhdatepicker id="returnDate" ng-model="search.dates.returnDate" data-min-date="{{ search.dates.minDate }}"  data-placeholder="Vuelta" data-date-format="DD/MM/YYYY" data-return-date="{{search.dates.returnDate}}" ng-disabled="search.disabled"></vhdatepicker>
                                                    <span class="fa fa-calendar return-calendar vh-calendar"></span>
                                                    <span class="fa fa-times clear-calendar vh-calendar"></span>
                                                </div>
                                            </div> <!-- end .row -->
                                        </div> <!-- End Destination Search -->
                                    </div>
                                 </form>
                            </div>
                        </div>
                        <div class="bg-info col-xs-12 col-md-12" ng-if="search.searching"><span>Buscando.....</span></div>
                        <div class="bg-danger col-xs-12 col-md-12" ng-if="search.error"><span>{{search.msgError}}</span></div>
                    </div> <!-- end .row-->

                    <div class="row header hidden-xs" ng-show="search.results && search.trips.alternativeTrips.length == 0">
                        <div class="col-md-3 col-xs-5 sort text-center">
                            <span translate>SEARCH.SORT.ORDER_BY</span>
                        </div>
                        <div class="col-md-3 col-xs-5 sort sort-trips" data-sort="company" ng-click="search.order('companyName')">
                            <span style="margin-left:6px;" translate>SEARCH.SORT.COMPANY</span>
                            <span class="sort" ng-class="{desc:search.reverse,asc:!search.reverse}" ng-show="search.type === 'companyName'"></span>
                        </div>
                        <div class="col-md-3 col-xs-3 sort sort-trips" data-sort="departure" ng-click="search.order('salida')">
                            <span translate>SEARCH.SORT.HORARY</span>
                            <span class="sort" ng-class="{desc:search.reverse,asc:!search.reverse}" ng-show="search.type === 'salida'"></span>
                        </div>
                        <div class="col-md-2 col-xs-4 sort sort-trips" data-sort="price" ng-click="search.order('price')">
                            <span translate>SEARCH.SORT.PRICE</span>
                            <span class="sort" ng-class="{desc:search.reverse,asc:!search.reverse}" ng-show="search.type === 'price'"></span>
                        </div>
                        <div class="col-md-2 col-xs-4"></div>
                    </div> <!-- end .row -->
                </div> <!-- end container-->
            </div> <!-- end .hero-content-->
        </div> <!-- end .hero-img-->
    </div> <!-- end .hero -->

    <!-- Start Main content -->
    <div class="container" ng-show="!search.results" style="margin-top: 80px; margin-bottom: 80px;">
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <p>Cargando resultados ...</p><br>
                <img src="http://dropshare.jesuscolmenares.com.ve/bus1_2x.gif" alt="Buscando pasajes ...">
            </div>
        </div> 
    </div>
    <div class="container" ng-show="search.results">
        <div class="row container-responsive" id="ida-results">
            <!-- Start Filter -->
            <div class="col-xs-12 col-md-3 no-margin no-padding" ng-hide="search.trips.directReturnTrips.length > 0 || search.trips.alternativeTrips.length > 0">
                <div class="filter-btn-content visible-xs">
                    <div class="row">
                        <div class="col-xs-7">
                            <span class="text-muted smallest-font">{{search.trips.directDepartureTrips.length}} <span translate>SEARCH.FILTERS.RESULTS</span></span>
                        </div>
                        <div class="col-xs-5">
                            <button class="btn btn-block btn-xs theme-gray outline" id="filtros" translate> SEARCH.FILTERS.TITLE</button>
                        </div>
                    </div>
                </div> <!-- end .filter-btn-content -->
                <br>
                <div class="filter hidden-xs">
                    <div class="filter-title visible-xs">
                        <i class="fa fa-filter"></i> <span translate>SEARCH.FILTERS.TITLE</span>
                        <i class="fa fa-times right hide-filters" style="font-weigth: 300; margin-top: 4px;"></i>
                    </div>

                    <div id="map_canvas" class="show-for-medium-up">
                         <div gmap data-origin="Barcelona, España" data-destination="Madrid, España"></div>
                    </div>
                    <div class="trip-info show-for-medium-up">
                        <span class="title"><i class="fa fa-info-circle"></i> <span translate>SEARCH.FILTERS.MAP_TITLE</span></span><br>
                        <span translate>SEARCH.FILTERS.MAP_DISTANCE</span> <span class="content">234 Km.</span><br>
                        <span translate>SEARCH.FILTERS.MAP_DURATION</span> <span class="content">3h 34min.</span>
                    </div>
                </div>

                <div class="filter hidden-xs">
                    <div class="filter-header">
                        <h3 class="pull-left" translate>SEARCH.FILTERS.TITLE</h3>
                        <span class="smallest-font text-muted pull-right">{{search.trips.directDepartureTrips.length}} <span translate>SEARCH.FILTERS.RESULTS</span></span>
                    </div>

                    <!-- Start Filter Time -->
                    <div class="contrast-title">
                        <h3 translate>
                           SEARCH.FILTERS.DEPARTURE_HOUR
                        </h3>
                    </div>

                    <div class="filter-module">
                         <input type="hidden" id="amount" readonly>
                        <div style="">
                            <rzslider
                                rz-slider-model="search.hourSlider.minValue"
                                rz-slider-high="search.hourSlider.maxValue"
                                rz-slider-options="search.hourSlider.options">
                            </rzslider>
                        </div>
                    </div>
                    <!-- End Filter Time -->

                    <!-- Start Filter Price -->
                    <div class="contrast-title">
                        <h3 translate>
                            SEARCH.FILTERS.PRICE
                        </h3>
                    </div>

                    <div class="filter-module">
                        <input type="hidden" id="mount" readonly>
                        <div>
                            <rzslider
                                rz-slider-model="search.priceSlider.price"
                                rz-slider-options="search.priceSlider.options">
                            </rzslider>
                        </div>

                    </div>
                    <!-- End Filter Price -->

                    <!-- Start Filter Seats -->
                    <div class="contrast-title">
                        <h3 translate>
                            SEARCH.FILTERS.SEAT_TYPE
                        </h3>
                    </div>

                    <div class="filter-module">
                        <ul class="list-unstyled">
                            <li ng-repeat="typeSeat in search.trips.typeServices">
                                <input class="seatType" id="{{typeSeat.id}}" data="{{typeSeat.name}}" type="checkbox" ${checked} name="semi-cama" data-value="{{typeSeat.name}}" ng-click="search.seatFilter(typeSeat)" ng-model="typeSeat.checked">
                                <label for="{{typeSeat.id}}" class="capitalize" >{{typeSeat.name}}</label>
                            </li>
                        </ul>
                    </div>
                    <!-- End Filter Seats -->

                    <!-- Start Filter Companies -->
                    <div class="contrast-title">
                        <h3 translate>
                            SEARCH.FILTERS.COMPANIES
                        </h3>
                    </div>

                    <div class="filter-module">
                        <ul class="list-unstyled">
                            <li ng-repeat="company in search.trips.companies">
                                <input id="{{company.id}}" type="checkbox"  name="{{company.id}}" data="{{company.name}}" class="company" ng-click="search.companyFilter(company)" ng-model="company.checked">
                                <label for="{{company.id}}" class="capitalize" >{{company.name}}</label>
                            </li>
                        </ul>
                    </div>
                    <!-- End Filter Companies -->
                    <!-- Btn Close Filters -->
                    <button class="btn btn-block hide-filters button theme-blue visible-xs"></i> <span translate>SEARCH.FILTERS.TITLE</span></button>
                </div>
                <!-- End Filter -->
            </div>
            <!-- End colums -->


            <!-- Start Results -->
            <div class="col-xs-12 col-md-9 conttainer-results" style="margin-top:0" ng-class="{'col-md-12' : search.trips.directReturnTrips.length > 0}">
                <div id="single-results" ng-show="search.trips.directReturnTrips.length == 0 ">
                    <h5 class="hidden-xs" ng-hide="search.trips.alternativeTrips.length > 0">
                        <span translate>SEARCH.TRIPS.ROUND</span>: {{search.trips.directDepartureTrips.length}} <span translate>SEARCH.TRIPS.RESULTS</span> {{search.trips.departureDate | date: 'EEE, MMM dd' }}
                    </h5>

                    <div class="new-results" id="new-results-tickeables" ng-repeat="trip in search.trips.directDepartureTrips | orderBy:search.type:search.reverse | filter:search.company | filter:search.seat | priceFilter: search.priceSlider.price | hourFilter: search.hourSlider.minValue : search.hourSlider.maxValue">
                        <div class="results list" id="trips_tickeables" >
                            <div class="row result" data-company="pullmam" data-company-id="1" data-price="12000" data-seat="1" data-salida="12:00" data-departure="1200" data-trip-id="1" data-internal-id="2" data-sort-price="18000" data-sort-departure="1200" data-sort-company="pullmam">

                                <div class="col-md-4 col-xs-4 c-departure">
                                    <strong>{{trip.departure| date:'HH:mm'}}</strong>
                                    <small class="smallest-font text-fucsia">{{search.trips.origin}}</small>
                                    <br>
                                    <small class="text-muted-dark smallest-font hidden-xs capitalize"  style="display:block;">{{trip.origin}}</small>
                                </div>

                                <div class="col-xs-4 c-approximate-time visible-xs nbt text-center" style="border-top: 1px solid #bbb;">
                                    <p class="approximate-time text-muted smallest-font">{{trip.duration}}.</p>
                                </div>

                                <div class="col-md-4 col-xs-4 c-arrival">
                                    <strong>{{trip.arrival| date:'HH:mm'}}</strong>
                                    <small class="smallest-font dbm text-fucsia">{{search.trips.destination}}</small>
                                    <small class="text-muted-dark smallest-font hidden-xs capitalize" style="display:block;">{{trip.destination}}</small>
                                </div>

                                <div class="col-md-2 col-xs-4 c-seat-type">
                                    <strong>{{trip.price}} €</strong>
                                    <small class="text-muted smallest-font hidden-xs" style="display:block;">{{trip.typeService}}</small>
                                </div>

                                <div class="col-md-2 col-xs-4 c-price">
                                    <a href="#/seat/{{trip.id}}/-1" class="btn btn-block theme-fucsia addTicket-button" translate>SEARCH.TRIPS.BUTTON</a>
                                    <span class="hidden sort-price">12.000</span>
                                    <span class="hidden sort-departure">1200</span>
                                    <span class="hidden sort-company">pullman</span>
                                </div>

                                <div class="col-md-4 col-xs-4 c-company nbt" style="border-top: 1px solid #bbb;">
                                    <small class="text-muted smallest-font company">{{trip.companyName}}</small>
                                    <img ng-src={{trip.logo}} title="Pullman Bus" class="logo_small hidden-xs float-right">
                                </div>

                                <div class="col-md-8 col-xs-3 c-approximate-time hidden-xs nbt" style="border-top: 1px solid #bbb;">
                                    <p class="text-muted smallest-font"><i class="fa fa-clock-o"></i> {{trip.duration}}</p>
                                </div>
                            </div> <!-- end .row .result-->
                        </div>  <!-- end .results-->
                    </div>   <!-- end .new-results -->
                </div> <!-- end #single-results -->

                <div class="row  container-responsive" id="ida-vuelta-results" ng-show="search.trips.directReturnTrips.length > 0">
                    <h2 class="text-fucsia" ng-show="search.selectDeparture">Selecciona tu Ida <small class="text-fucsia">antes de seleccionar tu Vuelta</small></h2>
                    <h2 class="text-fucsia" ng-show="!search.selectDeparture">Selecciona tu Vuelta <small class="text-fucsia">para poder seleccionar tus asientos</small></h2>
                    <div class="col-xs-12 col-md-6 conttainer-results">
                        <h5 class="hidden-xs" ng-show="!search.selectDeparture">
                            <span class="way">Tu Pasaje Seleccionado</span>
                        </h5>
                        <div class="new-results-selected" style="margin-bottom:2em;" ng-show="!search.selectDeparture">
                            <div class="results" id="selected-trip-container" >
                                <div class="row result result-iv" data-company="pullman" data-company-id="1" data-price="12.000" data-seat="2" data-salida="12:00" data-departure="1200" data-trip-id="123" data-internal-id="int111" data-sort-price="12000" data-sort-departure="1200" data-sort-company="pullman">

                                    <div class="col-md-5 col-xs-4 c-departure" style="border-bottom: 1px solid #bbb; height:70px;">
                                        <strong>{{search.departureDeparture| date:'HH:mm'}}</strong>
                                        <span class="smallest-font nowrap text-fucsia">{{search.search.trips.origin}}</span>
                                        <br>
                                        <small class="text-muted smallest-font hidden-xs capitalize"  style="display:block;">{{search.departureOrigin}}</small>
                                    </div>

                                    <div class="col-xs-4 c-approximate-time visible-xs nbt text-center">
                                        <p class="approximate-time text-muted smallest-font">{{search.departureDuration}}.</p>
                                    </div>

                                    <div class="col-md-4 col-xs-4 c-arrival" style="border-bottom: 1px solid #bbb;">
                                        <strong>{{search.departureArrival| date:'HH:mm'}}</strong>
                                        <small class="smallest-font dbm text-fucsia">{{search.trips.destination}}</small>
                                        <small class="text-muted smallest-font hidden-xs capitalize" style="display:block;">{{search.departureDestination}}</small>
                                    </div>

                                    <div class="col-md-3 col-xs-4 c-seat-type" style="border-bottom: 1px solid #bbb;">
                                        <strong class="text-fucsia">{{search.departurePrice}} €</strong>
                                        <small class="text-muted smallest-font hidden-xs" style="display:block;">{{search.departureTypeService}}</small>
                                    </div>

                                    <div class="col-md-5 col-xs-4 c-company nbt">
                                        <small class="text-muted smallest-font company">{{search.departureCompanyName}}</small>
                                        <img ng-src={{search.departureLogo}} title="Pullman Bus" class="logo-iv hidden-xs float-right">
                                    </div>

                                    <div class="col-md-4 col-xs-3 c-approximate-time hidden-xs nbt">
                                        <p class="text-muted smallest-font"><i class="fa fa-clock-o"></i>{{search.departureDuration}}.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="change-departure">
                                <a class="text-fucsia" style="cursor:pointer;" ng-click="search.departureSelect()"><strong>Cambia pasaje de IDA</strong></a>
                            </div>
                        </div>
                        <h5 class="hidden-xs" ng-class="{'disable-box':!search.selectDeparture}">
                            <span class="way" translate>SEARCH.TRIPS.ROUND</span>: {{search.trips.directDepartureTrips.length}}  <span translate>SEARCH.TRIPS.RESULTS</span> {{search.trips.departureDate | date: 'EEE, MMM dd' }}
                        </h5>

                        <div class="new-results" ng-repeat="trip in search.trips.directDepartureTrips| orderBy:search.type:search.reverse" ng-class="{'disable-box':!search.selectDeparture}">
                            <div class="results list" >
                                <div class="row result result-iv" data-company="pullman" data-company-id="1" data-price="12.000" data-seat="2" data-salida="12:00" data-departure="1200" data-trip-id="123" data-internal-id="int111" data-sort-price="12000" data-sort-departure="1200" data-sort-company="pullman">

                                    <div class="col-md-5 col-xs-4 c-departure">
                                        <strong>{{trip.departure| date:'HH:mm'}}</strong>
                                        <span class="smallest-font nowrap text-fucsia">{{search.trips.origin}}</span>
                                        <br>
                                        <small class="text-muted smallest-font hidden-xs capitalize"  style="display:block;">{{trip.origin}}</small>
                                    </div>

                                    <div class="col-xs-4 c-approximate-time visible-xs nbt text-center" style="border-top: 1px solid #bbb;">
                                        <p class="approximate-time text-muted smallest-font">{{trip.duration}}.</p>
                                    </div>

                                    <div class="col-md-4 col-xs-4 c-arrival">
                                        <strong>{{trip.arrival| date:'HH:mm'}}</strong>
                                        <small class="smallest-font dbm text-fucsia">{{search.trips.destination}}</small>
                                        <small class="text-muted smallest-font hidden-xs capitalize" style="display:block;">{{trip.destination}}</small>
                                    </div>

                                    <div class="col-md-3 col-xs-4 c-seat-type">
                                        <strong class="text-fucsia">{{trip.price}} €</strong>
                                        <small class="text-muted smallest-font hidden-xs" style="display:block;">{{trip.typeService}}</small>
                                    </div>
                                    <div class="col-xs-4 nbt visible-xs" style="border-top: 1px solid #bbb;">
                                        <a class="btn btn-block theme-fucsia-iv addTicket-button" ng-click="search.departureSelect(trip.id,trip.origin,trip.destination,trip.departure,trip.duration,trip.arrival,trip.price,trip.typeService,trip.companyName,trip.logo)" translate>SEARCH.TRIPS.BUTTON</a>
                                    </div>

                                    <div class="col-md-5 col-xs-4 c-company nbt" style="border-top: 1px solid #bbb;">
                                        <small class="text-muted smallest-font company">{{trip.companyName}}</small>
                                        <img ng-src={{trip.logo}} title="Pullman Bus" class="logo-iv hidden-xs float-right">
                                    </div>

                                    <div class="col-md-4 col-xs-3 c-approximate-time hidden-xs nbt" style="border-top: 1px solid #bbb;">
                                        <p class="text-muted smallest-font"><i class="fa fa-clock-o"></i>{{trip.duration}}.</p>
                                    </div>

                                    <div class="col-md-3 nbt hidden-xs" style="border-top: 1px solid #bbb;">
                                        <a class="btn btn-block theme-fucsia-iv addTicket-button" ng-click="search.departureSelect(trip.id,trip.origin,trip.destination,trip.departure,trip.duration,trip.arrival,trip.price,trip.typeService,trip.companyName,trip.logo)" translate>SEARCH.TRIPS.BUTTON</a>
                                        <span class="hidden sort-price">${trip.price}</span>
                                        <span class="hidden sort-departure">${trip.departureTime.getTime()/1000}</span>
                                        <span class="hidden sort-company">${trip.companyRoute.company.name}</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                       <div class="col-xs-12 col-md-6 conttainer-results" ng-class="{'disable-box':search.selectDeparture}">
                        <div class="new-results-selected">
                            <div class="results" id="selected-trip-container" >
                            </div>
                        </div>
                        <h5 class="hidden-xs">
                            <span class="way" translate>SEARCH.TRIPS.RETURN</span>: {{search.trips.directReturnTrips.length}} <span translate>SEARCH.TRIPS.RESULTS</span> {{search.trips.returnDate | date: 'EEE, MMM dd' }}
                        </h5>

                        <div class="new-results" ng-repeat="trip in search.trips.directReturnTrips| orderBy:search.type:search.reverse">
                            <div class="results list" >
                                <div class="row result result-iv" data-company="pullman" data-company-id="1" data-price="12.000" data-seat="2" data-salida="12:00" data-departure="1200" data-trip-id="123" data-internal-id="int111" data-sort-price="12000" data-sort-departure="1200" data-sort-company="pullman">

                                    <div class="col-md-5 col-xs-4 c-departure">
                                        <strong>{{trip.departure| date:'HH:mm'}}</strong>
                                        <span class="smallest-font nowrap text-fucsia">{{search.trips.destination}}</span>
                                        <br>
                                        <small class="text-muted smallest-font hidden-xs capitalize"  style="display:block;">{{trip.origin}}</small>
                                    </div>

                                    <div class="col-xs-4 c-approximate-time visible-xs nbt text-center" style="border-top: 1px solid #bbb;">
                                        <p class="approximate-time text-muted smallest-font">{{trip.duration}}.</p>
                                    </div>

                                    <div class="col-md-4 col-xs-4 c-arrival">
                                        <strong>{{trip.arrival| date:'HH:mm'}}</strong>
                                        <small class="smallest-font dbm text-fucsia">{{search.trips.origin}}</small>
                                        <small class="text-muted smallest-font hidden-xs capitalize" style="display:block;">{{trip.destination}}</small>
                                    </div>

                                    <div class="col-md-3 col-xs-4 c-seat-type">
                                        <strong class="text-fucsia">{{trip.price}} €</strong>
                                        <small class="text-muted smallest-font hidden-xs" style="display:block;">{{trip.typeService}}</small>
                                    </div>
                                    <div class="col-xs-4 nbt visible-xs" style="border-top: 1px solid #bbb;">
                                        <a href="#/seat/{{search.departureId}}/{{trip.id}}" class="btn btn-block theme-fucsia-iv addTicket-button">COMPRAR</a>
                                    </div>

                                    <div class="col-md-5 col-xs-4 c-company nbt" style="border-top: 1px solid #bbb;">
                                        <small class="text-muted smallest-font company">{{trip.companyName}}</small>
                                        <img ng-src={{trip.logo}} title="Pullman Bus" class="logo-iv hidden-xs float-right">
                                    </div>

                                    <div class="col-md-4 col-xs-3 c-approximate-time hidden-xs nbt" style="border-top: 1px solid #bbb;">
                                        <p class="text-muted smallest-font"><i class="fa fa-clock-o"></i> {{trip.duration}}.</p>
                                    </div>

                                    <div class="col-md-3 nbt hidden-xs" style="border-top: 1px solid #bbb;">
                                        <a href="#/seat/{{search.departureId}}/{{trip.id}}" class="btn btn-block theme-fucsia-iv addTicket-button" translate>SEARCH.TRIPS.BUTTON</a>
                                        <span class="hidden sort-price">${trip.price}</span>
                                        <span class="hidden sort-departure">${trip.departureTime.getTime()/1000}</span>
                                        <span class="hidden sort-company">${trip.companyRoute.company.name}</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>








            </div>

            </div> <!-- end columns results -->
            <div class="row  container-responsive" id="alternative-results" ng-show="search.trips.alternativeTrips.length > 0">
                <div class="col-xs-12 col-md-12">
                    <h5 class="hidden-xs" >
                        Viajes Alternativos: {{search.trips.alternativeTrips.length}} resultados <span class="capitalize trip-date"></span>
                    </h5>
                    <div class="new-results" ng-repeat="trip in search.trips.alternativeTrips">
                        <div class="results list" >
                            <div class="row result result-iv" data-company="pullman" data-company-id="1" data-price="12.000" data-seat="2" data-salida="12:00" data-departure="1200" data-trip-id="123" data-internal-id="int111" data-sort-price="12000" data-sort-departure="1200" data-sort-company="pullman">

                                <div class="col-md-5 col-xs-4 alternativeBox">
                                    <span class="nowrap text-fucsia">{{trip.origin}}</span>
                                </div>

                                <div class="col-md-4 col-xs-4 alternativeBox">
                                    <span class="nowrap text-fucsia">{{trip.destination}}</span>
                                </div>

                                <div class="col-xs-4 nbt visible-xs">
                                    <a class="btn btn-block theme-fucsia-iv addTicket-button" ng-click="search.alternativeSearch(trip.origin,trip.countryOrigin,trip.destination,trip.countryDestination)">SELECCIONAR</a>
                                </div>

                                <div class="col-md-3 nbt hidden-xs alternativeBox">
                                    <a class="btn btn-block theme-fucsia-iv addTicket-button" ng-click="search.alternativeSearch(trip.origin,trip.countryOrigin,trip.destination,trip.countryDestination)">SELECCIONAR</a>
                                    <span class="hidden sort-price">${trip.price}</span>
                                    <span class="hidden sort-departure">${trip.departureTime.getTime()/1000}</span>
                                    <span class="hidden sort-company">${trip.companyRoute.company.name}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
