<style>
    input[type="text"],
    input[type="email"] {
        border-radius: 0px !important;
        min-height: 48px !important;
        border: 1px solid #d0d0d0;
        width: 99% !important;
        padding-left: 10px;
}

select {
    height: 48px !important;
    min-height: 48px !important;
    background-color: transparent;
    width: 99% !important;
    border: 1px solid #d0d0d0;
    border-radius: 0px !important;


}
.rut-container, .pass-container {
    margin-top: 5px;
}

.nav-tabs {
    background: transparent;
    width: 230px;
}
.nav-tabs li {
    width: 101%;
}

.nav-tabs li > a{
    text-align: center;
    color: #222;
    border-radius: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #aaa;
    color: #fff;
    text-align: center;
}


input.ng-invalid.ng-touched {
    border: 1px solid #FA787E;
  }

input.ng-valid.ng-touched {
    border: 1px solid #78FA89;
}

.new-results .results .result img,
.new-results-selected .results .result img {
    margin-top: 5px;
}
.mt5 {
    margin-top: -5px;
}
#passages_link {
    display: none;
}
.invalid{
    border: 1px solid #FA787E !important;
}
.valid{
    border: 1px solid #78FA89 !important;
}
</style>
<div class="container" ng-show="seat.isLoading" style="margin-top: 80px; margin-bottom: 80px;">
    <div class="row">
        <div class="col-md-12 col-xs-12 text-center">
            <p translate>SEATS.LOADING_MESSAGE</p><br>
            <img src="https://cdn.api.voyhoy.com/loader.gif" alt="Cargando mapa de asientos..." />
        </div>
    </div> 
</div>
<div class="container" ng-show="!seat.isLoading" id="seat-container">
    <br>
    <div class="row">
        <!--  El de abajo es el enlace original al controlador de pagos -->
        <div id="form-seat-selection" data-action="#"></div>
        <div class="col-md-6 col-xs-12 col-sm-12" id="container-trip-ida">
            <h5 class="hidden-xs"><span translate>SEATS.PASSAGE_ROUND</span> <span class="text-muted">{{ seat.trips.round.origin }} a {{ seat.trips.round.destination }}</span></h5>
            <br>
            <div class="new-results">
                <div class="results list" >
                    <div class="row result seat">
                        <div class="col-md-6 col-xs-6 c-departure">
                            <strong>{{ seat.trips.round.departureHour }} hrs.</strong>
                            <small class="text-muted smallest-font text-fucsia">{{ seat.trips.round.origin }}</small>
                            <br>
                            <small class="text-muted smallest-font  capitalize"  style="display:block;">{{ seat.trips.round.terminalOrigin }}</small>
                        </div>
                        <div class="col-md-6 col-xs-6 c-arrival">
                            <strong>{{ seat.trips.round.arrivalHour }} hrs.</strong>
                            <small class="text-muted smallest-font dbm text-fucsia">{{ seat.trips.round.destination }}</small>
                            <small class="text-muted smallest-font  capitalize" style="display:block;">{{ seat.trips.round.terminalDestination }}</small>
                        </div>
                        <div class="col-md-6 col-xs-6 c-company nbt" style="border-top: 1px solid #bbb;">
                            <small class="text-muted smallest-font company"> {{ seat.trips.round.company }}</small>
                            <img src="{{ seat.trips.round.companyLogo }}" title="{{ seat.trips.round.company }}" class="logo_small">
                        </div>
                        <div class="col-md-6 col-xs-6 c-approximate-time nbt" style="border-top: 1px solid #bbb;">
                            <p class="text-muted smallest-font"><i class="fa fa-clock-o"></i> {{ seat.trips.round.duration }}</p>
                        </div>
                    </div>  
                </div>  
            </div>

            <div class="box" id="box-ida">
                <div class="box-content" id="box-content-ida" style="background: transparent; padding: 0;">
                    <p class="hidden" id="no_seat_map_ida_message">No es posible efectuar selección de asiento en este bus</p>
                    <div class="col-md-6 col-xs-12 col-sm-6" id="seat_map_ida" style="padding-left:0;" ng-class="{'disable-box':!seat.selectDepartureSeat || seat.allSeats}" ng-show="!seat.trips.round.automaticSeat">
                        <div class="tabs-container">
                            <ul class="nav nav-tabs" role="tablist" id="seats-ida">
                                <li role="presentation" class="active">
                                    <a href="#panel1" aria-controls="messages" role="tab" data-toggle="tab" translate>SEATS.FLOOR_1</a>
                                </li>
                                <li role="presentation" class="hidden">
                                    <a href="#panel2" aria-controls="settings" role="tab" data-toggle="tab" translate>SEATS.FLOOR_2</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="panel1">
                                    <div class="wrapper">
                                        <div class="container-seats">
                                            <div id="seat-map-1">
                                                <div class="front-indicator">Frente</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="panel2">
                                    <div class="wrapper">
                                        <div class="container-seats">
                                            <div id="seat-map-2">
                                                <div class="front-indicator">Frente</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                        <!-- LEGEND -->                  
                       
                         </div>
                    </div> <!-- end .col-md-6 .col-xs-12 -->
                    <div class="col-md-6 col-xs-12 col-sm-6" ng-show="seat.trips.round.automaticSeat" style="background:#fff;">
                        <div class="tabs-container">
                            <h5 class="text-muted">Asientos Automaticos</h5>
                         </div>
                         <div class="addSeat-automatic" ng-class="{'disable-box':!seat.selectDepartureSeat || seat.allSeats}">
                             <button type="button" name="addSeat" class="btn btn-block btn-success btn-lg theme-green btn-pay ng-scope" ng-click="seat.selectSeatAutomatic(0)" ng-hide = "seat.allSeats">
                                 Añadir Pasajero
                             </button>
                         </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-6"  id="forms_ida" style="padding-right:0;">
                        <div class="select-seat">
                            <p class="select-seat-title" translate>SEATS.SELECTION_LABEL</p>
                            <small class="select-seat-subtitle" translate>SEATS.SELECTION_SUBLABEL</small>
                            
                        </div>
                        <div id="seats-ida">

                            <div ng-repeat="item in seat.seatsSelectedDeparture | filter: { trip: 0}" class="seat-selected" id="id_{{ item.seatNumber }}">
                                <div class="row">
                                    <div class="col-md-5 col-xs-5">
                                        <p class="smallest-font name"><strong> {{ item.name }}, {{ item.lastname }} </strong></p>
                                        <small class="text-muted smallest-font text-fucsia">Asiento {{ item.seatLabel }}</small>
                                    </div>
                                    <div class="col-md-5 col-xs-5">
                                        <p class="smallest-font text-muted">{{ item.dni }}</p>
                                        <small class="text-muted smallest-font">{{ item.country }}</small>
                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <div class="seat-actions">
                                            <a href="javascript:;" class="edit-seat" id="" ng-click="seat.selectSeat(item.seatNumber, item.seatLabel, item.trip, item.floor, item, $index);"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:;" class="release-seat" data-seat="" data-trip="" data-trip-id="" ng-click="seat.deleteSeat(item.trip, item.floor,  item.seatNumber, false, $index);"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br>
                        <div class="row" ng-show="!seat.trips.round.automaticSeat">
                            <div class="col-md-4 col-xs-4 seat-legend">
                                <img src="images/seat-charts/seat-available.png" alt="Disponible">
                                <span class="text-muted smallest-font" translate>SEATS.LEGEND_AVAILABLE</span>
                            </div>
                            <div class="col-md-4 col-xs-4 seat-legend">
                                <img src="images/seat-charts/seat-taken.png" alt="Ocupado">
                                <span class="text-muted smallest-font" translate>SEATS.LEGEND_UNAVAILABLE</span>
                            </div>
                            <div class="col-md-4 col-xs-4 seat-legend">
                                <img src="images/seat-charts/seat-selected.png" alt="Seleccionado">
                                <span class="text-muted smallest-font" translate>SEATS.LEGEND_SELECTED</span>
                            </div>
                        </div>        
                        <br>
                        <p class="smallest-font more-info select-more hidden">Puede agregar otro asiento</p>
                        <br>
                    </div> <!-- end .col-md-6 .col-xs-12 -->
                </div> <!-- end .box-content -->
            </div> <!-- end .box #box-ida -->
        </div> <!-- end .col-md-6 .col-xs-12 #container-trip-ida -->
        
        <div class="col-md-6 col-xs-12 col-sm-12" id="container-trip-vuelta" ng-show="seat.trips.isRoundTrip">
            <h5 class="hidden-xs"><span translate>SEATS.PASSAGE_RETURN</span> <span class="text-muted">{{ seat.trips.return.origin }} a {{ seat.trips.return.destination }}</span></h5>
            <br>
            <div class="new-results">
                <div class="results list" >
                    <div class="row result">
                        <div class="col-md-6 col-xs-6 c-departure">
                            <strong>{{ seat.trips.return.departureHour }} hrs.</strong>
                            <small class="text-muted smallest-font text-fucsia">{{ seat.trips.return.origin }}</small>
                            <br>
                            <small class="text-muted smallest-font  capitalize"  style="display:block;">{{ seat.trips.return.terminalOrigin }}</small>
                        </div>
                        <div class="col-md-6 col-xs-6 c-arrival">
                            <strong>{{ seat.trips.return.arrivalHour }} hrs.</strong>
                            <small class="text-muted smallest-font dbm text-fucsia">{{ seat.trips.return.destination }}</small>
                            <small class="text-muted smallest-font  capitalize" style="display:block;">{{ seat.trips.return.terminalDestination }}</small>
                        </div>
                        <div class="col-md-6 col-xs-6 c-company nbt" style="border-top: 1px solid #bbb;">
                            <small class="text-muted smallest-font company"> {{ seat.trips.return.company }}</small>
                            <img src="{{ seat.trips.round.companyLogo }}" title="{{ seat.trips.round.company }}" class="logo_small">
                        </div>
                        <div class="col-md-6 col-xs-6 c-approximate-time nbt" style="border-top: 1px solid #bbb;">
                            <p class="text-muted smallest-font"><i class="fa fa-clock-o"></i> {{ seat.trips.return.duration }}</p>
                        </div>
                    </div>  
                </div>  
            </div>
            
            <div class="box" id="box-vuelta">
                <div class="box-content" id="box-content-vuelta" style="background: transparent; padding: 0;">
                    <div class="col-xs-12 col-md-6 col-sm-6" id="seat_map_vuelta" style="padding-left:0;" ng-class="{'disable-box':seat.selectDepartureSeat || seat.allSeats}" ng-show="!seat.trips.round.automaticSeat">
                        <p class="hidden" id="no_seat_map_vuelta_message"><small>No se puede efectuar seleccion de asientos para este viaje</small></p>
                        <div class="tabs-container">
                            <ul class="nav nav-tabs" role="tablist" id="seats-vuelta">
                                <li role="presentation" class="active">
                                    <a href="#panel3" aria-controls="messages" role="tab" data-toggle="tab" translate>SEATS.FLOOR_1</a>
                                </li>
                                <li role="presentation" class="hidden">
                                    <a href="#panel4" aria-controls="settings" role="tab" data-toggle="tab" translate>SEATS.FLOOR_2</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="panel3">
                                    <div class="wrapper">
                                        <div class="container-seats">
                                            <div id="seat-map-3">
                                                <div class="front-indicator">Frente</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="panel4">
                                    <div class="wrapper">
                                        <div class="container-seats">
                                            <div id="seat-map-4">
                                                <div class="front-indicator">Frente</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end .tab-content -->
                        </div>
                    </div> <!-- end .col-xs-12 .col-md-6 #seat_map_vuelta -->

                    <div class="col-md-6 col-xs-12 col-sm-6" ng-show="seat.trips.round.automaticSeat" style="background:#fff;">
                        <div class="tabs-container">
                            <h5 class="text-muted">Asientos Automaticos</h5>
                         </div>
                         <div class="addSeat-automatic" ng-class="{'disable-box':seat.selectDepartureSeat || seat.allSeats}">
                             <button type="button" name="addSeat" class="btn btn-block btn-success btn-lg theme-green btn-pay ng-scope" ng-click="seat.selectSeatAutomatic(1)" ng-hide = "seat.allSeats">
                                 Añadir Pasajero
                             </button>
                         </div>
                    </div>

                    <div class="col-xs-12 col-md-6 col-sm-6" style="padding: 0; padding-left: 15px;" id="forms_vuelta">
                        <div class="select-seat">
                            <p class="select-seat-title" translate>SEATS.SELECTION_LABEL</p>
                            <small class="select-seat-subtitle" translate>SEATS.SELECTION_SUBLABEL</small>
                        </div>
                        <div id="seats-vuelta">

                            <div ng-repeat="item in seat.seatsSelectedReturn | filter: { trip: 1}" class="seat-selected" id="id_{{ item.seatNumber }}">
                                <div class="row">
                                    <div class="col-md-5 col-xs-5">
                                        <p class="smallest-font name"><strong> {{ item.name }}, {{ item.lastname }} </strong></p>
                                        <small class="text-muted smallest-font text-fucsia">Asiento {{ item.seatLabel }}</small>
                                    </div>
                                    <div class="col-md-5 col-xs-5">
                                        <p class="smallest-font text-muted">{{ item.dni }}</p>
                                        <small class="text-muted smallest-font">{{ item.country }}</small>
                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <div class="seat-actions">
                                            <!-- <a href="javascript:;" class="edit-seat" id="" ng-click="seat.selectSeat(item.seatNumber, item.seatLabel, item.trip, item.floor, item);"><i class="fa fa-edit"></i></a> -->
                                            <a href="javascript:;" class="release-seat" ng-click="seat.deleteSeat(item.trip, item.floor,  item.seatNumber, false,$index);"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <br>
                        <div class="row" ng-show="!seat.trips.round.automaticSeat">
                            <div class="col-md-4 col-xs-4 seat-legend">
                                <img src="images/seat-charts/seat-available.png" alt="Disponible">
                                <span class="text-muted smallest-font" translate>SEATS.LEGEND_AVAILABLE</span>
                            </div>
                            <div class="col-md-4 col-xs-4 seat-legend">
                                <img src="images/seat-charts/seat-taken.png" alt="Ocupado">
                                <span class="text-muted smallest-font" translate>SEATS.LEGEND_UNAVAILABLE</span>
                            </div>
                            <div class="col-md-4 col-xs-4 seat-legend">
                                <img src="images/seat-charts/seat-selected.png" alt="Seleccionado">
                                <span class="text-muted smallest-font" translate>SEATS.LEGEND_SELECTED</span>
                            </div>
                        </div> 
                    </div>
                </div> <!-- end .box-content -->
            </div> <!-- end .box #box-vuelta -->
        </div> <!-- end .col-md-6 .col-xs-12 #container-trip-vuelta -->

        <div class="col-xs-12" ng-class="{'col-md-6':!seat.trips.isRoundTrip,'mt5':!seat.trips.isRoundTrip,'col-md-12':seat.trips.isRoundTrip}">
            <div ng-show="!seat.trips.isRoundTrip"><br><br><br></div>
            <div class="box" id="purchase-resumen" style="background: #fff;">
                <div class="box-content">
                    <h5><span class="text-muted" translate>SEATS.PURCHASE_SUMMARY</span></h5>
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-md-offset-8">
                            <div id="resumen_seats">

                                <!-- <p ng-repeat="item in seat.seatsSelectedDeparture">
                                    <span class="smallest-font"><span translate>SEATS.PURCHASE_SEAT</span> <b><span ng-if="0 == item.trip"><span translate>SEATS.PURCHASE_ROUND</span></span><span ng-if="1 == item.trip"><span translate>SEATS.PURCHASE_RETURN</span></span> {{ item.seatLabel }}</b></span>
                                    <span class="small-font pull-right"><strong>{{ item.price  }} €</strong></span>
                                </p>
                                <p ng-repeat="item in seat.seatsSelectedReturn">
                                    <span class="smallest-font"><span translate>SEATS.PURCHASE_SEAT</span> <b><span ng-if="0 == item.trip"><span translate>SEATS.PURCHASE_ROUND</span></span><span ng-if="1 == item.trip"><span translate>SEATS.PURCHASE_RETURN</span></span> {{ item.seatLabel }}</b></span>
                                    <span class="small-font pull-right"><strong>{{ item.price  }} €</strong></span>
                                </p> -->
                            </div>
                            <!-- <p>
                                <span class="smallest-font"><span translate>SEATS.PURCHASE_SEATS</span>(<span id="seatsQuantity">{{ seat.totalSeats }}</span>)</span>
                                <span class="small-font pull-right"><span id="totalPrice">{{ seat.totalMount  }} €</span></span>
                            </p> -->
                            <p>
                                <span class="small-font"><strong translate>SEATS.PURCHASE_TOTAL</strong></span>
                                <span class="small-font pull-right"> <span id="total">{{ seat.seatsSelectedDeparture[0].price | currency : '' }} €</span></span>
                            </p>
                            <br>
                            <br>
                            <div ng-class="{'disable-box': !seat.allSeats}">
                                <a href="javascript:void(0)"  ng-disabled="seat.totalSeats === 0" class="btn btn-block btn-success btn-lg theme-green btn-pay" ng-click = "seat.reserve()" translate>SEATS.PURCHASE_BUTTON</a>
                            </div>
                        </div>
                    </div> <!-- end .row -->
                </div> <!-- end .box-content -->
            </div> <!-- end .box -->
        </div> <!-- end .col-md-12 .col-xs-12 -->
    </div> <!-- end .row -->
</div> <!-- end .container -->


<!-- MODALES REUSABLES -->

<!-- Modal -->
<div class="modal fade" id="formSeat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" 
   data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="seat.releaseSeat(seat.seatInSelection.trip, seat.seatInSelection.floor,  seat.seatInSelection.seatNumber)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <p class="text-fucsia">
            <strong translate>SEATS.FORM_LABEL_PASSAGE</strong>
            <span translate>SEATS.FORM_LABEL_SEAT</span> <span class="passenger_no">{{ seat.seatInSelection.seatLabel }}</span>
        </p>
      </div>
      <div class="modal-body">
      <form role="form" id="form_data"  ng-submit="seat.addSeat()">    
        <fieldset class="" >
           
            <div class="form-content">

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="form_data_name" translate>SEATS.FORM_NAME</label>
                            <input type="text" placeholder="{{ 'SEATS.FORM_NAME' | translate}}" required name="form_data_name"  id="form_data_name" value="" class="name" ng-model="seat.seatInSelection.name"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="form_data_lastname" translate>SEATS.FORM_LASTNAME</label>
                            <input type="text" placeholder="{{ 'SEATS.FORM_LASTNAME' | translate}}" required name="form_data_lastname" id="form_data_lastname" value="" class="lastname"  ng-model="seat.seatInSelection.lastname" />
                        </div>
                    </div>
                </div>
                <div class="row">

                    
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="form_data_country" translate>SEATS.FORM_COUNTRY</label>
                            <select name="form_data_country" id="form_data_country"  class="country" ng-model="seat.seatInSelection.country" ng-options="country.name as country.value for country in seat.cnames_es" ng-init="seat.seatInSelection.country='ESP'">
                                <option value="" translate>SEATS.FORM_COUNTRY_TEXT</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                            <label class="radio-inline">
                                <input type="radio" name="form_data_document" id="form_data_document" ng-checked="true" value="1" class="rut-radio" checked ng-model="seat.seatInSelection.document" ng-click="seat.validateDni()"> <small translate>DNI/NIF</small>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="form_data_document" id="form_data_document" value="2" class="pass-radio" ng-model="seat.seatInSelection.document" ng-click="seat.validateDni()"> <small translate>NIF</small>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="form_data_document" id="form_data_document" value="3" class="pass-radio" ng-model="seat.seatInSelection.document" ng-click="seat.validateDni()"> <small translate>SEATS.FORM_PASSPORT</small>
                            </label>
                            <div class=" rut-container">
                                <input type="text" placeholder="{{ 'SEATS.FORM_RUT' | translate}}" name="form_data_rut" id="form_data_rut" value=""  class="rut" required ng-model="seat.seatInSelection.dni" ng-change="seat.validateDni()" ng-class="{'invalid':seat.errorDni && seat.dniEdit,'valid':!seat.errorDni && seat.dniEdit}"/>
                            </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="form_data_phone" translate>SEATS.FORM_PHONE</label>
                           <input type="text" placeholder="{{ 'SEATS.FORM_PHONE_PLACEHOLDER' | translate}}" name="form_data_phone" id="form_data_phone" value=""  class="phone" required maxlength="15" ng-model="seat.seatInSelection.phone" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form_group">
                            <label for="form_data_email" translate>SEATS.FORM_EMAIL</label>
                           <input type="email" placeholder="{{ 'SEATS.FORM_EMAIL_PLACEHOLDER' | translate}}" name="form_data_email" id="form_data_email" value=""  class="email" required maxlength="100" ng-model="seat.seatInSelection.email" />
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <button  ng-switch on="seat.seatInSelection.update" type="submit" class="btn btn-block theme-green btn-lg" id="save-passenger-data" style="margin-top: 25px;" >
                            <div ng-switch-when="true">
                                <span translate>SEATS.FORM_BTN_UPDATE</span>
                            </div>
                            <div ng-switch-default>
                                <span translate>SEATS.FORM_BTN_SELECT</span>
                            </div>

                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div class="modal fade" id="error-seat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static"
   data-keyboard="false">
   <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content" style="background-color: #F2DEDD !important;">
       <div class="modal-header">
           <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
           <h2>Error</h2>
       </div>
       <div class="modal-body">
           <p>
               {{seat.msgError}}
           </p>
       </div>
       <div class="modal-footer" style="border-top: 1px solid #333333;">
           <p translate>
               SEATS.REDIRECT
           </p>
       </div>
     </div>
   </div>
</div>

<div class="modal fade" id="error-reserve" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static"
   data-keyboard="false">
   <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content" style="background-color: #F2DEDD !important;">
       <div class="modal-header">
           <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
           <h2>Error</h2>
       </div>
       <div class="modal-body">
           <p>
               {{seat.msgErrorReserve}}
           </p>
       </div>
     </div>
   </div>
</div>
