<style>
    input[type="text"] {
        border-radius: 0px !important;
        min-height: 48px !important;
        border: 1px solid #d0d0d0;
}

select {
    height: 48px !important;
    min-height: 48px !important;
    background-color: transparent;
    width: 99% !important;
    border: 1px solid #d0d0d0;

}
.rut-container, .pass-container {
    margin-top: 5px;
}

.nav-tabs {
    background: #ccc;
    width: 230px;
    margin-left: 16px;
}
.nav-tabs li {
    width: 50%;
}

.nav-tabs li > a{
    text-align: center;
    color: #222;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #aaa;
    color: #fff;
    text-align: center;
}


input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

input.ng-valid.ng-touched {
    background-color: #78FA89;
  }

</style>
<div class="container">
    <div class="row">
        <!--  El de abajo es el enlace original al controlador de pagos -->
        <div id="form-seat-selection" data-action="#"></div>
        <div class="col-md-6 col-xs-12" id="container-trip-ida">
            <h5 class="hidden-xs">Pasaje ida: <span class="text-muted">{{ seat.trips.round.origin }} a {{ seat.trips.round.destination }}</span></h5>
            <br>
            <div class="new-results">
                <div class="results list" >
                    <div class="row result">
                        <div class="col-md-6 col-xs-6 c-departure">
                            <strong>{{ seat.trips.round.departureHour }} hrs.</strong>
                            <small class="text-muted smallest-font text-fucsia">{{ seat.trips.round.origin }}</small>
                            <br>
                            <small class="text-muted smallest-font  capitalize"  style="display:block;">{{ seat.trips.round.terminalOrigin }}</small>
                        </div>
                        <div class="col-md-6 col-xs-6 c-arrival">
                            <strong>{{ seat.trips.round.arrivalHour }} hrs.</strong>
                            <small class="text-muted smallest-font dbm text-fucsia">{{ seat.trips.round.destination }}</small>
                            <small class="text-muted smallest-font  capitalize" style="display:block;">{{ seat.trips.round.terminalDestination }}</small>
                        </div>
                        <div class="col-md-6 col-xs-6 c-company nbt" style="border-top: 1px solid #bbb;">
                            <small class="text-muted smallest-font company"> {{ seat.trips.round.company }}</small>
                            <img src="{{ seat.trips.round.companyLogo }}" title="{{ seat.trips.round.company }}" class="logo_small">
                        </div>
                        <div class="col-md-6 col-xs-6 c-approximate-time nbt" style="border-top: 1px solid #bbb;">
                            <p class="text-muted smallest-font"><i class="fa fa-clock-o"></i> {{ seat.trips.round.duration }}</p>
                        </div>
                    </div>  
                </div>  
            </div>

            <div class="box" id="box-ida">
                <div class="box-content" id="box-content-ida" style="background: transparent; padding: 0;">
                    <p class="hidden" id="no_seat_map_ida_message">No es posible efectuar selección de asiento en este bus</p>
                    <div class="col-md-6 col-xs-12" id="seat_map_ida" style="padding-left:0;">
                        <div>
                            <ul class="nav nav-tabs" role="tablist" id="seats-ida">
                                <li role="presentation" class="active"><a href="#panel1" aria-controls="messages" role="tab" data-toggle="tab">PISO 1</a></li>
                                <li role="presentation"><a href="#panel2" aria-controls="settings" role="tab" data-toggle="tab">PISO 2</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="panel1">
                                    <div class="wrapper">
                                        <div class="container-seats">
                                            <div id="seat-map-1">
                                                <div class="front-indicator">Frente</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="panel2">
                                    <div class="wrapper">
                                        <div class="container-seats">
                                            <div id="seat-map-2">
                                                <div class="front-indicator">Frente</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- LEGEND -->                  
                        <div class="row">
                            <div class="col-md-4 col-xs-4 seat-legend">
                                <img src="images/seat-charts/seat-avaible.png" alt="Disponible">
                                <span class="text-muted smallest-font">Disponible</span>
                            </div>
                            <div class="col-md-4 col-xs-4 seat-legend">
                                <img src="images/seat-charts/seat-taken.png" alt="Ocupado">
                                <span class="text-muted smallest-font">Ocupado</span>
                            </div>
                            <div class="col-md-4 col-xs-4 seat-legend">
                                <img src="images/seat-charts/seat-selected.png" alt="Seleccionado">
                                <span class="text-muted smallest-font">Seleccionado</span>
                            </div>
                        </div>
                    </div> <!-- end .col-md-6 .col-xs-12 -->

                    <div class="col-md-6 col-xs-12"  id="forms_ida" style="padding-right:0;">
                        <div class="select-seat">
                            <p class="select-seat-title">Tu(s) asiento(s):</p>
                            <small class="select-seat-subtitle">Por favor seleccione un máximo de 7 asientos</small>
                        </div>
                        <div id="seats-ida"></div>
                        <br>
                        <p class="smallest-font more-info select-more hidden">Puede agregar otro asiento</p>
                        <br>
                    </div> <!-- end .col-md-6 .col-xs-12 -->
                </div> <!-- end .box-content -->
            </div> <!-- end .box #box-ida -->
        </div> <!-- end .col-md-6 .col-xs-12 #container-trip-ida -->
        
        <div class="col-md-6 col-xs-12" id="container-trip-vuelta">
            <h5 class="hidden-xs">Pasaje vuelta: <span class="text-muted">Madrid  a Barcelona</span></h5>
            <br>
            <div class="new-results">
                <div class="results list" >
                    <div class="row result">
                        <div class="col-md-6 col-xs-6 c-departure">
                            <strong>{{ seat.trips.return.departureHour }} hrs.</strong>
                            <small class="text-muted smallest-font text-fucsia">{{ seat.trips.return.origin }}</small>
                            <br>
                            <small class="text-muted smallest-font  capitalize"  style="display:block;">{{ seat.trips.return.terminalOrigin }}</small>
                        </div>
                        <div class="col-md-6 col-xs-6 c-arrival">
                            <strong>{{ seat.trips.return.arrivalHour }} hrs.</strong>
                            <small class="text-muted smallest-font dbm text-fucsia">{{ seat.trips.return.destination }}</small>
                            <small class="text-muted smallest-font  capitalize" style="display:block;">{{ seat.trips.return.terminalDestination }}</small>
                        </div>
                        <div class="col-md-6 col-xs-6 c-company nbt" style="border-top: 1px solid #bbb;">
                            <small class="text-muted smallest-font company"> {{ seat.trips.return.company }}</small>
                            <img src="{{ seat.trips.round.companyLogo }}" title="{{ seat.trips.round.company }}" class="logo_small">
                        </div>
                        <div class="col-md-6 col-xs-6 c-approximate-time nbt" style="border-top: 1px solid #bbb;">
                            <p class="text-muted smallest-font"><i class="fa fa-clock-o"></i> {{ seat.trips.return.duration }}</p>
                        </div>
                    </div>  
                </div>  
            </div>
            
            <div class="box" id="box-vuelta">
                <div class="box-content" id="box-content-vuelta" style="background: transparent; padding: 0;">
                    <div class="col-xs-12 col-md-6" id="seat_map_vuelta" style="padding-left:0;">
                        <p class="hidden" id="no_seat_map_vuelta_message"><small>No se puede efectuar seleccion de asientos para este viaje</small></p>
                        <ul class="nav nav-tabs" role="tablist" id="seats-vuelta">
                            <li role="presentation" class="active"><a href="#panel3" aria-controls="messages" role="tab" data-toggle="tab">PISO 1</a></li>
                            <li role="presentation"><a href="#panel4" aria-controls="settings" role="tab" data-toggle="tab">PISO 2</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="panel3">
                                <h4>Piso 1</h4>
                                <div class="wrapper">
                                    <div class="container-seats">
                                        <div id="seat-map-3">
                                            <div class="front-indicator">Frente</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="panel4">
                                <h4>Piso 2</h4>
                                <div class="wrapper">
                                    <div class="container-seats">
                                        <div id="seat-map-4">
                                            <div class="front-indicator">Frente</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end .tab-content -->
                       
                        <div class="row">
                            <div class="col-md-4 col-xs-4 seat-legend">
                                <img src="images/seat-charts/seat-avaible.png" alt="Disponible">
                                <span class="text-muted smallest-font">Disponible</span>
                            </div>
                            <div class="col-md-4 col-xs-4 seat-legend">
                                <img src="images/seat-charts/seat-taken.png" alt="Ocupado">
                                <span class="text-muted smallest-font">Ocupado</span>
                            </div>
                            <div class="col-md-4 col-xs-4 seat-legend">
                                <img src="images/seat-charts/seat-selected.png" alt="Seleccionado">
                                <span class="text-muted smallest-font">Seleccionado</span>
                            </div>
                        </div>
                    </div> <!-- end .col-xs-12 .col-md-6 #seat_map_vuelta -->
                    
                    <div class="col-xs-12 col-md-6" style="padding: 0;" id="forms_vuelta">
                        <div class="select-seat">
                            <p class="select-seat-title">Tu(s) asiento(s):</p>
                            <small class="select-seat-subtitle">Por favor seleccione un máximo de 7 asientos</small>
                        </div>
                        <div id="seats-vuelta"></div>
                    </div>
                </div> <!-- end .box-content -->
            </div> <!-- end .box #box-vuelta -->
        </div> <!-- end .col-md-6 .col-xs-12 #container-trip-vuelta -->

        <div class="col-md-12 col-xs-12">
            <div class="box" id="purchase-resumen" style="background: #fff;">
                <div class="box-content">
                    <h5><span class="text-muted">RESÚMEN DE COMPRA</span></h5>
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-md-offset-8">
                            <div id="resumen_seats"></div>
                            <p>
                                <span class="smallest-font">Asientos(<span id="seatsQuantity">0</span>)</span> 
                                <span class="small-font pull-right"><span id="totalPrice">$ 0</span></span>
                            </p>
                            <p>
                                <span class="small-font"><strong>Total</strong></span>
                                <span class="small-font pull-right"> <span id="total">$ 0</span></span>
                            </p>
                            <br>
                            <br>
                            <a href="javascript:void(0)"  class="btn btn-block btn-success btn-lg theme-green btn-pay">Pagar ahora</a>
                            <button type="button" class="btn btn-succes btn-lg btn-block" data-toggle="modal" data-target="#myModal">
                                Modal de Pasajeros
                            </button>
                        </div>
                    </div> <!-- end .row -->
                </div> <!-- end .box-content -->
            </div> <!-- end .box -->
        </div> <!-- end .col-md-12 .col-xs-12 -->
    </div> <!-- end .row -->
</div> <!-- end .container -->


<!-- MODALES REUSABLES -->

<!-- Modal -->
<div class="modal fade" id="formSeat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <strong>Pasaje <span class="viaje"></span></strong>
                Asiento <span class="passenger_no">{{ seat.selectSeat.seatNumber }}</span>
      </div>
      <div class="modal-body">
      <form role="form" id="form_data"  ng-submit="seat.addSeat()">    
        <fieldset class="" >
           
            <div class="form-content">

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="form_data_name">Nombre</label>
                            <input type="text" placeholder="Nombre" required name="form_data_name"  id="form_data_name" value="" class="name" ng-model="seat.selectSeat.name"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="form_data_lastname">Apellido</label>
                            <input type="text" placeholder="Apellido" required name="form_data_lastname" id="form_data_lastname" value="" class="lastname"  ng-model="seat.selectSeat.lastname" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="form_data_country">Nacionalidad</label>
                            <select name="form_data_country" id="form_data_country"  class="country" ng-model="seat.selectSeat.country">
                                <option value="VE">Venezuela</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                            <label class="radio-inline">
                                <input type="radio" name="form_data_document" id="form_data_document" value="rut" class="rut-radio" checked ng-model="seat.selectSeat.document"> <small>RUT</small>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="form_data_document" id="form_data_document" value="passport" class="pass-radio" ng-model="seat.selectSeat.document" > <small>PASAPORTE</small>
                            </label>
                            <div class="form-group rut-container">
                                <input type="text" placeholder="RUT" name="form_data_rut" id="form_data_rut" value=""  class="rut" required ng-model="seat.selectSeat.rut" />
                            </div>
                            
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form_data_phone">
                            <label for="form_data_lastname">Teléfono</label>
                           <input type="text" placeholder="Teléfono" name="form_data_phone" id="form_data_phone" value=""  class="phone" required maxlength="15" ng-model="seat.selectSeat.phone" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <button type="submit" class="btn btn-block btn-success btn-lg" id="save-passenger-data" style="margin-top: 20px;" >Seleccionar</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
      </div>
     
    </div>
  </div>
</div>

