<div class="container">
    <vh-profile-menu-directive></vh-profile-menu-directive>
    <div class="row">
        <div class="col-md-12 alert alert-success alert-dismissible" role="alert" ng-show="csettings.wellDoneData">
            <button type="button" class="close" aria-label="Close" ng-click="csettings.reset()"><span aria-hidden="true">&times;</span></button>
            <strong>Bien!</strong> Datos actualizados.
        </div>
        <div class="col-md-8 form-group">
            <div class="col-md-12 col-xs-12 profile-box-background-blue white">
                <h4 class="font-14"><i class="fa fa-user icon" aria-hidden="true"></i> Informacion de perfil</h4>
            </div>
            <div class="col-md-12 padding-15  profile-box-background-white">
                <label class="font-12" for="name">NOMBRE</label>
                <input ng-model="csettings.firstName" class="form-control form-inputs input-text font-14" type="text" name="name" value="" placeholder="Ingrese Nombre">
            </div>
            <div class="col-md-12 padding-15  profile-box-background-white">
                <label class="font-12" for="lastname">APELLIDO</label>
                <input ng-model="csettings.lastName" class="form-control form-inputs input-text font-14" type="text" name="lastname" value="" placeholder="Ingrese Apellido">
            </div>
            <div class="col-md-12 padding-15  profile-box-background-white">
                <label class="font-12" for="dni">DNI</label>
                <input ng-model="csettings.customerData.identificationNumber" class="form-control form-inputs input-text font-14" type="text" name="dni" value="" placeholder="Ingrese DNI">
            </div>
            <div class="col-md-12 padding-15  profile-box-background-white">
                <label class="font-12" for="email">EMAIL</label>
                <input ng-model="csettings.customerData.email" class="form-control form-inputs" type="email" name="email" value="" placeholder="Ingrese E-mail">
            </div>
            <div class="col-md-12 padding-15  profile-box-background-white">
                <label class="font-12" for="address">DIRECCION</label>
                <input ng-model="csettings.customerData.address" class="form-control form-inputs input-text font-14" type="text" name="address" value="" placeholder="Ingrese una Dirección">
            </div>
            <div class="col-md-12 padding-15  profile-box-background-white">
                <label class="font-12" for="birthdate">FECHA DE NACIMIENTO</label>
                <input ng-model="csettings.customerData.birthday" class="form-control form-inputs input-text font-14" type="text" name="birthdate" value="" placeholder="DD/MM/YYYY" ui-mask="99/99/9999" model-view-value="true" />
            </div>
            <div class="col-md-12 padding-15  profile-box-background-white">
                <label class="font-12" for="phone">NUMERO DE TELEFONO</label>
                <input ng-model="csettings.customerData.phoneNumber" class="form-control form-inputs input-text font-14" type="text" name="phone" value="" placeholder="Ingrese Numero de Telefono">
            </div>
            <div class="col-md-12 padding-15" style="min-height: 5em; background:white;">
                <input ng-click="csettings.updateData()" class="pull-right form-control button-send form-inputs width-button" type="button" name="name" value="ACTUALIZAR">
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="profile-box-background-blue padding-top-header white" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <i class="fa fa-unlock-alt font-14" aria-hidden="true"></i>
                            <a class="collapsed font-14" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Contraseña
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <form ng-submit="csettings.changePassword()">
                                <div class="alert alert-success alert-dismissible" role="alert" ng-show="csettings.wellDonePassword">
                                    <button type="button" class="close" aria-label="Close" ng-click="csettings.reset()"><span aria-hidden="true">&times;</span></button>
                                    <strong>Bien!</strong> Contraseña actualizada.
                                </div>
                                <div class="alert alert-warning alert-dismissible" role="alert" ng-show="csettings.error">
                                    <button type="button" class="close" aria-label="Close" ng-click="csettings.reset()"><span aria-hidden="true">&times;</span></button>
                                    <strong>Ups!</strong> Revisa la contraseña actual.
                                </div>
                                <div class="padding-15">
                                    <label class="font-12" for="current-password">CONTRASEÑA ACTUAL</label>
                                    <input ng-model="csettings.currentPassword" class="form-control form-inputs" type="password" name="current-password" value="" placeholder="Ingrese password" required>
                                </div>
                                <div class="alert alert-warning alert-dismissible" role="alert" ng-show="!csettings.passwordConfirmed">
                                    <strong>Ups!</strong> Las contraseñas no coinciden.
                                </div>
                                <div class="padding-15">
                                    <label class="font-12" for="new-password">CONTRASEÑA NUEVA</label>
                                    <input ng-model="csettings.newPassword" class="form-control form-inputs" type="password" name="new-password" value="" placeholder="Ingrese nueva password" required>
                                </div>
                                <div class="padding-15">
                                    <label class="font-12" for="confirm-password">CONFIRMAR CONTRASEÑA</label>
                                    <input ng-change="csettings.confirm()" ng-model="csettings.newPasswordConfirm" class="form-control form-inputs" type="password" name="confirm-password" value="" placeholder="Confirme nueva password" required>
                                </div>
                                <div ng-class="{'disable-box':!csettings.passwordConfirmed}" class="padding-15">
                                    <input class="pull-right form-control button-send form-inputs width-button" type="submit" name="name" value="ACTUALIZAR">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="profile-box-background-blue padding-top-header white" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <i class="fa fa-medkit font-14" aria-hidden="true"></i>
                            <a class="collapsed font-14" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Contacto de Emergencia
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <div class="padding-15">
                                <label class="font-12" for="contact-name">NOMBRE</label>
                                <input ng-model="csettings.customerData.contactName" class="input-text font-14" type="text" name="contact-name" value="" placeholder="Ingrese Nombre de Contacto">
                            </div>
                            <div class="padding-15">
                                <label class="font-12" for="contact-email">EMAIL</label>
                                <input ng-model="csettings.customerData.contactEmail" class="form-control form-inputs" type="email" name="contact-email" value="" placeholder="Ingrese Email de Contacto">
                            </div>
                            <div class="padding-15">
                                <label class="font-12" for="contact-phone">NUMERO DE TELEFONO</label>
                                <input ng-model="csettings.customerData.contactPhoneNumber" class="input-text font-14" type="text" name="contact-phone" value="" placeholder="Ingrese telefono de contacto">
                            </div>
                            <div class="padding-15">
                                <input ng-click="csettings.updateData()" class="pull-right form-control button-send form-inputs width-button" type="button" name="name" value="ACTUALIZAR">
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 1em;">
                    <a ng-show="!csettings.delete" ng-click="csettings.delete = true">Darse de baja</a>
                    <div ng-show="csettings.delete" class="alert alert-danger alert-dismissible" role="alert">
                        <button ng-click="csettings.delete = false" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p><strong>¡Espera!</strong> ¿Estás seguro que deseas eliminar tu cuenta de usuario?</p> <br>
                        <div style="text-align: right;">
                            <button ng-click="csettings.deleteUser()" type="button" id="myButton" data-loading-text="Eliminando cuenta..." class="btn btn-danger" autocomplete="off">
                                Si, estoy seguro
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
