<div class="container">
    <vh-profile-menu-directive></vh-profile-menu-directive>
    <div class="row">
        <div class="col-md-8 form-group">
            <div class="col-md-12 col-xs-12 profile-box-background-blue white">
                <h4 class="font-14"><i class="fa fa-user icon" aria-hidden="true"></i> Informacion de perfil</h4>
            </div>
            <div class="col-md-12 padding-15  profile-box-background-white">
                <label class="font-12" for="name">NOMBRE</label>
                <input class="form-control form-inputs input-text font-14" type="text" name="name" value="" placeholder="Ingrese Nombre">
            </div>
            <div class="col-md-12 padding-15  profile-box-background-white">
                <label class="font-12" for="lastname">APELLIDO</label>
                <input class="form-control form-inputs input-text font-14" type="text" name="lastname" value="" placeholder="Ingrese Apellido">
            </div>
            <div class="col-md-12 padding-15  profile-box-background-white">
                <label class="font-12" for="dni">DNI</label>
                <input class="form-control form-inputs input-text font-14" type="text" name="dni" value="" placeholder="Ingrese DNI">
            </div>
            <div class="col-md-12 padding-15  profile-box-background-white">
                <label class="font-12" for="email">EMAIL</label>
                <input class="form-control form-inputs" type="email" name="email" value="" placeholder="Ingrese E-mail">
            </div>
            <div class="col-md-12 padding-15  profile-box-background-white">
                <label class="font-12" for="address">DIRECCION</label>
                <input class="form-control form-inputs input-text font-14" type="text" name="address" value="" placeholder="Ingrese una Dirección">
            </div>
            <div class="col-md-12 padding-15  profile-box-background-white">
                <label class="font-12" for="birthdate">FECHA DE NACIMIENTO</label>
                <input ng-model="csettings.birthdate" class="form-control form-inputs input-text font-14" type="text" name="birthdate" value="" placeholder="DD/MM/YYYY" ui-mask="99/99/9999" model-view-value="true" />
            </div>
            <div class="col-md-12 padding-15  profile-box-background-white">
                <label class="font-12" for="phone">NUMERO DE TELEFONO</label>
                <input class="form-control form-inputs" type="number" name="phone" value="" placeholder="Ingrese Numero de Telefono">
            </div>
            <div class="col-md-12 padding-15" style="min-height: 5em; background:white;">
                <input class="pull-right form-control button-send form-inputs width-button" type="button" name="name" value="ACTUALIZAR">
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="profile-box-background-blue padding-top-header white" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <i class="fa fa-unlock-alt font-14" aria-hidden="true"></i>
                            <a class="collapsed font-14" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                CONTRASEÑA
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="padding-15">
                                <label class="font-12" for="current-password">CONTRASEÑA ACTUAL</label>
                                <input class="form-control form-inputs" type="password" name="current-password" value="" placeholder="Ingrese Nombre">
                            </div>
                            <div class="padding-15">
                                <label class="font-12" for="new-password">CONTRASEÑA NUEVA</label>
                                <input class="form-control form-inputs" type="password" name="new-password" value="" placeholder="Ingrese Nombre">
                            </div>
                            <div class="padding-15">
                                <label class="font-12" for="confirm-password">CONFIRMAR CONTRASEÑA</label>
                                <input class="form-control form-inputs" type="password" name="confirm-password" value="" placeholder="Ingrese Nombre">
                            </div>
                            <div class="padding-15">
                                <input class="pull-right form-control button-send form-inputs width-button" type="button" name="name" value="ACTUALIZAR">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="profile-box-background-blue padding-top-header white" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <i class="fa fa-medkit font-14" aria-hidden="true"></i>
                            <a class="collapsed font-14" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                CONTACTO DE EMERGENCIA
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <div class="padding-15">
                                <label class="font-12" for="contact-name">NOMBRE</label>
                                <input class="input-text font-14" type="text" name="contact-name" value="" placeholder="Ingrese Nombre">
                            </div>
                            <div class="padding-15">
                                <label class="font-12" for="contact-email">EMAIL</label>
                                <input class="form-control form-inputs" type="email" name="contact-email" value="" placeholder="Ingrese Nombre">
                            </div>
                            <div class="padding-15">
                                <label class="font-12" for="contact-phone">NUMERO DE TELEFONO</label>
                                <input class="form-control form-inputs" type="number" name="contact-phone" value="" placeholder="Ingrese Nombre">
                            </div>
                            <div class="padding-15">
                                <input class="pull-right form-control button-send form-inputs width-button" type="button" name="name" value="ACTUALIZAR">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
