	<style type="text/css">
        .hidden {
            display: none;
        }

        .vh-blue {
            color: #29aae3 !important;
        }

        .ttu {
            text-decoration: underline;
        }

        .facebook {
            color: #3b5998;
        }

        .twitter {
            color: #55acee;
        }

        .facebook:hover, .twitter:hover {
            color: #dedede;
        }

        .tickets {
            border: none;
        }

        .tickets .header-tickets {
            color: #666;
            border-bottom: 1px solid #cecece;
            margin-bottom: 10px;
            padding-bottom: 4px;
        }

        .tickets .ticket.list  {
            max-height: 50px;

        }

        .tickets .ticket.list p  {
            font-size: .85em;

        }

         .tickets .header.list-tickets  {
            background: #fdfdfd;
        }

        .tickets .header.list-tickets p {
            font-size: .85em !important;
        }
        .tickets .header .company,
        .tickets .header .name,
        .tickets .header .dni,
        .tickets .header .seat {
            margin-left: 10px;
        }

        .tickets .header .dni,
        .tickets .header .seat{
            margin-left: 5px;
        }

        .tickets .header .trip {
            margin-left: -5px;
        }

        .tickets .sub-header {
            background: #cecece;
            color:  #666;
            padding: 4px 0 4px 12px;
            margin-bottom: 8px;
        }

        .tickets .ticket {
            border-bottom: 1px solid  #cecece;
            padding-bottom: 8px;
            margin: 0 0 10px 0;
        }

         .tickets .ticket.last {
            border-bottom: none;
        }
        .nbb {
            border-bottom: none !important;
            margin-bottom: 0 !important;

        }

        .tickets .ticket.list-tickets p {
            font-size: .85em !important;
        }


        .tickets .ticket  img {
            max-width: 30px;
            max-height: 30px;
            margin-top: 10px;
        }

        .tickets .ticket .company h4 {
            font-family: 'Open Sans', sans-serif;
            font-size: .95rem !important;
            text-transform: capitalize;
            margin-top: 15px;
            font-weight: 600;
            line-height: 1em;
        }



        button.theme-blue,
        .btn.theme-blue{
            background: #29aae3;
            border: 0;
            color: #fff;
            transition: background-color 300ms ease-out;
            text-transform: uppercase;
            margin-bottom: 0;
            margin-top: 10px !important;
            border-radius: 0;
        }

        button.theme-blue:hover,
        .btn.theme-blue:hover {
            background: #58bef2;
            color: #fff;
        }

        @media only screen and (max-width: 40em) {
            button.theme-blue,
            .btn.theme-blue {
                margin-top: 10px !important;
            }
        }

        @media (max-width: 400px){
            .company{
                max-width: 80px !important;
                overflow: scroll !important;
            }
        }

        .text-container {
            padding: 20px 30px;
        }
        .ticket-smallest-font {
            font-size: 0.6555em !important;
        }

        #passages_link {
    display: none;
}
    </style>

<div class="container">
    <div class="row">
	<br>
	<br>
    <div class="col-xs-12 col-md-12">
        <div class="box">
            <div class="box-content">
                <br>
                <h2 class="text-center vh-blue">Tu compra ha sido <span style="font-weight: 900">exitosa</span></h2>
                <br>
            </div>
        </div>
        
        <div class="box">
            <div class="box-content np">
                <div class="text-container">
                    <p class="vh-blue"><b>Estimado(a)</b> {{success.customer}},</p>
                    <p><b>Muchas gracias por confiar en <span class="vh-blue">Resertrip</span></b></p>
                    <p class="smallest-font">Te enviamos un e-mail con los detalles de tu viaje y tu pasaje adjunto a <a href="mailto:{{success.customerEmail}}">{{success.customerEmail}}</a></p>
                </div>
                <br>
                <div class="tickets">
                    <div class="sub-header" style="background: #2BB3F0;color:#fff;">
                            <p><strong>IDA</strong></p>
                        </div>
                        <div class="row ticket " style="border-bottom: 1px solid #bbb;">
                            <div class="col-xs-4 col-md-2 col-md-offset-1">
                                <p>
                                    <strong>{{success.departureData.departureDate}} {{success.departureData.departureTime}}</strong>
                                    <small class="smallest-font vh-blue">{{success.departureData.origin}}</small>
                                    <br>
                                    <small class="smallest-font text-muted">{{success.departureData.terminalOrigin}}</small>

                                </p>
                            </div>
                            <div class="col-xs-4 col-md-2 col-md-offset-1">
                                <p>
                                    <strong>{{success.departureData.arrivalDate}} {{success.departureData.arrivalTime}}</strong>
                                    <small class="smallest-font vh-blue">{{success.departureData.destination}}</small>
                                    <br>
                                    <small class="smallest-font text-muted">{{success.departureData.terminalDestination}}</small>

                                </p>
                            </div>
                            <div class="col-xs-4 col-md-2 col-md-offset-1">
                                <p>
                                    <strong>{{success.departureData.price}} €</strong>
                                    <br>
                                    <small class="smallest-font text-muted">{{success.departureData.typeService}}</small>
                                </p>
                            </div>
                            <div class="col-xs-4 col-md-2 col-md-offset-1">
                                <p>
                                    <br>
                                    <small class="smallest-font vh-blue">No. DE VIAJE: {{success.departureData.numTrip}}</small>
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                             <!-- PARTE INFERIOR -->
                            <div class="col-xs-4 col-md-2 col-md-offset-1" >
                                <small class="smallest-font vh-blue">{{success.departureData.companyName}}</small>
                                <img ng-src="{{success.departureData.companyLogo}}" title="{{success.departureData.companyLogo}}" class="logo_small hidden-xs pull-right">
                            </div>
                            <div class="col-xs-4 col-md-2 col-md-offset-1" >
                                <small class="smallest-font text-muted">{{success.departureData.duration}}</small>
                            </div>
                            <br><br>
                        </div>
                        <div class="sub-header">
                            <p>TICKETS</p>
                        </div>
                        <div class="row ticket list last">
                            <div class="col-md-6" ng-repeat="seat in success.departureData.seats">
                                <div class="row">
                                    <div class="col-md-1 hidden-xs">
                                        <span class="label label-default">1</span>
                                    </div>
                                    <div class="col-md-3 hidden-xs">
                                        <span class="ticket-smallest-font">DNI: <span class="vh-blue">{{seat.dni}}</span></span>
                                    </div>
                                    <div class="col-md-4 col-xs-8">
                                        <span class="ticket-smallest-font">NOMBRE: <span class="vh-blue">{{seat.name}}</span></span>
                                    </div>
                                    <div class="col-md-1 col-xs-4">
                                        <span class="ticket-smallest-font">AS:<span class="vh-blue">{{seat.seatNumber}}</span></span>
                                    </div>
                                    <div class="col-md-3 hidden-xs">
                                        <span class="ticket-smallest-font">COD: <span class="vh-blue">{{seat.code}}</span></span>
                                    </div>
                                </div>

                            </div>
                        </div>


                            <div class="sub-header" style="background: #2BB3F0;color:#fff;" ng-show="success.returnData != ''">
                                <p><strong>VUELTA</strong></p>
                            </div>
                            <div class="row ticket " style="border-bottom: 1px solid #bbb;" ng-show="success.returnData != ''">
								<div class="col-xs-4 col-md-2 col-md-offset-1">
	                                <p>
	                                    <strong>{{success.returnData.arrivalDate}} {{success.returnData.arrivalTime}}</strong>
	                                    <small class="smallest-font vh-blue">{{success.returnData.origin}}</small>
	                                    <br>
	                                    <small class="smallest-font text-muted">{{success.returnData.terminalOrigin}}</small>

	                                </p>
	                            </div>
	                            <div class="col-xs-4 col-md-2 col-md-offset-1">
	                                <p>
	                                    <strong>{{success.returnData.departureDate}} {{success.returnData.departureTime}}</strong>
	                                    <small class="smallest-font vh-blue">{{success.returnData.destination}}</small>
	                                    <br>
	                                    <small class="smallest-font text-muted">{{success.returnData.terminalDestination}}</small>

	                                </p>
	                            </div>
	                            <div class="col-xs-4 col-md-2 col-md-offset-1">
	                                <p>
	                                    <strong>{{success.returnData.price}} €</strong>
	                                    <br>
	                                    <small class="smallest-font text-muted">{{success.returnData.typeService}}</small>
	                                </p>
	                            </div>
	                            <div class="col-xs-4 col-md-2 col-md-offset-1">
	                                <p>
	                                    <br>
	                                    <small class="smallest-font vh-blue">No. DE VIAJE: {{success.returnData.numTrip}}</small>
	                                    <br>
	                                </p>
	                            </div>
                        </div>
                        <div class="row" ng-show="success.returnData != ''">
                             <!-- PARTE INFERIOR -->
							 <div class="col-xs-4 col-md-2 col-md-offset-1" >
                                 <small class="smallest-font vh-blue">{{success.returnData.companyName}}</small>
                                 <img ng-src="{{success.returnData.companyLogo}}" title="{{success.returnData.companyLogo}}" class="logo_small hidden-xs pull-right">
                             </div>
                             <div class="col-xs-4 col-md-2 col-md-offset-1" >
                                 <small class="smallest-font text-muted">{{success.returnData.duration}}</small>
                             </div>
                            <br><br>
                        </div>
                         <div class="sub-header" ng-show="success.returnData != ''">
                            <p>TICKETS</p>
                        </div>
                        <div class="row ticket list" ng-show="success.returnData != ''">
							<div class="col-md-6" ng-repeat="seat in success.returnData.seats">
                                <div class="row">
                                    <div class="col-md-1 hidden-xs">
                                        <span class="label label-default">1</span>
                                    </div>
                                    <div class="col-md-3 hidden-xs">
                                        <span class="ticket-smallest-font">DNI: <span class="vh-blue">{{seat.dni}}</span></span>
                                    </div>
                                    <div class="col-md-4 col-xs-8">
                                        <span class="ticket-smallest-font">NOMBRE: <span class="vh-blue">{{seat.name}}</span></span>
                                    </div>
                                    <div class="col-md-1 col-xs-4">
                                        <span class="ticket-smallest-font">AS:<span class="vh-blue">{{seat.seatNumber}}</span></span>
                                    </div>
                                    <div class="col-md-3 hidden-xs">
                                        <span class="ticket-smallest-font">COD: <span class="vh-blue">{{seat.code}}</span></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row  text-center">
                            <div class="col-xs-12 col-md-12">
                                <br>
                                <a ng-href="{{success.pdf}}invoice/{{success.purchaseId}}" target="_blank" class="btn  theme-blue btn-lg" data-tooltip aria-haspopup="true"  title="Descarga tu voucher para obtener tu código de reserva. <b>Importante:</b> En el terminal deberás mostrar este código en las boleterias para obtener tu pasaje. Recomendamos llegar con 25 minutos de anticipación." target="_blank">
                                    TICKET <i class="fa fa-download"></i>
                                </a>
                                <br><br><br>
                            </div>
                        </div>
                    </div> <!-- end tickets -->
                </div> <!-- end box -->
            </div>
            
            <div class="box">
                <div class="box-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="text-muted">DETALLE DE PAGO</h5>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="pull-right smallest-font">Método de pago: <span class="vh-blue">{{success.providerName}}</span></span>
                                <br>
                                <span class="pull-right">TOTAL: <strong>{{success.total}} €</strong></span>
                                <br>
                                <span class="pull-right smallest-font">
                                    <a href="#" target="_blank" title="Términos y condiciones" >Términos y Condiciones</a>
                                </span>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end .col-md-12 -->
    </div> <!-- end .row -->
</div> <!-- end .container -->