<ul class="nav navbar-nav navbar-right" style="margin-right: 1em;">
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="switch_language_title" style="padding-top:1.5em;font-weight: 300;min-height:63px; text-align:right;" translate> <img style="width:25%;height:25%;margin-right:1em" src="../images/countries/flag-{{selectedCountry}}.png" alt=""><span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id="switch_language">
            <li class="country-label"><span translate>NAVBAR.COUNTRY</span></li>
            <li ng-class="{active: selectedCountry == 'es'}"><a ng-click="changeCountry('es')" ng-class="{gray: selectedCountry != 'es'}"><span translate>NAVBAR.SPAIN</span> <img src="../images/countries/flag-es.png" alt="bandera españa"></a></li>
            <li ng-class="{active: selectedCountry == 'fr'}"><a ng-click="changeCountry('fr')" ng-class="{gray: selectedCountry != 'fr'}"><span translate>NAVBAR.FRANCE</span> <img src="../images/countries/flag-fr.png" alt="bandera francia"></a></li>
            <li class="lang-label"><span translate>NAVBAR.LANG</span></li>
            <li ng-class="{active: selectedLanguage == 'es'}"><a ng-click="changeLanguage('es')" ng-class="{gray: selectedLanguage != 'es'}"><span translate>NAVBAR.SPANISH</span><img src="../images/countries/flag-es.png" alt="bandera españa"></a></li>
            <li ng-class="{active: selectedLanguage == 'en'}"><a ng-click="changeLanguage('en')" ng-class="{gray: selectedLanguage != 'en'}"><span translate>NAVBAR.ENGLISH</span><img src="../images/countries/flag-uk.png" alt="bandera reino unido"></a></li>
            <li ng-class="{active: selectedLanguage == 'fr'}"><a ng-click="changeLanguage('fr')" ng-class="{gray: selectedLanguage != 'fr'}"><span translate>NAVBAR.FRENCH</span><img src="../images/countries/flag-fr.png" alt="bandera francia"></a></li>
        </ul>
    </li>
</ul>